$primary: var(--primary_color);
$secondary: var(--secondary_color);
$radius: var(--input_radius);
$error: var(--error_color);

/* Alerts */

[data-alerts] {
  position: fixed;
  max-width:40vw;
  z-index:9999;
  .notify.in {
    opacity: 0;
    transform:translateY(20px);
    pointer-events: none;
  }
  .alert {
    position:relative;
    transition:.6s;
    max-width:100%;
    margin-top:20px;
    cursor:pointer;
    min-width:250px;
    opacity: 1;
    pointer-events: all;
    transform:none;
    border-radius: $radius;
    .data {
      transition:.6s;
      position: relative;
      display: flex;
      border-radius: $radius;
      padding: 10px;
      border:1px solid var(--input_border_color);
      background: var(--input_bg);
      box-shadow:0 10px 30px rgba(0,0,0,.2);
      gap: 10px;
      align-items: center;
      min-width: 320px;
      .fields {
        display: flex;
        margin: 10px -5px -5px;
        justify-content: center;
        flex-wrap: wrap;
        .field {
          margin:0 5px 5px;
          padding: 6px 12px;
          font-size: .9rem;
          color: #fff;
          background: $error;
          border-radius: 6px;
        }
      }
      .invalid_fields {
        display: block;
        .invalid {
          display: flex;
        }
      }
      > .ico {
        height: 50px;
        flex:0 0 50px;
        z-index: 2;
        overflow: hidden;
        > .ico {
          background: rgba(0,0,0,.1);
          height: 50px;
          width: 50px;
          min-height: 50px;
          line-height: 50px;
          border-radius: 20px;
          text-align: center;
        }
        > .bi:before {
          line-height: 50px;
          font-size: 1.4rem;
        }
      }
      .message {
        padding:0;
        flex-grow: 1;
      }
      .ico + .message {
        //padding:px 30px 30px 70px;
      }
    }
    /* .data:before {
      content:'';
      display: block;
      z-index: -1;
      position: absolute;
      left: -2px;
      top: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background: $primary;
      background: linear-gradient(160deg, $primary 0%, $secondary 100%);
      border-radius: $radius;
    } */
    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 25px;
      height:25px;
      font-size: 1.5rem;
      z-index: 2;
    }
    .time {
      position: absolute;
      left: 10px;
      bottom:5px;
      width:calc(100% - 20px);
      border-radius:3px;
      height:3px;
      background:$primary;
      opacity:.3;
    }
  }
  .alert.out {
    opacity: 0;
    transform:translateY(-20px);
    pointer-events: none;
    height: 0;
    border:0;
    margin: 0;
    .data {
      padding:0 30px 0 12px;
      opacity: 0;
    }
  }
  .alert:hover {
    box-shadow:0 10px 50px rgba(0,0,0,.3);
  }
}
[data-alerts].t, [data-alerts].top {
  top:0;
}
[data-alerts].c, [data-alerts].center {
  left:50%;
  transform:translateX(-50%);
}
[data-alerts].b, [data-alerts].bottom {
  bottom: 0;
  .alert {
    margin-bottom: 20px;
    margin-top: 0;
  }
}
[data-alerts].r, [data-alerts].right {
  right:20px;
}
[data-alerts].l, [data-alerts].left {
  left: 20px;
}
.notice {
  border-top: var(--card_border_top) solid var(--card_border_color);
  border-right: var(--card_border_right) solid var(--card_border_color);
  border-bottom: var(--card_border_bottom) solid var(--card_border_color);
  border-left: var(--card_border_left) solid var(--card_border_color);
  border-radius: var(--card_radius);
  padding: var(--card_padding_top) var(--card_padding_right) var(--card_padding_bottom) var(--card_padding_left);

}

@media all and (min-width: 0px) and (max-width: 800px) {
  [data-alerts] {
    max-width:calc(100vw - 40px);
  }
}
