/* Alerts */
[data-alerts] {
  position: fixed;
  max-width: 40vw;
  z-index: 9999;
}
[data-alerts] .notify.in {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}
[data-alerts] .alert {
  position: relative;
  transition: 0.6s;
  max-width: 100%;
  margin-top: 20px;
  cursor: pointer;
  min-width: 250px;
  opacity: 1;
  pointer-events: all;
  transform: none;
  border-radius: var(--input_radius);
  /* .data:before {
    content:'';
    display: block;
    z-index: -1;
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: $primary;
    background: linear-gradient(160deg, $primary 0%, $secondary 100%);
    border-radius: $radius;
  } */
}
[data-alerts] .alert .data {
  transition: 0.6s;
  position: relative;
}
[data-alerts] .alert .data .fields {
  display: flex;
  margin: 10px -5px -5px;
  justify-content: center;
  flex-wrap: wrap;
}
[data-alerts] .alert .data .fields .field {
  margin: 0 5px 5px;
  padding: 6px 12px;
  font-size: 0.9rem;
  color: #fff;
  background: var(--error_color);
  border-radius: 6px;
}
[data-alerts] .alert .data .invalid_fields {
  display: block;
}
[data-alerts] .alert .data .invalid_fields .invalid {
  display: flex;
}
[data-alerts] .alert .data .ico {
  position: absolute;
  left: 0;
  height: calc(100% - 10px);
  width: 50px;
  z-index: 2;
}
[data-alerts] .alert .data .ico .mat-ico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
[data-alerts] .alert .data .message {
  border-radius: var(--input_radius);
  padding: 12px 30px 20px 12px;
  border: 1px solid var(--input_border_color);
  background: var(--input_bg);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
[data-alerts] .alert .data .ico + .message {
  padding: 12px 30px 20px 50px;
}
[data-alerts] .alert .close {
  font-family: "MaterialIcons", sans-serif;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  font-size: 1.5rem;
  z-index: 2;
}
[data-alerts] .alert .time {
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: calc(100% - 20px);
  border-radius: 3px;
  height: 3px;
  background: var(--primary_color);
  opacity: 0.3;
}
[data-alerts] .alert.out {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  height: 0;
  border: 0;
  margin: 0;
}
[data-alerts] .alert.out .data {
  padding: 0 30px 0 12px;
  opacity: 0;
}
[data-alerts] .alert:hover {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

[data-alerts].t, [data-alerts].top {
  top: 0;
}

[data-alerts].c, [data-alerts].center {
  left: 50%;
  transform: translateX(-50%);
}

[data-alerts].b, [data-alerts].bottom {
  bottom: 0;
}
[data-alerts].b .alert, [data-alerts].bottom .alert {
  margin-bottom: 20px;
  margin-top: 0;
}

[data-alerts].r, [data-alerts].right {
  right: 20px;
}

[data-alerts].l, [data-alerts].left {
  left: 20px;
}

@media all and (min-width: 0px) and (max-width: 800px) {
  [data-alerts] {
    max-width: calc(100vw - 40px);
  }
}

/*# sourceMappingURL=alerts.css.map */
