$primary: var(--primary_color);
$secondary: var(--secondary_color);
$radius: var(--input_radius);

// Colors
$progress: var(--progress_color);
$warning: var(--warning_color);
$error: var(--error_color);
$success: var(--success_color);

/* Cards */

.card {
  background:#fff;
  padding: 15px;
  position: relative;
  box-shadow:0 0 30px rgba(0,0,0,.04);
  transition:.6s;
  display: block;
  margin-bottom: 20px;
  .image, .pic {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    // background-image:url('../../assets/icons/logo.svg');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
  }
  .logo {
    height: 60px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .image.b, .pic.b {
    border: 1px solid lightgrey;
  }
  .image.bg, .pic.bg {
    background: -moz-linear-gradient(169deg, $primary 0%, $secondary 100%);
    background: -webkit-linear-gradient(169deg, $primary 0%, $secondary 100%);
    background: linear-gradient(169deg, $primary 0%, $secondary 100%);
    span {
      color:#fff;
      font-weight: bold;
    }
  }
  .grad-bg, .title.grad, .gbg {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #08aeea;
    background-image: linear-gradient(45deg,$primary 0,$secondary 100%);
  }
  .pic {
    border-radius:25px;
  }
  .image.nb {
    border:none;
  }
  .image.r {
    margin:10px 0 10px auto;
  }
  .image.l {
    margin:10px auto 10px 0;
  }
  .image.xs {
    width: 20px;
    height: 20px;
  }
  .image.s {
    width: 40px;
    height: 40px;
  }
  .image.m {
    width: 60px;
    height: 60px;
  }
  .image.l {
    width: 100px;
    height: 100px;
  }
  .image.xl {
    width: 120px;
    height: 120px;
  }
  .image.xxl {
    width: 140px;
    height: 140px;
  }
  .image.x3l {
    width: 160px;
    height: 160px;
  }
  .image.x4l {
    width: 180px;
    height: 180px;
  }
  .image.wide {
    width: 100%;
  }
  .image.bg {
    width: 100%;
    border:0;
    border-radius:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size:80px;
  }
  .image.f {
    width: calc(100% + 30px);
    margin:-15px -15px auto;
    background-size: cover;
  }
  .image.cover {
    background-size:cover;
  }
  .image.contain {
    background-size:cover;
  }
  .image.center {
    background-position: center;
  }
  .title {
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
  .color1 {
    color:$primary;
  }
  .color2 {
    color:$secondary;
  }
  .title.s {
    white-space: nowrap;
    overflow: hidden;
  }
  .title.l {
    text-align: left;
  }
  .title.r {
    text-align: right;
  }
  .desc > div, .desc > p {
    font-size: 14px;
    margin:10px 0;
  }
  .desc > div:last-child, .desc > p:last-child {
    margin-bottom: 0;
  }
  .desc .ico {
    margin-right: 5px;
  }
  .actions {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity:.3;
    transition:.6s;
    z-index:5;
    display: flex;
  }
  .actions.l {
    right: auto;
    left: 10px;
  }
  .actions>i, .actions>div {
    margin:0 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .status {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 11px;
    border: 1px solid lightgrey;
    padding: 2px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: grey;
  }
  .status.r {
    left:auto;
    right:10px;
  }
  .status.plain, .status.clean, .status.p, .status.c {
    border: 1px solid transparent;
    background: none;
  }
  .status.grey, .status.gr {
    color: #fff;
    background: grey;
    border: 1px solid grey;
  }
  .status.orange, .status.in-progress, .status.progress, .status.o {
    color: $progress;
    border:1px solid $progress;
  }
  .status.bg.orange, .status.bg.in-progress, .status.bg.progress, .status.bg.o {
    background: $progress;
    border:1px solid $progress;
  }
  .status.blue, .status.b {
    color: #1b7dbb;
    border:1px solid #1b7dbb;
  }
  .status.bg.blue, .status.bg.b {
    color: #fff;
    background: #1b7dbb;
    border:1px solid #1b7dbb;
  }
  .status.green, .status.success, .status.g {
    color: $success;
    border:1px solid $success;
  }
  .status.bg.green, .status.bg.success, .status.bg.s {
    color:#fff;
    background: $success;
    border:1px solid $success;
  }
  .status.red, .status.error {
    color: $error;
    border:1px solid $error
  }
  .status.bg.red, .status.bg.error, .status.bg.r {
    color:#fff;
    background: $error;
    border:1px solid $error
  }
}
.card.p1 {
  padding: 10px;
  .image.f {
    width: calc(100% + 20px);
    margin: -20px -20px 0;
  }
}
.card.p2 {
  padding: 20px;
  .image.f {
    width: calc(100% + 40px);
    margin: -40px -40px 0;
  }
}
.card.p3 {
  padding: 30px;
  .image.f {
    width: calc(100% + 60px);
    margin: -60px -60px 0;
  }
}
.card[data-on], .card[data-off], .card[data-show], .card[data-hide] {
  cursor: pointer;
}
.acts {
  display: flex;
  justify-content: center;
  > a, > div {
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    font-size: .6rem;
    text-align: center;
  }
  .view, .go {
    background: $success
  }
  .edit {
    background: $progress;
  }
  .delete, .trash {
    background: $error;
  }
  i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: block;
    transition: .6s;
  }
}
.card.off, .card.disabled, .plate.off, .plate.disabled {
  opacity:.5;
}
/* .plate .head {
  padding:12px 15px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow:0 5px 15px rgba(0,0,0,.02);
  font-size: 15px;
  letter-spacing: 1px;
}
.plate .body {
  padding: 15px;
} */
.card:hover {
  box-shadow:0 0 30px rgba(0,0,0,.2), 0 10px 30px rgba(0,0,0,.05);
  transform:translateY(-2px);
  .actions {
    opacity:1;
  }
}
.card:not(.no-float,.nf):hover {
  transform:translateY(-2px);
}
.file_card {
  .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: rgba(0,0,0,.1);
    border-radius: 25px;
    text-align: center;
    font-size: 3rem;
  }
  .file_details {
    flex-grow: 1;
  }
  .group_details .set {
    margin-bottom: 0;
  }
}

/* RTL */

[dir=rtl] {
  .card {
    .actions {
      right:auto;
      left:10px;
    }
  }
}
