/* Cards */
.card {
  background: #fff;
  padding: 15px;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.04);
  transition: 0.6s;
  display: block;
  margin-bottom: 20px;
}
.card .image, .card .pic, .card > .ico {
  display: block;
  width: 80px;
  height: 80px;
  margin: 10px auto;
  font-size: 30px;
  padding: 20px 0;
  text-align: center;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card .logo {
  height: 60px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card .image.b, .card .pic.b {
  border: 1px solid lightgrey;
}
.card .image.bg, .card .pic.bg {
  background: -moz-linear-gradient(169deg, var(--primary_color) 0%, var(--secondary_color) 100%);
  background: -webkit-linear-gradient(169deg, var(--primary_color) 0%, var(--secondary_color) 100%);
  background: linear-gradient(169deg, var(--primary_color) 0%, var(--secondary_color) 100%);
}
.card .image.bg span, .card .pic.bg span {
  color: #fff;
  font-weight: bold;
}
.card .grad-bg, .card .title.grad, .card .gbg {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #08aeea;
  background-image: linear-gradient(45deg, var(--primary_color) 0, var(--secondary_color) 100%);
}
.card .pic {
  border-radius: 25px;
}
.card .image.nb {
  border: none;
}
.card .image.r {
  margin: 10px 0 10px auto;
}
.card .image.l {
  margin: 10px auto 10px 0;
}
.card .image.xs {
  width: 20px;
  height: 20px;
}
.card .image.s {
  width: 40px;
  height: 40px;
}
.card .image.m {
  width: 60px;
  height: 60px;
}
.card .image.l {
  width: 100px;
  height: 100px;
}
.card .image.xl {
  width: 120px;
  height: 120px;
}
.card .image.xxl {
  width: 140px;
  height: 140px;
}
.card .image.x3l {
  width: 160px;
  height: 160px;
}
.card .image.x4l {
  width: 180px;
  height: 180px;
}
.card .image.wide {
  width: 100%;
}
.card .image.bg {
  width: 100%;
  border: 0;
  border-radius: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
}
.card .image.f {
  width: calc(100% + 30px);
  margin: -15px -15px auto;
  background-size: cover;
}
.card .image.cover {
  background-size: cover;
}
.card .image.contain {
  background-size: cover;
}
.card .image.center {
  background-position: center;
}
.card .title {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.card .color1 {
  color: var(--primary_color);
}
.card .color2 {
  color: var(--secondary_color);
}
.card .title.s {
  white-space: nowrap;
  overflow: hidden;
}
.card .title.l {
  text-align: left;
}
.card .title.r {
  text-align: right;
}
.card .desc > div, .card .desc > p {
  font-size: 14px;
  margin: 10px 0;
}
.card .desc > div:last-child, .card .desc > p:last-child {
  margin-bottom: 0;
}
.card .desc .ico {
  margin-right: 5px;
}
.card .actions {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.3;
  transition: 0.6s;
  z-index: 5;
  display: flex;
}
.card .actions.l {
  right: auto;
  left: 10px;
}
.card .actions > i, .card .actions > div {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.card .status {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 11px;
  border: 1px solid lightgrey;
  padding: 2px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: grey;
}
.card .status.r {
  left: auto;
  right: 10px;
}
.card .status.plain, .card .status.clean, .card .status.p, .card .status.c {
  border: 1px solid transparent;
  background: none;
}
.card .status.grey, .card .status.gr {
  color: #fff;
  background: grey;
  border: 1px solid grey;
}
.card .status.orange, .card .status.in-progress, .card .status.progress, .card .status.o {
  color: var(--progress_color);
  border: 1px solid var(--progress_color);
}
.card .status.bg.orange, .card .status.bg.in-progress, .card .status.bg.progress, .card .status.bg.o {
  background: var(--progress_color);
  border: 1px solid var(--progress_color);
}
.card .status.blue, .card .status.b {
  color: #1b7dbb;
  border: 1px solid #1b7dbb;
}
.card .status.bg.blue, .card .status.bg.b {
  color: #fff;
  background: #1b7dbb;
  border: 1px solid #1b7dbb;
}
.card .status.green, .card .status.success, .card .status.g {
  color: var(--success_color);
  border: 1px solid var(--success_color);
}
.card .status.bg.green, .card .status.bg.success, .card .status.bg.s {
  color: #fff;
  background: var(--success_color);
  border: 1px solid var(--success_color);
}
.card .status.red, .card .status.error {
  color: var(--error_color);
  border: 1px solid var(--error_color);
}
.card .status.bg.red, .card .status.bg.error, .card .status.bg.r {
  color: #fff;
  background: var(--error_color);
  border: 1px solid var(--error_color);
}

.card.p1 {
  padding: 10px;
}
.card.p1 .image.f {
  width: calc(100% + 20px);
  margin: -20px -20px 0;
}

.card.p2 {
  padding: 20px;
}
.card.p2 .image.f {
  width: calc(100% + 40px);
  margin: -40px -40px 0;
}

.card.p3 {
  padding: 30px;
}
.card.p3 .image.f {
  width: calc(100% + 60px);
  margin: -60px -60px 0;
}

.card[data-on], .card[data-off], .card[data-show], .card[data-hide] {
  cursor: pointer;
}

.acts {
  display: flex;
  justify-content: center;
}
.acts > a, .acts > div {
  margin: 0 10px;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.6rem;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: 0.6s;
  position: relative;
}
.acts .view, .acts .go {
  background: var(--success_color);
}
.acts .edit {
  background: var(--progress_color);
}
.acts .edit:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 45px var(--progress_color);
}
.acts .delete, .acts .trash {
  background: var(--error_color);
}
.acts .delete:hover, .acts .trash:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 45px var(--error_color);
}
.acts > div:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: inherit;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(148deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3800113796) 100%);
  background: -webkit-linear-gradient(148deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3800113796) 100%);
  background: linear-gradient(148deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3800113796) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.acts i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: block;
  transition: 0.6s;
  z-index: 2;
  position: relative;
}

.card.off, .card.disabled, .plate.off, .plate.disabled {
  opacity: 0.5;
}

/* .plate .head {
  padding:12px 15px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow:0 5px 15px rgba(0,0,0,.02);
  font-size: 15px;
  letter-spacing: 1px;
}
.plate .body {
  padding: 15px;
} */
.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 0 10px 30px rgba(0, 0, 0, 0.05);
}
.card:hover .actions {
  opacity: 1;
}

.card:not(.no-float, .nf):hover {
  transform: translateY(-2px);
}

.file_card .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  text-align: center;
  font-size: 3rem;
}
.file_card .file_details {
  flex-grow: 1;
}
.file_card .group_details .set {
  margin-bottom: 0;
}

/* RTL */
[dir=rtl] .card .actions {
  right: auto;
  left: 10px;
}

/*# sourceMappingURL=cards.css.map */
