.ico {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  font-size: 0.8rem;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  cursor: pointer;
  text-decoration: none;
}

.mat-ico, .mico, .mat-ico-after:after, .mica:after {
  font-family: "MaterialIcons", sans-serif;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  text-decoration: none;
}

.mica:after {
  content: attr(data-icon-preview);
  font-size: 0.8rem;
}

.social-ico, .soc-ico, .sico, .social-ico:before, .soc-ico:before, .sico:before {
  font-family: "SocialIcons", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.bi, .bi.icon_preview {
  overflow: hidden;
  font-size: 0;
  font-family: "BootstrapIcons" !important;
}

.bi::before,
[class^=bi-]::before,
[class*=" bi-"]::before {
  font-size: 1.2rem;
  display: inline-block;
  font-family: "BootstrapIcons" !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mat-ico.bg, .mico.bg {
  color: #fff;
}

.mat-ico.grad-bg, .mico.grad-bg {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.mat-ico.xs, .mico.xs, .social-ico.xs, .soc-ico.xs, .sico.xs {
  font-size: 1rem;
}

.mat-ico.s, .mico.s, .social-ico.s, .soc-ico.s, .sico.s {
  font-size: 1.4rem;
}

.mat-ico, .mico, .social-ico, .soc-ico, .sico {
  font-size: 1.8rem;
}

.mat-ico.l, .mico.l, .social-ico.l, .soc-ico.l, .sico.l {
  font-size: 2.2rem;
}

.mat-ico.xl, .mico.xl, .social-ico.xl, .soc-ico.xl, .sico.xl {
  font-size: 2.6rem;
}

.mat-ico.xxl, .mico.xxl, .social-ico.xxl, .soc-ico.xxl, .sico.xxl {
  font-size: 3.2rem;
}

.mat-ico.orange, .mat-ico.green, .mat-ico.red, .mat-ico.blue, .bi.orange, .bi.green, .bi.red, .bi.blue {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.mat-ico.orange, .bi.orange {
  background: rgb(208, 112, 0);
  background: linear-gradient(160deg, rgb(255, 132, 0) 0%, rgb(208, 112, 0) 100%);
}

.mat-ico.green, .bi.green {
  background: rgb(0, 127, 0);
  background: linear-gradient(160deg, rgb(38, 163, 0) 0%, rgb(0, 127, 0) 100%);
}

.mat-ico.red, .bi.red {
  background: rgb(153, 1, 1);
  background: linear-gradient(160deg, rgb(153, 1, 1) 0%, rgb(119, 0, 24) 100%);
}

.mat-ico.blue, .bi.blue {
  background: rgb(0, 125, 204);
  background: linear-gradient(160deg, rgb(0, 125, 204) 0%, rgb(1, 77, 122) 100%);
}

.ico.c {
  display: block;
  margin: auto;
}

.tac .ico.dib {
  display: inline-block;
}

.ico.sm, .ico.s {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.ico.ss {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.ico.md, .ico.m {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.ico.sm {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.ico.lg, .ico.l {
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.ico.sl {
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.ico.xl {
  width: 65px;
  height: 65px;
  line-height: 65px;
}

.ico.sxl {
  width: 65px;
  height: 65px;
  line-height: 65px;
}

.ico.xxl {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.ico.s2xl {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.ico.xxxl {
  width: 150px;
  height: 150px;
  line-height: 150px;
}

.ico.sxxxl {
  width: 150px;
  height: 150px;
  line-height: 150px;
}

.ico.f, .ico.a {
  position: absolute;
}

.ico.l {
  left: 0;
  right: auto;
}

.ico.l5 {
  right: auto;
  left: 5px;
}

.ico.l1, .ico.l10 {
  right: auto;
  left: 10px;
}

.ico.l15 {
  right: auto;
  left: 15px;
}

.ico.l2, .ico.l20 {
  right: auto;
  left: 20px;
}

.ico.r {
  right: 0;
  left: auto;
}

.ico.r5 {
  left: auto;
  right: 5px;
}

.ico.r1, .ico.r10 {
  left: auto;
  right: 10px;
}

.ico.r15 {
  left: auto;
  right: 15px;
}

.ico.r2, .ico.r20 {
  left: auto;
  right: 20px;
}

[data-icon-preview] {
  padding-right: 50px;
}

[data-icon-preview]:after {
  content: attr(data-icon-preview);
  position: absolute;
  right: 5px;
  display: block;
  font-size: 2rem;
}

.icon_preview, .mico.icon_preview {
  width: 25px;
  min-height: 25px;
  line-height: 25px;
  position: absolute;
  right: 15px;
  left: auto;
  bottom: 0;
  text-align: center;
  padding: var(--input_padding_top) 0 var(--input_padding_bottom) 0;
  font-size: 1.4rem;
}

.bi.icon_preview {
  line-height: 0;
}

.bi.icon_preview:before {
  font-size: 1.2rem;
}

.icon_preview.l {
  left: 15px;
  right: auto;
}

[dir=rtl] [data-icon-preview]:after {
  right: auto;
  left: 5px;
}
[dir=rtl] .icon_preview {
  right: auto;
  left: 15px;
}
[dir=rtl] .icon_preview.l {
  left: auto;
  right: 15px;
}
[dir=rtl] .ico.l {
  left: auto;
  right: 0;
}
[dir=rtl] .ico.l5 {
  left: auto;
  right: 5px;
}
[dir=rtl] .ico.l1, [dir=rtl] .ico.l10 {
  left: auto;
  right: 10px;
}
[dir=rtl] .ico.l15 {
  left: auto;
  right: 15px;
}
[dir=rtl] .ico.l2, [dir=rtl] .ico.l20 {
  left: auto;
  right: 20px;
}
[dir=rtl] .ico.r {
  right: auto;
  left: 0;
}
[dir=rtl] .ico.r5 {
  right: auto;
  left: 5px;
}
[dir=rtl] .ico.r1, [dir=rtl] .ico.r10 {
  right: auto;
  left: 10px;
}
[dir=rtl] .ico.r15 {
  right: auto;
  left: 15px;
}
[dir=rtl] .ico.r2, [dir=rtl] .ico.r20 {
  right: auto;
  left: 20px;
}

/*# sourceMappingURL=icons.css.map */
