@charset "UTF-8";
/* Inputs */
label {
  font-size: 0.9rem;
  background: -webkit-linear-gradient(45deg, var(--primary_color), var(--secondary_color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px;
}

[type=radio] + label, [type=checkbox] + label {
  font-size: 1rem;
  margin: 0;
}

[type=text], [type=search], [type=number], [type=email], [type=date], [type=time], [type=password], [type=file], select, textarea {
  font-size: 1rem;
  line-height: 1.4rem;
  padding: var(--input_padding_top) var(--input_padding_right) var(--input_padding_bottom) var(--input_padding_left);
  transition: 0.6s;
  background-color: var(--input_bg_light);
  border-top: var(--input_border_top) solid var(--input_border_color_light);
  border-right: var(--input_border_right) solid var(--input_border_color_light);
  border-bottom: var(--input_border_bottom) solid var(--input_border_color_light);
  border-left: var(--input_border_left) solid var(--input_border_color_light);
  border-radius: var(--input_radius);
  color: var(--input_color_light);
  margin: var(--input_margin_top) var(--input_margin_right) var(--input_margin_bottom) var(--input_margin_left);
}

[type=text]:focus, [type=search]:focus, [type=number]:focus, [type=email]:focus, [type=date]:focus, [type=time]:focus, [type=password]:focus, [type=file]:focus, select:focus, textarea:focus {
  border-top: var(--input_border_top) solid var(--input_border_color_active_light);
  border-right: var(--input_border_right) solid var(--input_border_color_active_light);
  border-bottom: var(--input_border_bottom) solid var(--input_border_color_active_light);
  border-left: var(--input_border_left) solid var(--input_border_color_active_light);
  color: var(--input_color_active_light);
}

input.empty, select.empty, select.empty + .select2 .select2-selection--single,
input.required, select.required, select.required + .select2 .select2-selection--single,
input.invalid, select.invalid, select.invalid + .select2 .select2-selection--single {
  border-top: var(--input_border_top) solid firebrick;
  border-right: var(--input_border_right) solid firebrick;
  border-bottom: var(--input_border_bottom) solid firebrick;
  border-left: var(--input_border_left) solid firebrick;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-top: var(--input_border_top) solid var(--input_border_color_light);
  border-right: var(--input_border_right) solid var(--input_border_color_light);
  border-bottom: var(--input_border_bottom) solid var(--input_border_color_light);
  border-left: var(--input_border_left) solid var(--input_border_color_light);
  color: var(--input_color_light);
  transition: 0.6s;
}

.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-container .select2-selection {
  position: relative;
  border-radius: var(--input_radius);
  font-size: 1rem;
  height: auto;
  background-color: var(--input_bg_light);
}

label.beta {
  background: -webkit-linear-gradient(var(--primary_color), var(--secondary_color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

[type=radio], [type=checkbox] {
  cursor: pointer;
  margin: 8px 0;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
  position: relative;
  border-top: var(--input_border_top) solid var(--input_border_color_light);
  border-right: var(--input_border_right) solid var(--input_border_color_light);
  border-bottom: var(--input_border_bottom) solid var(--input_border_color_light);
  border-left: var(--input_border_left) solid var(--input_border_color_light);
  background: transparent;
}

[type=radio] {
  border-radius: 100%;
}

[type=radio]:checked, [type=checkbox]:checked {
  background: transparent;
}

[type=radio]:not(.slide, .switch):checked:after, [type=checkbox]:not(.slide, .switch):checked:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  display: block;
  border-radius: 5px;
  background: var(--primary_color);
  background: linear-gradient(160deg, var(--primary_color) 0%, var(--secondary_color) 100%);
}

[type=radio]:not(.slide, .switch):checked:after {
  border-radius: 100%;
}

[type=radio] + label, [type=checkbox] + label {
  text-transform: none;
  font-size: 14px;
  letter-spacing: unset;
  cursor: pointer;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

label.slide_label {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  cursor: pointer;
  color: #000;
}

label.slide_label.off {
  padding-right: 10px;
}

label.slide_label.on {
  padding-left: 10px;
}

input.load, input.loading {
  background: url("../../assets/loaders/tadpole.svg") no-repeat center;
}

/* Input Checkbox Slider */
[type=checkbox]:checked.slide:before, [type=radio]:checked.slide:before,
[type=checkbox]:checked.switch:before, [type=radio]:checked.switch:before {
  background: var(--primary_color);
  background: linear-gradient(160deg, var(--primary_color) 0%, var(--secondary_color) 100%);
}

[type=checkbox].slide, [type=checkbox].slide:active, [type=checkbox].slide:checked, [type=radio].slide, [type=radio].slide:active, [type=radio].slide:checked,
[type=checkbox].switch, [type=checkbox].switch:active, [type=checkbox].switch:checked, [type=radio].switch, [type=radio].switch:active, [type=radio].switch:checked {
  height: 20px;
  width: 50px;
  background: #ddd;
  border-radius: 10px;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  position: relative;
  appearance: none;
}

[type=checkbox].switch.s, [type=radio].switch.s,
[type=checkbox].slide.s, [type=radio].slide.s {
  height: 15px;
  width: 40px;
}

[type=checkbox].switch.xs, [type=radio].switch.xs,
[type=checkbox].slide.xs, [type=radio].slide.xs {
  height: 10px;
  width: 30px;
}

[type=checkbox].switch.l, [type=radio].switch.l,
[type=checkbox].slide.l, [type=radio].slide.l {
  height: 25px;
  width: 60px;
}

[type=checkbox].switch:before, [type=radio].switch:before,
[type=checkbox].slide:before, [type=radio].slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 20px;
  transition: 0.6s;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  background: #fff;
}

[type=checkbox].switch.s:before, [type=radio].switch.s:before,
[type=checkbox].slide.s:before, [type=radio].slide.s:before {
  height: 23px;
  width: 23px;
}

[type=checkbox].switch.xs:before, [type=radio].switch.xs:before,
[type=checkbox].slide.xs:before, [type=radio].slide.xs:before {
  height: 18px;
  width: 18px;
}

[type=checkbox].switch:checked:before, [type=radio].switch:checked:before,
[type=checkbox].slide:checked:before, [type=radio].slide:checked:before {
  left: 43%;
}

/* Textarea */
textarea {
  resize: vertical;
}

/* Input Color */
[type=color], [type=color]:focus {
  cursor: pointer;
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  border: 0;
  outline: 0;
}

/* Select2 Fixes */
.select2-container {
  margin: var(--input_margin_top) var(--input_margin_right) var(--input_margin_bottom) var(--input_margin_left);
}
.select2-container .select2-selection--single {
  height: auto;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 12px;
}
.select2-container .select2-dropdown .select2-results__options {
  overflow-x: hidden;
}

select.mb0 + .select2-container {
  margin-bottom: 0;
}

.select2-dropdown {
  border: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-selection--single {
  padding: 12px;
  box-sizing: border-box;
  height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
  width: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:after {
  font-family: "MaterialIcons", sans-serif;
  content: "";
  font-size: 1.6rem;
  line-height: 26px;
}
.select2-container--default .select2-selection--multiple {
  margin-bottom: 0;
}
.select2-container--default .select2-selection--multiple .select2-search__field {
  margin: 0;
  padding: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin: 0 2px;
  box-shadow: none;
  border: 0;
  background: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  padding: 6px;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  background-color: transparent;
}
.select2-container--default .select2-search--dropdown {
  position: relative;
  padding: 5px;
}
.select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-search--dropdown .select2-search__field:focus {
  margin: 0;
  border: 0;
  padding-left: 30px;
}
.select2-container--default .select2-search--dropdown:after {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  box-shadow: none;
  font-size: 1.2rem;
  font-family: "MaterialIcons", sans-serif;
  text-align: center;
  line-height: 24px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--primary_color);
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ddd;
}

.select2-selection__rendered {
  line-height: normal !important;
}

.select2-selection {
  outline: none;
}

/* COLOR PICKER */
[data-color-picker] {
  cursor: pointer;
  padding-right: 35px;
  position: relative;
  background: var(--input_bg_light) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><rect rx="12" ry="12" width="22" height="22" style="fill:grey"/></svg>') no-repeat calc(100% - 5px)/22px;
}

.color_picker_wrap {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 40px 20px 20px;
  border-radius: 25px;
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
  transition: 0.6s;
  backdrop-filter: blur(8px) saturate(2);
  -webkit-backdrop-filter: blur(8px) saturate(2);
  width: 340px;
  max-width: 100vw;
}
.color_picker_wrap .IroBox {
  width: 300px;
  height: 300px;
}
.color_picker_wrap .trans {
  height: 28px;
  border-radius: 15px;
  margin: 10px 0;
  background: url("../../../images/transparency.svg") repeat center/13px;
}
.color_picker_wrap .trans .grad {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
}
.color_picker_wrap .trans .set {
  height: 16px;
  width: 16px;
  border: 2px solid #000;
  border-radius: 5px;
}
.color_picker_wrap input {
  margin: 10px 0 0;
  border-radius: 10px;
  background: #f1f1f1;
  border: 0 !important;
  box-shadow: none !important;
  text-align: center;
}
.color_picker_wrap .close {
  font-family: "MaterialIcons", sans-serif;
  content: "close";
  position: absolute;
  right: 9px;
  top: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
}

.color_picker_wrap.on {
  opacity: 1;
  pointer-events: all;
}

/* AIR DATEPICKER */
.air-datepicker-body--day-name {
  background: -webkit-linear-gradient(45deg, var(--primary_color), var(--secondary_color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.air-datepicker-cell.-selected-, .air-datepicker-cell.-selected-.-focus- {
  color: var(--input_color_light);
  background: var(--primary_color);
  background: -webkit-linear-gradient(45deg, var(--primary_color), var(--secondary_color));
}

.air-datepicker-cell.-current- {
  color: var(--primary_color);
  border: 1px solid var(--primary_color);
}

.next, .prev {
  margin: 0;
}

/* TRUMBOWYG EDITOR */
.trumbowyg-button-pane {
  background: #eee;
}
.trumbowyg-button-pane .trumbowyg-button-group button {
  color: #000;
}

/* Helper */
[type=text] + .valid, [type=email] + .valid, [type=password] + .valid, select + .valid, textarea + .valid {
  font-size: 12px;
  pointer-events: none;
  height: 0;
}
[type=text] + .valid > div, [type=email] + .valid > div, [type=password] + .valid > div, select + .valid > div, textarea + .valid > div {
  display: flex;
}
[type=text] + .valid .value, [type=email] + .valid .value, [type=password] + .valid .value, select + .valid .value, textarea + .valid .value {
  margin-left: 10px;
}
[type=text] + .valid .green, [type=email] + .valid .green, [type=password] + .valid .green, select + .valid .green, textarea + .valid .green {
  color: forestgreen;
}
[type=text] + .valid .red, [type=email] + .valid .red, [type=password] + .valid .red, select + .valid .red, textarea + .valid .red {
  color: firebrick;
}

[type=text] + .valid.on, [type=email] + .valid.on, [type=password] + .valid.on, select + .valid.on, textarea + .valid.on {
  opacity: 1;
  height: auto;
}

/* Validator */
input + .valid {
  position: absolute;
  top: calc(100% - 10px);
  left: 15px;
  width: calc(100% - 30px);
  font-size: 0;
  padding: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border: 2px solid #eee;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
  z-index: 999;
  text-align: center;
}
input + .valid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input + .valid > div span {
  font-size: 0.9rem;
  margin: 0 4px;
  min-width: 80px;
}
input + .valid span.title + .value {
  margin: 0 5px;
  font-size: 1rem;
}

input + .valid:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  box-sizing: border-box;
  position: absolute;
  left: calc(50% - 5px);
  transition: 0.6s;
  top: -10px;
  opacity: 1;
  pointer-events: none;
}

input + .valid.on {
  opacity: 1;
  padding: 10px;
  font-size: 1rem;
}

.green .value {
  color: forestgreen;
}

.red .value {
  color: crimson;
}

/* Auto Filters */
.auto_filters label {
  margin-bottom: 8px;
}
.auto_filters input, .auto_filters textarea, .auto_filters select {
  margin-bottom: 0;
}
.auto_filters .filter, .auto_filters .clear {
  width: 100%;
  margin: 0;
  display: block;
  text-align: center;
  font-size: 1rem;
  text-transform: none;
  line-height: 1rem;
  border: 0;
  cursor: pointer;
  position: relative;
}
.auto_filters .filter {
  padding-left: 30px;
}
.auto_filters .filter:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
}
.auto_filters .clear {
  background: none;
}
.auto_filters .select2-container {
  margin-bottom: 0;
}

/* trumbowyg */
.trumbowyg-button-pane button {
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}
.trumbowyg-button-pane button:hover {
  transform: none;
}

.trumbowyg-dropdown button {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

/* RTL */
[dir=rtl] [type=radio] + label, [dir=rtl] [type=checkbox] + label {
  padding-left: 0;
  padding-right: 10px;
}
[dir=rtl] label.slide_label.off {
  padding-right: 0;
  padding-left: 10px;
}
[dir=rtl] label.slide_label.on {
  padding-left: 0;
  padding-right: 10px;
}

/* DARK MODE */
body.d input, body.d button, body.d select, body.d textarea {
  border: 1px solid #444;
}
body.d select {
  color: #fff;
}
body.d [type=radio], body.d [type=checkbox] {
  border: 1px solid #444;
}
body.d [type=checkbox].slide, body.d [type=radio].slide,
body.d [type=checkbox].switch, body.d [type=radio].switch {
  background: #323232;
}
body.d [type=radio]:not(:checked):not(.slide), body.d [type=checkbox]:not(:checked):not(.slide),
body.d [type=radio]:not(:checked):not(.switch), body.d [type=checkbox]:not(:checked):not(.switch) {
  background: #1e1e1e;
}
body.d [type=checkbox]:not(:checked).slide:before, body.d [type=radio]:not(:checked).slide:before,
body.d [type=checkbox]:not(:checked).switch:before, body.d [type=radio]:not(:checked).switch:before {
  background: #444;
}
body.d .color_picker_wrap {
  background: rgba(0, 0, 0, 0.8);
}
body.d .color_picker_wrap input {
  background: #1e1e1e;
}
body.d .color_picker_wrap .close {
  color: #fff;
}
body.d input[data-color-picker] {
  text-shadow: 1px 1px 1px #000;
}
body.d .select2-container--default .select2-selection--multiple {
  background: #212121;
}
body.d .select2-dropdown {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/*# sourceMappingURL=inputs.css.map */
