label.beta {
  color:#111;
}
[type=radio], [type=checkbox] {
  cursor: pointer;
  margin: 8px 8px 8px 0;
  display: inline-block;
  vertical-align: middle;
  border-radius:8px;
  position: relative;
  border:1px solid #ccc;
  background:transparent;
}
[type=radio] {
  border-radius:100%;
}
[type=radio]:checked, [type=checkbox]:checked {
  background:transparent;
}
[type=radio]:not(.slide):checked:after, [type=checkbox]:not(.slide):checked:after {
  content:'';
  position: absolute;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  display: block;
  border-radius:5px;
  background:#111;
  background: linear-gradient(160deg, #111 0%, #222 100%);
}
[type=radio]:not(.slide):checked:after {
  border-radius:100%;
}
[type=radio]+label, [type=checkbox]+label {
  text-transform: none;
  font-size: 14px;
  letter-spacing: unset;
  font-weight: lighter;
  cursor:pointer;
  color:#000;
  display: inline-block;
  vertical-align: middle;
}
input.load, input.loading {
  background:url('../../images/load.svg') no-repeat center;
}

/* Input Checkbox Slider */

[type=checkbox]:checked.slide:before, [type=radio]:checked.slide:before {
  background:#111;
  background: linear-gradient(160deg, #111 0%, #222 100%);
}
[type=checkbox].slide, [type=checkbox].slide:active, [type=checkbox].slide:checked, [type=radio].slide, [type=radio].slide:active, [type=radio].slide:checked {
  height: 20px;
  width: 50px;
  background:#ddd;
  border-radius: 10px;
  border:0;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  position: relative;
  appearance:none;
}
[type=checkbox].slide.s, [type=radio].slide.s {
  height:15px;
  width:40px;
}
[type=checkbox].slide.xs, [type=radio].slide.xs {
  height:10px;
  width:30px;
}
[type=checkbox].slide.l, [type=radio].slide.l {
  height:25px;
  width:60px;
}
[type=checkbox].slide:before, [type=radio].slide:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height:30px;
  width:30px;
  border-radius: 20px;
  transition:.6s;
  box-shadow:0 3px 15px rgba(0,0,0,.2);
  background:#fff;
}
[type=checkbox].slide.s:before, [type=radio].slide.s:before {
  height:23px;
  width:23px;
}
[type=checkbox].slide.xs:before, [type=radio].slide.xs:before {
  height:18px;
  width:18px;
}
[type=checkbox].slide:checked:before, [type=radio].slide:checked:before {
  left: 43%;
}

/* Textarea */

textarea {
  resize:vertical;
}

/* Input Color */

[type=color], [type=color]:focus {
  cursor:pointer;
  display: block;
  width:35px;
  height:35px;
  padding: 0;
  border: 0;
  outline: 0;
}
/* Select2 Fixes */

.select2-container {
  margin-bottom: 20px;
  .select2-selection {
    background:url('../../assets/icons/select.svg') no-repeat calc(100% - 10px) center / 18px;
  }
  .select2-selection--single {
    height: auto;
  }
}
select.mb0 + .select2-container {
  margin-bottom: 0;
}
.select2-dropdown {
  border: 1px solid #f1f1f1;
  border-radius:0 0 10px 10px;
}
.select2-container--default {
  .select2-selection--single {
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    height:auto;
  }
  .select2-selection--multiple {
    margin-bottom: 0;
    .select2-search__field {
      margin: 0;
      padding: 10px;
    }
    .select2-selection__choice__remove {
      margin:0 2px;
      box-shadow:none;
      border:0;
      background:none;
    }
    .select2-selection__choice {
      padding:6px;
      border: 1px solid #d8d8d8;
      border-radius: 6px;
      background-color:transparent;
    }
  }
  .select2-search--dropdown {
    padding: 5px;
    .select2-search__field {
      margin: 0;
      border:2px solid #fff;
      border-bottom:1px solid #ddd;
      border-radius:5px;
      padding:6px;
      box-shadow:none;
      font-size: 14px;
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color:#111;
  }
}
.select2-container--default.select2-container--focus {
  .select2-selection--multiple {
    border:0;
  }
}
.select2-selection__rendered {
  line-height:normal !important;
}
.select2-selection {
  outline:none;
}
.select2-selection__arrow {
  height:100% !important;
  b {
    display: none;
  }
}

/* COLOR PICKER */

[data-color-picker] {
  cursor:pointer;
  padding-right: 35px;
  position: relative;
  background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><rect rx="6" ry="6" width="25" height="25" style="fill:grey"/></svg>') no-repeat calc(100% - 10px) / 20px;
}
.color_picker_wrap {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.85);
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius:25px;
  pointer-events: none;
  opacity:0;
  z-index:9999;
  transition:.6s;
  backdrop-filter: blur(8px) saturate(2);
  -webkit-backdrop-filter: blur(8px) saturate(2);
  .trans {
    height:28px;
    border-radius:15px;
    margin:10px 0;
    background:url('../../images/transparency.svg') repeat center/ 13px;
    .grad {
      height: 100%;
      width: 100%;
      background:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    .set {
      height:16px;
      width: 16px;
      border:2px solid #000;
      border-radius:5px;
    }
  }
  input {
    margin:10px 0 0;
    border-radius:10px;
    background:#f1f1f1;
    border:0 !important;
    box-shadow:none !important;
    text-align: center;
  }
  .close {
    background:url('../../assets/icons/close.svg') no-repeat center / 70%;
    position: absolute;
    right:10px;
    top:10px;
    width:40px;
    height:40px;
    cursor: pointer;
  }
}
.color_picker_wrap.on {
  opacity:1;
  pointer-events:all
}

.next, .prev {
  margin: 0;
}

/* Auto Filters */

.auto_filters {
  label {
    margin-bottom: 8px;
  }
  input, textarea, select {
    margin-bottom: 0;
    padding:0 12px 0 0;
    border:0;
    border-radius:0;
  }
  button {
    width: 100%;
    margin: 0;
    border:1px solid #ddd;
    cursor: pointer;
  }
}

[dir=rtl] {
  .select2-container {
    .select2-selection {
      background: #f1f1f1 url('../../assets/icons/select.svg') no-repeat 10px center / 18px;
    }
  }
}

/* DARK MODE */

body.d {
  input, button, select, textarea {
    border:1px solid #444;
  }
  select {
    color:#fff;
  }
  [type=radio], [type=checkbox] {
    border:1px solid #444;
  }
  [type=checkbox].slide, [type=radio].slide {
    background:#323232;
  }
  [type=radio]:not(:checked):not(.slide), [type=checkbox]:not(:checked):not(.slide) {
    background:rgb(30,30,30);
  }
  [type=checkbox]:not(:checked).slide:before, [type=radio]:not(:checked).slide:before {
    background:#444;
  }
  .color_picker_wrap {
    background:rgba(0,0,0,.8);
    box-shadow:0 0 50px rgba(40,40,40,1);
    input {
      background:rgba(30,30,30,1);
    }
  }
  input[data-color-picker] {
    text-shadow:1px 1px 1px #000;
  }
  .select2-container--default .select2-selection--multiple {
    background:#212121;
  }
  .select2-dropdown {
    background:#333;
  }
}