$primary: var(--primary_color);
$secondary: var(--secondary_color);
$radius: var(--input_radius);

/* Modal */

.modal {
  position: fixed;
  left:50%;
  top: calc(50% + 10vh);
  transform: translate(-50%,calc(-50% - 5vh));
  background: rgba(255,255,255,.92);
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  //padding: 20px;
  width:auto;
  height:auto;
  max-height: 100vh;
  pointer-events: none;
  opacity:0;
  z-index:-1;
  margin-top: 20px;
  transition:.6s;
  backdrop-filter: blur(8px) saturate(2);
  -webkit-backdrop-filter: blur(8px) saturate(2);
  border-radius: $radius;
  .t, .title {
    margin: 0;
    padding: 20px 20px 10px;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .t.c, .title.c {
    color:$primary;
  }
  .modal {
    z-index:15;
  }
  .close {
    position: absolute;
    right:20px;
    top:10px;
    width:40px;
    height:40px;
    line-height:40px;
    cursor: pointer;
  }
  .close.bi:before {
    line-height: 40px;
    font-size: 2rem;
    text-align: center;
    width: 40px;
  }
  .modal_body {
    height: calc(100% - 40px);
    max-height: calc( calc(100vh - 55px) - 40px);
    overflow-y: auto;
    padding: 10px 20px 20px;
    overflow-x: hidden;
  }
}
.modal.r5 {
  border-radius:5px;
}
.modal.r10 {
  border-radius:10px;
}
.modal.load [onclick=process_data] {
  pointer-events: none;
}
.modal.b2 {
  border:2px solid $primary;
}
.modal.on {
  /*display: block;*/
  pointer-events:auto;
  opacity:1;
  z-index: 200;
  margin-top: 0;
}
.modal.ml {
  min-width:80vw;
}
.modal.f {
  width: 100vw;
  height: 100vh;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 0;
}
.modal.l {
  width:80vw;
}
.modal.mm {
  min-width:60vw;
}
.modal.m {
  width:60vw;
}
.modal.ms {
  min-width:40vw;
}
.modal.s {
  width:40vw;
}
.modal.mxs {
  min-width:30vw;
}
.modal.xs {
  width:30vw;
}
.modal.mxxs {
  min-width:20vw;
}
.modal.xxs {
  width:20vw;
}
.modal.b, .modal.b20, .modal.b40, .modal.b50, .modal.b60, .modal.b80 {
  top: auto;
  bottom: -20vh;
  width: 100vw;
  transform: none;
  left: 0;
  right: 0;
  border-radius: 0;
  max-height: 100vh;
}
.modal.b.on, .modal.b20.on, .modal.b40.on, .modal.b50.on, .modal.b60.on, .modal.b80.on {
  bottom: 0;
}
.modal.b20 {
  height: 20vh
}
.modal.b40 {
  height: 40vh
}
.modal.b50 {
  height: 50vh
}
.modal.b60 {
  height: 60vh
}
.modal.b80 {
  height: 80vh
}
.modal.r20, .modal.r40, .modal.r50, .modal.r60, .modal.r80 {
  top: auto;
  bottom: 0;
  height: 100vh;
  transform: none;
  left: auto;
  right: -20vw;
  border-radius: 0;
}
.modal.r20.on, .modal.r40.on, .modal.r50.on, .modal.r60.on, .modal.r80.on {
  right: 0;
}
.modal.r20, .modal.l20 {
  width: 20vw;
}
.modal.r40, .modal.l40 {
  width: 40vw;
}
.modal.r50, .modal.l50 {
  width: 50vw;
}
.modal.r60, .modal.l60 {
  width: 60vw;
}
.modal.r80, .modal.l80 {
  width: 80vw;
}
.modal.l20, .modal.l40, .modal.l50, .modal.l60, .modal.l80 {
  top: auto;
  bottom: 0;
  height: 100vh;
  transform: none;
  right: auto;
  left: -20vw;
  border-radius: 0;
}
.modal.l20.on, .modal.l40.on, .modal.l50.on, .modal.l60.on, .modal.l80.on {
  left: 0;
}

/* Responsive */

@media only screen and (max-width: 1024px) {
  .modal {
    left: 0;
    top: 50%;
    width: 100%;
    max-width:100%;
    transform:translateY(-50%);
  }
}

// RTL
[dir=rtl] .modal {
  .close {
    right: auto;
    left:10px;
  }
  .t, .title {
    letter-spacing: 0;
  }
}