/* Steps */

.step_head, .step_heads, .steps_head {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-size: 0;
}
.step {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 14px;
  background: #eee;
  position: relative;
}
.step:first-child {
  border-top-left-radius: 5px;
}
.step:last-child {
  border-top-right-radius: 5px;
}
.step.on {
  color:#fff;
  background: var(--primary-color);
  background: linear-gradient(-45deg, var(--secondary-color) 0%, var(--primary-color) 100%);
}
.step:after {
  position: absolute;
  right: -9px;
  top: 0;
  content: '';
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #eee;
  z-index:1;
}
.step.on:after {
  border-left: 10px solid var(--secondary-color);
}
.step:last-child:after {
  display: none;
}
.step:nth-child(1), .tab:nth-child(1) {
  z-index: 10
}
.step:nth-child(2), .tab:nth-child(2) {
  z-index: 9
}
.step:nth-child(3), .tab:nth-child(3) {
  z-index: 8
}
.step:nth-child(4), .tab:nth-child(4) {
  z-index: 7
}
.step:nth-child(5), .tab:nth-child(5) {
  z-index: 6
}
.step:nth-child(6), .tab:nth-child(6) {
  z-index: 5
}
.step:nth-child(7), .tab:nth-child(7) {
  z-index: 4
}
.step:nth-child(8), .tab:nth-child(8) {
  z-index: 3
}
.step:nth-child(9), .tab:nth-child(9) {
  z-index: 2
}
.step:nth-child(10), .tab:nth-child(10) {
  z-index: 1
}
.rounded {
  .step_heads, .steps_head {
    justify-content: center;
    margin-bottom: 30px;
  }
  .step {
    border-radius:50px;
    flex:0 0 50px;
    max-width:50px;
    height: 50px;
    font-size: 20px;
    margin:0 30px;
    font-weight: bold;
    padding: 15px;
    span {
      position: absolute;
      font-size: 12px;
      top: calc(100% + 4px);
      color:#000;
      left: 50%;
      transform:translateX(-50%);
      text-transform: none;
      font-weight: 500;
    }
  }
  .step:after {
    position: absolute;
    right: -60px;
    width: 60px;
    top: calc(50% - 1px);
    height: 2px;
    background:#eee;
    z-index:-1;
    border: 0;
  }
}

body.d {
  .step {
    background: #242424;
    background: linear-gradient(145deg, #242424 0%, #000 100%);
  }
  .step:after {
    border-left: 10px solid #000;
  }
  .step.on {
    color:#fff;
    background: var(--primary-color);
    background: linear-gradient(-45deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  }
  .step.on:after {
    border-left: 10px solid var(--secondary-color);
  }
}

[dir=rtl] {
  .step:after {
    right: auto;
    left: -9px;
    border-left:0;
    border-right: 10px solid #eee;
  }
  .step.on:after {
    border-left:0;
    border-right: 10px solid #000;
  }
  .step:first-child {
    border-top-left-radius:0;
    border-top-right-radius:5px;
  }
  .step:last-child {
    border-top-right-radius:0;
    border-top-left-radius:5px;
  }
}