$primary: var(--primary_color);
$secondary: var(--secondary_color);

/* Steps */

.steps {
  [data-step] {
    cursor: pointer;
  }
  .steps_content {
    position: relative;
  }
  .steps_pages {
    margin: 0 42px;
  }
  .steps_controls {
    [data-prev], [data-next] {
      position: absolute;
      left: 0;
      top: calc(50% - 21px);
      cursor: pointer;
      padding: 0;
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
    }
    [data-prev][disabled], [data-next][disabled] {
      opacity: .1;
      cursor: not-allowed;
      pointer-events: none;
    }
    [data-next] {
      left: auto;
      right: 0;
    }
    [data-prev].mat-ico, [data-next].mat-ico {
      font-size: 2rem;
    }
  }
  .sno {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.step_head, .step_heads, .steps_head {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-size: 0;
}
// Style: Circled / Default
.steps {
  .step_heads, .steps_head {
    justify-content: center;
    margin-bottom: 30px;
  }
  .step:after {
    position: absolute;
    right: -60px;
    width: 60px;
    top: calc(50% - 1px);
    height: 2px;
    background:#eee;
    z-index:-1;
    border: 0;
  }
}
.steps:not(.flat):not(.side) {
  .step {
    position: relative;
    text-align: center;
    margin:0 30px;
  }
  .step:not(:last-child):after {
    content: '';
    position: absolute;
    left: calc( 100% + 10px);
    width: 40px;
    border-bottom: 4px dashed #ccc;
  }
  .step_no {
    border-radius:50px;
    overflow: hidden;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    font-weight: bold;
    background: rgba(0,0,0,.1);
  }
  .step_title {
    position: absolute;
    font-size: 12px;
    top: calc(100% + 4px);
    color:#000;
    left: 50%;
    transform:translateX(-50%);
    text-transform: none;
    font-weight: 500;
  }
  .step.on {
    .step_no {
      color:#fff;
      background: $primary;
      background: linear-gradient(-45deg, $secondary 0%, $primary 100%);
    }
    .step_title {
      color: $primary;
    }
  }
}
// Style: Flat
.steps.flat {
  .step {
    flex-grow: 1;
    display: flex;
    text-align: center;
    cursor: pointer;
    padding: 12px 0;
    text-transform: uppercase;
    font-size: 14px;
    background: #eee;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .step_no {
    margin: 0 10px;
    font-weight: bold;
  }
  .step:first-child {
    border-top-left-radius: 5px;
  }
  .step:last-child {
    border-top-right-radius: 5px;
  }
  .step:after {
    position: absolute;
    right: -9px;
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #eee;
    z-index:1;
  }
  .step.on {
    color:#fff;
    background: $primary;
    background: linear-gradient(-45deg, $secondary 0%, $primary 100%);
  }
  .step.on:after {
    border-left: 10px solid $secondary;
  }
}
// Style: Side
.steps.side, .steps.vertical {
  display: flex;
  .step_heads {
    flex: 0 0 150px;
    display: block;
  }
  .step {
    margin: 0;
    padding: 10px;
    text-align: center;
    background: none;
    .step_no {
      font-size: 1.4rem;
    }
    .step_title {
      font-size: .9rem;
    }
  }
  .step.on {
    color:#fff;
    background: $primary;
    background: linear-gradient(-45deg, $secondary 0%, $primary 100%);
  }
  .steps_content {
    flex: calc(100% - 150px);
  }
}
.steps.side.right {
  flex-direction: row-reverse;
}
.step:last-child:after {
  display: none;
}
.step:nth-child(1), .tab:nth-child(1) {
  z-index: 10
}
.step:nth-child(2), .tab:nth-child(2) {
  z-index: 9
}
.step:nth-child(3), .tab:nth-child(3) {
  z-index: 8
}
.step:nth-child(4), .tab:nth-child(4) {
  z-index: 7
}
.step:nth-child(5), .tab:nth-child(5) {
  z-index: 6
}
.step:nth-child(6), .tab:nth-child(6) {
  z-index: 5
}
.step:nth-child(7), .tab:nth-child(7) {
  z-index: 4
}
.step:nth-child(8), .tab:nth-child(8) {
  z-index: 3
}
.step:nth-child(9), .tab:nth-child(9) {
  z-index: 2
}
.step:nth-child(10), .tab:nth-child(10) {
  z-index: 1
}
.rounded {

}

body.d {
  .step {
    background: #242424;
    background: linear-gradient(145deg, #242424 0%, #000 100%);
  }
  .step:after {
    border-left: 10px solid #000;
  }
  .step.on {
    color:#fff;
    background: $primary;
    background: linear-gradient(-45deg, $secondary 0%, $primary 100%);
  }
  .step.on:after {
    border-left: 10px solid $secondary;
  }
}

[dir=rtl] {
  .step:after {
    right: auto;
    left: -9px;
    border-left:0;
    border-right: 10px solid #eee;
  }
  .step.on:after {
    border-left:0;
    border-right: 10px solid #000;
  }
  .step:first-child {
    border-top-left-radius:0;
    border-top-right-radius:5px;
  }
  .step:last-child {
    border-top-right-radius:0;
    border-top-left-radius:5px;
  }
}