$primary: var(--primary_color);
$secondary: var(--secondary_color);
$color: var(--color);
$filled_color: var(--filled_color);

/* Tables */

table {
  width:100%;
  border-collapse: collapse;
  box-shadow:0 0 10px rgba(0,0,0,.08);
  border-spacing: 0;
  thead {
    background: linear-gradient(-90deg, $secondary 0%, $primary 100%);
    color: $filled_color;
    tr {
      //background:#fff;
      z-index:10;
      box-shadow:0 0 25px rgba(0,0,0,.05);
    }
    th {
      padding:12px 8px;
      font-weight: normal;
    }
  }
  thead.w {
    color:white;
  }
  tbody {
    background:#fff;
  }
  tr {
    //margin-top: -1px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
  }
  td {
    padding:10px;
    position: relative;
    input, textarea, select, .select2-container {
      margin: 0;
      width:auto;
    }
  }
  td.p0 {
    padding: 0 !important;
  }
  td.l, th.l, td.l input {
    text-align: left;
  }
  td.c, th.c, td.c input {
    text-align: center;
  }
  td.r, th.r, td.r input {
    text-align: right;
  }
  .acts {
    display: flex;
    > a, > div {
      margin: 0 10px;
      width: 45px;
      height: 45px;
      border-radius:10px;
      cursor: pointer;
    }
    i {
      width: 45px;
      height: 45px;
      display: block;
      transition: .6s;
    }
  }
}

table.xs {
  td {
    padding: 6px;
    font-size: 10px;
  }
}

table.s {
  td {
    padding: 8px;
    font-size: 13px;
  }
}

// Medium table
table.m {
  td {
    padding:10px;
    font-size: 15px;
  }
}

// Large table
table.l {
  tr {
    position: relative;
    border:0;
  }
  tr:after {
    content: '';
    width: calc(100% - 30px);
    left: 15px;
    height: 1px;
    background: rgba(0,0,0,.1);
    display: block;
    position: absolute;
  }
  td {
    padding:15px;
    font-size: 16px;
  }
}

// Large table
table.xl {
  tr {
    position: relative;
    border:0;
  }
  tr:after {
    content: '';
    width: calc(100% - 40px);
    left: 20px;
    height: 1px;
    background: rgba(0,0,0,.1);
    display: block;
    position: absolute;
  }
  td {
    padding:20px;
    font-size: 16px;
  }
}

// Extra large table for big family
table.xls {
  thead tr {
    box-shadow:none;
  }
  td {
    padding:8px 10px;
    border:1px solid rgba(0,0,0,.1);
    min-height:40px;
    cursor: pointer;
  }
  tbody td, tfoot td {
    padding: 0;
  }
  td input {
    margin:0;
    border-radius:0;
    box-shadow:none;
    border:0;
  }
}

// Simple Table
table.plain {
  background:none;
  border-collapse:collapse;
  border-radius:0;
  box-shadow:none;
  thead, tbody, tfoot, tr, td, th {
    box-shadow:none;
    background:#fff;
    color:#000;
  }
  tr:after {
    display: none;
  }
}

// Border Rounded Table
table.r {
  thead tr {
    border:0;
  }
  tr:first-child {
    border-radius: 5px 5px 0 0;
    td:first-child, th:first-child {
      border-top-left-radius: 5px;
    }
    td:last-child, th:last-child {
      border-top-right-radius: 5px;
    }
  }
  tr:last-child {
    border-radius:0 0 5px 5px;
    td:first-child, th:first-child {
      border-bottom-left-radius: 5px;
    }
    td:last-child, th:last-child {
      border-bottom-right-radius: 5px;
    }
  }
}

// Table without horizontal padding
table.px0 {
  td {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Dark */

body.d {
  table {
    thead {
      background: rgba(255,255,255,.06);
    }
    tbody {
      background: rgba(255,255,255,.04);
    }
    tr {
      border-top: 1px solid rgba(255,255,255,.1);
      border-bottom: 1px solid rgba(255,255,255,.1);
    }
  }
  table.plain {
    thead, tbody, tfoot, tr, td, th {
      background: 0;
      color: #fff;
    }
  }
}

[dir=rtl] {
  table.r {
    tr:first-child {
      border-radius: 0 0 5px 5px;
      td:first-child, th:first-child {
        border-top-left-radius: 0;
        border-bottom-right-radius:5px;
      }
      td:last-child, th:last-child {
        border-top-right-radius: 0;
        border-bottom-left-radius:5px;
      }
    }
    tr:last-child {
      border-radius: 5px 5px 0 0;
      td:first-child, th:first-child {
        border-bottom-left-radius:0;
        border-top-right-radius: 5px;
      }
      td:last-child, th:last-child {
        border-bottom-right-radius:0;
        border-top-left-radius:5px;
      }
    }
  }
}