/* Tabs */

.tabs {
  > div:first-child {
    display: flex;
  }
}
.tabs:not(.material):not(.float) {
  > div:last-child {
    border-top: 2px solid #111;
  }
}
.tab {
  display: block;
  padding: 12px 15px;
  background: #fff;
  position: relative;
  font-size: 15px;
  height: 40px;
  cursor: pointer;
  outline: none;
  line-height: 15px;
  width:auto;
  box-sizing:border-box;
  text-transform:uppercase;
  transition:.3s;
  // margin-right: 15px;
  .alert {
    position: absolute;
    top:-10px;
    right: 0;
    padding:2px 0;
    width: 20px;
    height: 20px;
    border-radius:15px;
    background:firebrick;
    color:#fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
  box-shadow: 0 -5px 15px rgba(0,0,0,.1);
}
.tab.r {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tab.rl {
  border-top-left-radius: 5px;
}
.tab.rr {
  border-top-right-radius: 5px;
}
.tab.on {
  background: #111;
  background: linear-gradient(-90deg, #222 0%, #111 100%);
  color: #fff;
}

// Floating Tabs
.tabs.float {
  .tab {
    margin:0 15px 15px 0;
    border-radius:10px;
  }
}

// Material Tabs
.tabs.material {
  width:100%;
  display: block;
  .tab {
    background:none;
    box-shadow:none;
    padding:10px 20px;
    line-height: normal;
    height:auto;
    color:#000;
    position: relative;
  }
  .tab.on:after {
    content:'';
    position: absolute;
    width: calc(100% - 40px);
    height: 2px;
    bottom: 0;
    left: 20px;
    background:#000;
  }
}

// Design 2
.tabs.two {
  .tab {
    margin-right: 5px;
  }
  .tab:not(.on) {
    padding:10px 15px;
    height:36px;
    margin-top:4px;
  }
}
[dir=rtl] .tabs.two {
  .tab {
    margin-right: 0;
    margin-left: 5px;
  }
}

// Dark mode
body.d {
  .tab {
    box-shadow: 5px 0 45px #000;
  }
}

@media all and (min-width:0px) and (max-width: 800px) {
  .tabs>div:first-child {
    display: flex;
    overflow-x:auto;
  }
  .tab {
    white-space: nowrap;
  }
}