$primary: var(--primary_color);
$secondary: var(--secondary_color);
$color: var(--color);
$error: var(--error_color);

/* Tabs */

.tab_heads {
  display: flex;
}
.tab_data_box {
  background: #fff;
}
.tab {
  display: block;
  padding: 12px 15px;
  background: #fff;
  position: relative;
  font-size: 15px;
  height: 40px;
  cursor: pointer;
  outline: none;
  line-height: 15px;
  width:auto;
  box-sizing:border-box;
  text-transform:uppercase;
  transition:.3s;
  // margin-right: 15px;
  .alert {
    position: absolute;
    top:-10px;
    right: 0;
    padding:2px 0;
    width: 20px;
    height: 20px;
    border-radius:15px;
    background:$error;
    color:#fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
  box-shadow: 0 -5px 15px rgba(0,0,0,.1);
}
.tab.r {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tab.rl {
  border-top-left-radius: 5px;
}
.tab.rr {
  border-top-right-radius: 5px;
}
.tab.on {
  background: $primary;
  background: linear-gradient(-15deg, $secondary 0%, $primary 100%);
  color: #fff;
}
.tabs.c {
  .tab_heads {
    justify-content: center;
  }
}

// Side Tabs
.tabs.side, .tabs.vertical {
  display: flex;
  .tab_heads:not(.fluid):not(.wide) {
    flex: 0 0 150px;
  }
  .tab_heads {
    display: block;
    flex: 0 0 100%;
  }
  .tab {
    margin: 0;
    padding: 10px;
    text-align: center;
    border: 1px solid transparent;
    border-right: 1px solid #ccc;
    text-transform: none;
    background: none;
    opacity: .5;
    box-shadow: none;
    .tab_title {
      font-size: .9rem;
    }
  }
  .tab.on {
    border: 1px solid #ccc;
    border-right: 1px solid transparent;
    opacity: 1;
    color: $primary;
  }
  .tab.on:after {
    display: none;
  }
  .tabs_content {
    flex: calc(100% - 150px);
  }
}
.tabs.side.right {
  flex-direction: row-reverse;
}

// Floating Tabs
.tabs.float {
  .tab {
    margin:0 15px 15px 0;
    border-radius:10px;
  }
  .tab.on {
    border: 1px solid #ccc;
    border-left: 1px solid transparent;
  }
}

// Material Tabs
.tabs.material {
  width:100%;
  display: block;
  .tab {
    background:none;
    box-shadow:none;
    padding:10px 20px;
    line-height: normal;
    height:auto;
    color:#000;
    position: relative;
    border-bottom: 2px solid transparent;
  }
  .tab.on {
    border-bottom: 2px solid #000;
  }
  > div > .tab.on:after {
    content:'';
    position: absolute;
    width: calc(100% - 40px);
    height: 2px;
    bottom: 0;
    left: 20px;
    background:#000;
  }
}
.tabs.material.light {
  .tab {
    color: #fff;
  }
  > div > .tab.on:after {
    background: #fff;
  }
}

// Design 2
.tabs.two {
  .tab {
    margin-right: 5px;
  }
  .tab:not(.on) {
    padding:10px 15px;
    height:36px;
    margin-top:4px;
  }
}
[dir=rtl] .tabs.two {
  .tab {
    margin-right: 0;
    margin-left: 5px;
  }
}

// Design 3
.tabs.three {
  .tab {
    box-shadow: none;
    font-size: .9rem;
    padding: 16px 20px;
    height: auto;
  }
  .tab.on {
    background: #fff;
  }
  .tab:first-child {
    border-radius: 10px 0 0 10px;
  }
  .tab:last-child {
    border-radius: 0 10px 10px 0;
  }
  > div > .tab.on:after {
    content: '';
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: linear-gradient(318deg, var(--primary_color) 0%, var(--secondary_color) 100%);
    z-index: -1;
    border-radius: 8px;
  }
}

// Design Process
.tabs.process {
  .tab {
    box-shadow: none;
    height: auto;
    font-weight: bold;
    background: none;
  }
  .tab:not(:last-child):after {
    content:'';
    position: absolute;
    height: 4px;
    width: 100%;
    z-index: -1;
    display: block;
    left: 50%;
    top: 35px;
    background: #eee;
  }
  .mat-ico {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    display: block;
    margin: 0 auto 10px;
    background: #eee;
  }
  .tab.on {
    background: none;
    color: var(--primary_color);
    .mat-ico {
      color: var(--filled_color);
      background: var(--primary_color);
      background: linear-gradient(-15deg, var(--secondary_color) 0, var(--primary_color) 100%);
    }
  }
}

// Vertical Tabs
.tabs.vertical {
  display: flex;
  > div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    > div, > a {
      flex: 0 0 100%;
    }
  }
  > div:nth-child(2) {
    flex-grow: 1;
  }
}

// Dark mode
body.d {
  .tab:not(.on) {
    background: rgba(255,255,255,.2);
    color: #fff;
    //box-shadow: 5px 0 45px #000;
  }
}

@media all and (min-width:0px) and (max-width: 800px) {
  .tabs>div:first-child {
    display: flex;
    overflow-x:auto;
  }
  .tab {
    white-space: nowrap;
  }
}