$primary: var(--primary_color);
$secondary: var(--secondary_color);
$color: var(--color);
$filled_color: var(--filled_color);
$radius: var(--input_radius);
$border-top: var(--input_border_top);
$border-right: var(--input_border_right);
$border-bottom: var(--input_border_bottom);
$border-left: var(--input_border_left);
$margin-top: var(--input_margin_top);
$margin-right: var(--input_margin_right);
$margin-bottom: var(--input_margin_bottom);
$margin-left: var(--input_margin_left);
$padding-top: var(--input_padding_top);
$padding-right: var(--input_padding_right);
$padding-bottom: var(--input_padding_bottom);
$padding-left: var(--input_padding_left);

// Light Options
$bg-light: var(--input_bg_light);
$border-color-light: var(--input_border_color_light);
$border-color-active-light: var(--input_border_color_active_light);
$color-light: var(--input_color_light);
$color-active-light: var(--input_color_active_light);

// Dark Options
$bg-dark: var(--input_bg_dark);
$border-color-dark: var(--input_border_color_dark);
$border-color-active-dark: var(--input_border_color_active_dark);
$color-dark: var(--input_color_dark);
$color-active-dark: var(--input_color_active_dark);


.aio_fsp.aio_files {
  border: 2px solid #eee;
  background: #eee;
  padding: 15px 15px 0;
  min-height: 50px;
  border-radius: 8px;
  button {
    background: rgba(0,0,0,.1);
    font-size: 0;
    border-radius: 8px;
  }
  button:after {
    width: 37px;
  }
  .w > .f {
    border: 0;
    background: #fff;
  }

}
.aio_upload {
  border: 2px solid #eee;
  background: none;
  color: $primary;
  box-shadow: none;
  border-radius:30px;
  margin: 0;
  padding: 12px;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: bold;
  position: relative;
}
.aio_upload:after { //.select2-selection:after
  content:'\e9fc';
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-family: 'MaterialIcons',sans-serif;
  font-size: 1.8rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  left: auto;
}
.select2-selection:after {
  //content:'\e313'
}
[data-prev], [data-next] {
  border-radius: 20px;
  box-shadow: none;
  padding: 8px 30px;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  position: relative;
}
[data-prev]:not(.mat-ico):after, [data-next]:not(.mat-ico):after {
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
}
[data-prev]:after {
  left: 5px;
  right: auto;
  mask: url('../../icons/left.svg') no-repeat center / contain;
  -webkit-mask: url('../../icons/left.svg') no-repeat center / contain;
}
[data-next]:after {
  left: auto;
  right: 5px;
  mask: url('../../icons/right.svg') no-repeat center / contain;
  -webkit-mask: url('../../icons/right.svg') no-repeat center / contain;
}

/* Banner Image */

.banner {
  height: 300px;
  position: relative;
  overflow: hidden;
  color: #fff;
  .title {
    color: #fff;
    text-transform: uppercase;
  }
  .right, .left {
    position: absolute;
    width: calc(100% - 460px);
    top: 20px;
    height: calc(100% - 40px);
  }
  .left {
    left: 20px;
    right: auto;
  }
  .right {
    right: 20px;
    left: auto;
  }
  .tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .stats {
    .stat {
      background: rgba(255, 255, 255, 0.05);
      //border-radius: 16px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      text-transform: uppercase;
      h3 {
        color: #fff;
        margin-bottom: 6px;
        font-weight: lighter;
        font-size: 1.4rem;
      }
      div {
        opacity: .5;
      }
    }
  }
  .status {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px 15px;
    border-radius: 4px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .status.l {
    left: 20px;
    right: auto;
  }
  .status.r {
    right: 20px;
    left: auto;
  }
}
.banner_wrap {
  .banner_image {
    position: absolute;
    left: 20px;
    top: 20px;
    min-width: 200px;
    width: 100%;
    max-width: 400px;
    height: calc(100% - 40px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    border-radius: 2px;
    z-index: 2;
    border: 2px solid #fff;
  }
  .banner_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $primary;
    background: linear-gradient(320deg, $primary 0%, $secondary 100%);
  }
  .banner_bg:after {
    content:'';
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
  .banner_image.l {
    background-position: left center;
  }
  .banner_image.r {
    background-position: right center;
  }
}
.banner.s {
  height: 200px;
}
.banner.m {
  height: 300px;
}
.banner.l {
  height: 400px;
}
.banner.xl {
  height: 500px;
}
.banner.f {
  height: 100%;
}
.banner.off {
  height: 80px;
}

/* Buttons */

button.store, .btn.store {
  position: relative;
  padding: 14px 20px;
  border-radius: 8px;
  margin: 15px 6px;
}
button.pop, .btn.pop {
  position: relative;
  padding: 14px 20px 14px 40px;
  border-radius: 8px;
  margin: 15px 6px;
}
button:after, .btn:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  width: 20px;
  height: 20px;
  //mask: url(../../../icons/save.svg) no-repeat center/contain;
  //-webkit-mask: url(../../../icons/save.svg) no-repeat center/contain;
}
.actions.float {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  button, .btn {
    border-radius: 20px;
    font-size: 1em;
    padding: 12px 15px;
    border: 0;
    color: #fff;
    position: relative;
  }
  button.pop, .btn.pop, button.trash, .btn.trash, button.print, .btn.print {
    padding: 12px 15px 12px 40px;
  }
  button.pop:after, button.trash:after, button.print:after {
    background: #fff;
  }
  button.pop:after, .btn.pop:after {
    mask: url('../../icons/open.svg') no-repeat center / contain;
    -webkit-mask: url('../../icons/open.svg') no-repeat center / contain;
  }
  button.trash:after, .btn.trash:after {
    mask: url('../../icons/trash.svg') no-repeat center / contain;
    -webkit-mask: url('../../icons/trash.svg') no-repeat center / contain;
  }
  button.print:after, .btn.print:after {
    mask: url('../../icons/print.svg') no-repeat center / contain;
    -webkit-mask: url('../../icons/print.svg') no-repeat center / contain;
  }
}

/* General */

body {
  background: #f3f3f3;
  margin:120px 0 90px;
  min-height: calc( 100vh - 210px);
}
.invoice_view {
  margin: 20px auto;
  width: 1024px;
  border: rgba(0,0,0,.1);
  .head, thead,  {
    padding: 20px;
  }
  tbody {
    padding: 20px;
  }
  h2 {
    margin:0 0 20px;
  }
  .info {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    > div {
      margin:0 10px 12px;
      border-radius: 12px;
      padding: 15px;
      background: rgba(0,0,0,.1);
      flex: 0 0 calc(50% - 20px);
      span {
        display: block;
        font-size: .7em;
        margin-bottom: 6px;
        opacity: .3;
      }
    }
  }
  .loc {
    border-radius: 12px;
    padding: 15px;
    background: rgba(0,0,0,.1);
    > div {
      margin-bottom: 6px;
    }
    span {
      display: block;
      font-size: .7em;
      margin-bottom: 6px;
      opacity: .3;
    }
  }
}

/* Header */

header {
  height:70px;
  position: fixed;
  top:0;
  width:100%;
  left:0;
  background: #fff;
  background-size: 200% 200%;
  box-shadow:0 0 40px rgba(0,0,0,.1);
  z-index: 100;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  > div {
    max-width: 50vw;
    display: flex;
  }
}

/* BODY */

article {
  transition:.4s;
  > div {
    transition:.6s;
  }
}
article.fade > div {
  opacity: .1;
  pointer-events: none;
}
.nav_ico {
  width:50px;
  height:100%;
  max-height:70px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  .ico, .mat-ico {
    width: 50px;
    height: 100%;
    line-height: 70px;
    text-align: center;
  }
  .drop {
    position: absolute;
    top: calc(100% - 16px);
    right: 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    display: none;
    z-index: 99;
    border-radius: 20px 0 20px 20px;
    text-align: center;
    overflow:hidden;
  }
  .list {
    max-width: 350px;
    min-width:120px;
    padding:10px 20px;
    border-bottom:1px solid #ddd;
    transition:.6s;
    white-space: nowrap;
  }
  .list:hover {
    background:rgba(0,0,0,.1);
  }
  .list:last-child {
    border:0;
  }
  .list.on {
    background:rgba(0,0,0,.05);
  }
}
.reg-ico {
  font-size: 1.8rem;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 70px;
  /* span {
    position: absolute;
    bottom: 5px;
    left: 0;
    right:0;
    text-align: center;
    font-size: .7rem;
    opacity: .5;
    text-transform: uppercase;
    font-weight: bold;
  } */
}
.nav_ico:hover .drop {
  display: block;
}
#menu {
  .menu {
    display: block;
  }
  .close {
    display: none;
  }
}
#menu.on {
  .menu {
    display: none;
  }
  .close {
    display: block;
  }
}
a.brand {
  display:block;
  max-height:70px;
  height:100%;
  width:180px;
  background: url('../../images/aio.svg') no-repeat left center / contain;
}
#controls > div {
  display: inline-block;
  vertical-align: top;
}
#finder {
  width:100%;
  max-width:280px;
  position: relative;
  height:50px;
  margin: 12px 0 0;
  .search_btn  {
    position: absolute;
    right:0;
    top:0;
    width:50px;
    height:50px;
    background: #000;
    mask: url('../../icons/search.svg') no-repeat center / 45%;
    -webkit-mask: url('../../icons/search.svg') no-repeat center / 45%;
    content:'';
  }
  input {
    border: 0;
    border-radius:$radius;
    background:rgba(0,0,0,.05);
    height:46px;
    font-size: 20px;
    letter-spacing: 1px;
    transition: .8s;
    color: #000;
    margin:0;
    padding:5px 20px;
    box-shadow:0 0 40px rgba(0,0,0,.0) inset;
  }
  input::placeholder {
    color:rgba(0,0,0,.4);
  }
  input:focus {
    background:rgba(0,0,0,.05);
    box-shadow:0 0 40px rgba(0,0,0,.06) inset;
  }
}
#log_off {
  background: #000;
  mask: url('../../icons/power.svg') no-repeat center / 60%;
  -webkit-mask: url('../../icons/power.svg') no-repeat center / 60%;
}
#alert {
  span {
    font-size:12px;
    color: $filled_color;
    background: $primary;
    background: linear-gradient(160deg, $primary 0%, $secondary 100%);
    border-radius:50%;
    position: absolute;
    right:5px;
    bottom:15px;
    width:10px;
    height:10px;
    text-align: center;
    padding: 4px;
    box-sizing: content-box;
    line-height: 100%;
    font-weight: bold;
  }
}
#back {
  background:url('../../icons/back.svg') center no-repeat;
  background-size:50%;
  opacity:.5;
  transition:.3s
}
#back:hover {
  opacity:1;
}
.user_drop {
  width: auto;
  position: relative;
  .user_pic {
    position: absolute;
    top:20px;
    left:5px;
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    border-radius:50%;
    color:#fff;
    padding:5px;
    z-index: 101;
    background:$primary url('../../images/user.svg') no-repeat center / cover;
  }
  .user_pic.bg {
    color:transparent;
  }
  .user_name {
    border:1px solid rgba(0,0,0,.2);
    height: 40px;
    margin: 15px 0;
    padding:8px 35px 8px 45px;
    font-weight: 200;
    font-size: 1.1rem;
    color:#000;
    box-sizing:border-box;
    border-radius:20px;
    transition:.6s;
    background:#fff url('../../icons/select.svg') no-repeat calc(100% - 12px) / 18px;
    position: relative;
    white-space: nowrap;
  }
  .user_details {
    width:350px;
    position: absolute;
    top:calc(100% - 16px);
    right:0;
    background:#fff;
    box-shadow:0 0 30px rgba(0,0,0,.2);
    max-width:350px;
    display: none;
    z-index:99;
    border-radius:20px 0 20px 20px;
    padding:20px;
    text-align: left;
    .name {
      color:$primary;
      font-weight: 500;
      margin: 10px 0;
      text-align: center;
    }
    .role {
      text-align: center;
      opacity: .6;
    }
    .pic {
      position: relative;
      display: block;
      margin:0 auto 15px;
      width: 80px;
      height: 80px;
      background: url('../../images/user.svg') no-repeat center / cover;
    }
    .links > a, .links > div {
      display: block;
      opacity: .4;
    }
  }
  .user_pic.m, .user_pic.l {
    width:70px;
    height: 70px;
    border-radius:50%;
    font-size: 30px;
    padding: 15px;
  }
  .user_pic.l {
    width:180px;
    height:180px;
    z-index: initial;
    box-shadow:0 0 30px rgba(0,0,0,.1) inset;
  }
}
.user_drop:hover {
  .user_name {
    border: 1px solid #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    z-index: 100;
    border-radius: 20px 20px 0 0;
  }
  .user_details {
    display: block;
  }
}

/* SUB HEADER */

.header {
  position: fixed;
  top: 70px;
  width: 100%;
  background: rgba(255,255,255,.95);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding:10px 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index:20;
  height: 50px;
  line-height: 50px;
  //justify-content: space-between;
  .back {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  > div, > .title {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    //display: flex;
  }
  > div:nth-child(2) {
    //align-items: center;
    //justify-content: center;
  }
  > div:nth-child(3) {
    //align-items: center;
    //justify-content: flex-end;
  }
  .title {
    display: block;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: lighter;
    padding-left: 50px;
  }
  /* .c {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
  } */
  .tabs, .views {
    display: flex;
    justify-content: center;
    > a, > div {
      padding: 0 10px;
      display: block;
      position: relative;
      opacity: .3;
      cursor: pointer;
      height: 50px;
      > div, > i {
        line-height: 50px;
      }
    }
    > a.on, > div.on {
      opacity: 1;
    }
    a.on:after, div.on:after {
      content: "";
      display: block;
      left: 10px;
      bottom: 6px;
      height: 2px;
      background: #000;
      position: absolute;
      width: calc(100% - 20px);
    }
  }
  .status, .high {
    position: absolute;
    left:50%;
    top:50%;
    text-transform: uppercase;
    transform:translate(-50%,-50%);
    font-size: 12px;
    letter-spacing: 2px;
    border:1px solid #000;
    border-radius:4px;
    padding:4px 6px;
  }
  .status {
    top:20px;
    right:20px;
    left:auto;
    transform:none;
  }
  .status.green {
    color:darkolivegreen;
    border:1px solid darkolivegreen;
  }
  .status.red {
    color:firebrick;
    border: 1px solid firebrick;
    background:rgba(255,255,255,.3);
  }
  .sub_title {
    font-size: 11px;
    color: #aaaaaa;
    letter-spacing: 1px;
    margin: 6px 0 0;
  }
  #back {
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:50px;
  }
  .actions {
    display: flex;
    //position: absolute;
    //right:50%;
    //top:0;
    height: 50px;
    //transform:translateX(50%);
    //padding:12px;
    a {
      margin:0 15px;
      font-size: 1rem;
      line-height: 1.6rem;
      font-weight: lighter;
    }
  }
  .actions {
    right:0;
    transform:none;
  }
  input[type=text], select {
    border: 0;
    border-radius: 0;
    margin: -10px 10px;
    padding: 6px 12px;
  }
  input[type=text]:focus, select:focus {
    border: 0;
  }
  select {
    padding: 6px 30px 6px 12px;
  }
}
.header.w {
  color:#fff;
}
.header.m .high {
  top:calc(50% - 24px);
}
.header.w .high {
  border:1px solid #fff;
}
.header.l {
  display: block;
  padding: 0;
  .title {
    margin: 40px 20px 10px;
    font-size: 28px;
  }
  .sub_title {
    margin: 0 20px 40px 20px;
    font-size: 20px;
    color:#000;
  }
  .image {
    height:80px;
    width:200px;
    position: absolute;
    right:20px;
    top:50px;
    background-size:contain !important;
    background-position:center !important;
    background-repeat: no-repeat !important;
  }
  .image.s {
    height:50px;
  }
}
.header.w.l .sub_title {
  color:rgba(255,255,255,.6);
}
.header.l .tabs.material .tab {
  padding:15px 25px;
}

/* Navigation */

aside {
  width:420px;
  height: calc(100vh - 70px);
  position: fixed;
  left:-450px;
  top:70px;
  box-shadow:0 0 60px rgba(0,0,0,.2);
  z-index: 95;
  background: rgba(255,255,255,.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition:.6s;
  overflow-y:auto;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  .set {
    padding: 12px 0 0;
    > .title {
      text-transform: uppercase;
      letter-spacing: 0;
      opacity: .3;
      margin-bottom: 12px;
    }
  }
  .set:not(:last-child) {
    border-bottom:2px solid #efefef;
  }
  i.mico.l {
    height: 45px;
    width: 45px;
    margin: 5px auto;
    display: block;
    font-size: 2.6rem;
  }
  a {
    display: block;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 0;
    padding: 8px;
    box-shadow:0 5px 25px rgba(0,0,0,.1);
    border-radius:$radius;
    background: #fff;
    transition: .8s;
    margin: 0 0 12px;
  }
  a:hover {
    transform: translateY(-1px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);
  }
  a.bg {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  .home_link {
    background: none;
    box-shadow: none !important;
    padding: 0;
    height: 100%;
    margin: 0;
  }
  [type=search] {
    margin: 0;
    padding: 12px 15px 12px 40px;
    font-size: 1rem;
    border-radius:$radius;
    background:#eee url('../../icons/search.svg') no-repeat 10px center / 24px;
  }
}
aside.colored {
  .item {
    .bg {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
aside.on {
  left: 0;
  opacity: 1;
  pointer-events: all;
}
aside::-webkit-scrollbar {
  display: none;
}

/* FILTERS */

.filters_wrap {
  padding: 20px 20px 0 20px;
}
.auto_filters {
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  label {
    font-weight: bold;
    font-size: .7rem;
    display: block;
    margin: 0;
  }
  input, textarea, select, .select2-container--default .select2-selection--single {
    padding: 10px 0 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    //border-bottom: 2px solid #ccc;
    transition: .6s;
    font-size: .9rem;
  }
  input:focus, textarea:focus, select:focus {
    border: 0;
    //border-bottom: 2px solid $primary;
  }
  button, .btn {
    box-shadow: none;
  }
  .clear {
    color: #000;
    outline: 1px solid #eee;
  }
}
.reports_wrap {
  .auto_filters {
    border-radius: 15px;
    padding: 20px;
    label {
      font-size: .8rem;
      margin-bottom: 10px;
    }
    input, textarea, select {
      // background-color: #eee;
      padding: 12px;
      font-size: 1.2rem;
      border-radius: 8px;
      margin-bottom: 20px;
      border: 2px solid #eee;
    }
    .select2.select2-container.select2-container--default {
      margin-bottom: 20px;
    }
    .select2.select2-container.select2-container--default .select2-selection {
      border: 2px solid #eee;
      padding: 12px;
    }
    .select2-selection__placeholder, .select2-selection__rendered {
      font-size: 1.2rem;
    }
    .inputs {
      flex:0 0 100%;
    }
    > .row {
      justify-content: center;
    }
    .actions {
      text-align: center;
      width: auto;
      flex:0 0 33.3333%;
      .row {
        justify-content: center;
        .col {
          //flex: 0 0 200px;
        }
      }
    }
    .filter, .clear {
      font-size: 1.2rem;
      padding: 20px;
      text-transform: uppercase;
      border-radius: 8px;
    }
    .filter {
      padding: 20px 20px 20px 40px;
    }
    .clear {
      box-shadow: 0 5px 15px rgba(0,0,0,.1);
    }
    .filter:after {
      mask: url('../../icons/search.svg') no-repeat center/contain;
      -webkit-mask: url('../../icons/search.svg') no-repeat center/contain;
    }
  }
}

/* CONTENT */

.html_code {
  min-height: 300px;
}
.group_details {
  background: #fff;
  padding: 20px 20px 0;
  border-radius: $radius;
  margin-bottom: 20px;
  .group_title {
    margin: -20px -20px 20px;
    color: #fff;
    border-radius: $radius $radius 0 0;
    padding: 12px 20px;
    font-weight: lighter;
    font-size: 1.1rem;
    letter-spacing: 2px;
    background: $primary;
    background: linear-gradient(320deg, $primary 0%, $secondary 100%);
  }
  h2, h3, h4 {
    text-transform: uppercase;
    margin:0 0 20px;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .set {
    margin-bottom: 25px;
  }
  .key {
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: 10px;
    opacity: .4;
    font-weight: bold;
  }
  .val {
    font-size: 1rem;
    padding: 6px 0;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px -6px 0;
    font-size: 1.1rem;
    .tag {
      background: #eee;
      font-size: 1rem;
      padding: 6px 10px;
      border-radius: 6px;
      margin:0 6px 6px;
    }
  }
}
fieldset {
  background: #eee;
  color: #000;
  padding: 8px 20px;
  margin: var(--input_margin_top) var(--input_margin_right) var(--input_margin_bottom) var(--input_margin_left);
}
.row [class^='col'], .row [class*=' col'] {
  position: relative;
}
.acts {
  color: var(--filled_color);
  [title=View] {
    background: $primary;
    background: linear-gradient(160deg, $primary 0%, $secondary 100%);
  }
  [title=Edit] {
    background-color: #FAD961;
    background-image: linear-gradient(145deg, #FAD961 0%, #F76B1C 100%);
  }
  [title=Delete] {
    background-color: #be0909;
    background-image: linear-gradient(147deg, #be0909 0%, #9d1d1d 74%);
  }
  i:after {
    color: #fff;
    font-family: 'MaterialIcons', sans-serif;
    font-size: 1.6rem;
    line-height: 45px;
  }
  i.edit:after {
    content:'\e3c9';
  }
  i.view:after {
    content:'\e8a0'
  }
  i.delete:after, i.trash:after {
    content: '\e872'
  }
  i.inspect:after {
    content: '\ea9b'
  }
  i.pay:after {
    content: '\ef63'
  }
  i.map:after {
    content: '\e55f'
  }
  i.up:after, i.upload:after {
    content: '\f09b'
  }
  i.down:after, i.download:after {
    content: '\e2c4'
  }
}

/* Tabs */

.vertical_tabs {
  padding: 20px 0;
  div {
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    border-right: 1px solid #ccc;
    border-left: 2px solid transparent;
    opacity: .5;
  }
  div:first-child {
    //border-top: 1px solid #ccc;
  }
  div.on {
    opacity: 1;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 0;
  }
}
.vertical_blocks {
  max-height: calc(100vh - 180px);
  padding: 0 20px 20px 0;
  overflow-y: auto;
}

/* REPORT PAGE */

.report_page {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  padding: 20px;
  table, .charts {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .charts {
    display: none;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
    margin: 0 -10px 20px;
    > div {
      flex:0 0 20%;
      flex-shrink: 0;
      scroll-snap-align: start;
      cursor: pointer;
      padding: 20px;
      border: 2px solid red;
      margin:0 10px;
    }
  }
}

/* EMAIL OPTIONS */

.template_preview {
  height: 300px;
  width: 100%;
  transition: 1s;
  margin-bottom: 20px;
}

/* GOOGLE MAP */

.map_wrap {
  input[type=text] {
    margin: 0;
    //border: $border;
    border-radius: $radius $radius 0 0;
  }
}
.google_map {
  min-height: 200px;
  border-radius:0 0 $radius $radius;
  margin-bottom: 15px;
}

/* Modal */

.modal {
  border-radius: 10px;
  .row > div {
    position: relative;
  }
  .close {
    background: #000;
    mask: url('../../icons/close.svg') no-repeat center / 26px;
    -webkit-mask: url('../../icons/close.svg') no-repeat center / 26px;
  }
  .title {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .foot {
    text-align: center;
  }
  .foot.df {
    justify-content: center;
    align-items: center;
    .l {
      text-align: left;
    }
    .c {
      text-align: center;
    }
    .t {
      text-align: right;
    }
  }
  button.save {
    border-radius: 10px;
    padding: 15px 20px 15px 40px;
    margin: 0;
    position: relative;
  }
  button.save:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    width: 20px;
    height: 20px;
    background: #fff;
    mask: url('../../icons/save.svg') no-repeat center/contain;
    -webkit-mask: url('../../icons/save.svg') no-repeat center/contain;
  }
}

/* FOOT */

.credit {
  position: fixed;
  bottom:10px;
  left:0;
  width:100%;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  pointer-events: none;
  opacity:.5;
  z-index:-1;
}
p.break {
  text-transform: uppercase;
  letter-spacing: 2px;
  pointer-events: none;
  opacity:.5;
  margin-bottom: 20px;
}

/* Fixes */

body {
  .trumbowyg-box, .trumbowyg-editor {
    margin:0 0 20px;
    min-height: 160px;
  }
}
.trumbowyg-textarea {
  margin: 0;
}

/* RESPONSIVE */

@media (min-width: 320px) and (max-width: 1024px) {
  .user_drop {
    .user_pic {
      left: auto;
      top: calc(50% - 15px);
      position: inherit;
      margin: 0 10px;
    }
  }
}

/* Dark More */

body.d {

  color: #fff;

  /* INPUTS */

  label {
    color: rgba(255,255,255,.6);
  }
  [type=text], [type=search], [type=number], [type=email], [type=date], [type=password], [type=file], select, textarea {
    //color: #fff;
    //border: 2px solid rgba(255,255,255,.1);
  }
  [type=text]::placeholder, [type=search]::placeholder, [type=number]::placeholder, [type=email]::placeholder, [type=date]::placeholder, [type=password]::placeholder, [type=file]::placeholder, select::placeholder, textarea::placeholder {
    //color: rgba(255,255,255,.3)
  }
  [type=text]:focus, [type=search]:focus, [type=number]:focus, [type=email]:focus, [type=date]:focus, [type=password]:focus, [type=file]:focus, select:focus, textarea:focus {
    //border: 2px solid rgba(255,255,255,.5);
  }
  .select2-container--default, .select2-container--default.select2-container--focus {
    .select2-selection--single, .select2-selection--multiple, .select2-selection--multiple {
      //border:2px solid rgba(255,255,255,.1);
    }
  }
  .select2-selection:after {
    background: #fff;
  }
  .auto_filters {
    input, select, textarea, input:focus, select:focus, textarea:focus {
      border: 0;
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color:#fff;
  }
  aside {
    [type=search] {
      background-color: rgba(0,0,0,.1);
    }
    .set:not(:last-child) {
      border-bottom:2px solid rgba(255,255,255,.1);
    }
  }
  .aio_upload {
    color: #fff;
    border: 2px solid rgba(255,255,255,.1);
  }
  .aio_fsp.aio_files {
    background: 0;
    border: 2px solid rgba(255,255,255,.1);
  }
  .aio_upload:after {
    color: #fff;
  }

  /* Elements */

  .modal .close, .header .tabs a.on:after, .header .tabs div.on:after {
    background: #fff;
  }

}