/* Inputs */
label {
  font-size: 0.9rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px;
}

[type=radio] + label, [type=checkbox] + label {
  font-size: 1rem;
  margin: 0;
}

[type=text], [type=search], [type=number], [type=email], [type=date], [type=time], [type=password], [type=file], select, textarea {
  border: 2px solid #eee;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 12px;
  border-radius: 8px;
  transition: 0.6s;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 2px solid #eee;
  transition: 0.6s;
}

.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-container .select2-selection {
  position: relative;
  border-radius: 8px;
  font-size: 1rem;
  height: auto;
  background: 0;
}

.aio_fsp.aio_files {
  border: 2px solid #eee;
  background: #eee;
  padding: 15px 15px 0;
  min-height: 50px;
  border-radius: 8px;
}
.aio_fsp.aio_files button {
  background: rgba(0, 0, 0, 0.1);
  font-size: 0;
  border-radius: 8px;
}
.aio_fsp.aio_files button:after {
  width: 37px;
}
.aio_fsp.aio_files .w > .f {
  border: 0;
  background: #fff;
}

[type=text].dater {
  background: url("../../icons/calendar.svg") no-repeat calc(100% - 10px) center/20px;
  padding-right: 36px;
}

[type=text]:focus, [type=search]:focus, [type=number]:focus, [type=email]:focus, [type=date]:focus, [type=time]:focus, [type=password]:focus, [type=file]:focus, select:focus, textarea:focus {
  border: 2px solid var(--primary-color);
}

input.empty, select.empty, select.empty + .select2 {
  border: 2px solid firebrick;
}

.aio_upload {
  border: 2px solid #eee;
  background: none;
  color: var(--primary-color);
  box-shadow: none;
  border-radius: 30px;
  margin: 0;
  padding: 12px;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: bold;
  position: relative;
}

.aio_upload:after, .select2-selection:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  mask: url("../../icons/upload.svg") no-repeat calc(100% - 10px) center/20px;
  -webkit-mask: url("../../icons/upload.svg") no-repeat calc(100% - 10px) center/20px;
  background: #000;
  width: 40px;
  height: 40px;
}

.select2-selection:after {
  mask: url("../../icons/select.svg") no-repeat calc(100% - 10px) center/20px;
  -webkit-mask: url("../../icons/select.svg") no-repeat calc(100% - 10px) center/20px;
}

[data-prev], [data-next] {
  border-radius: 20px;
  box-shadow: none;
  padding: 8px 30px;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  position: relative;
}

[data-prev]:after, [data-next]:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
}

[data-prev]:after {
  left: 5px;
  right: auto;
  mask: url("../../icons/left.svg") no-repeat center/contain;
  -webkit-mask: url("../../icons/left.svg") no-repeat center/contain;
}

[data-next]:after {
  left: auto;
  right: 5px;
  mask: url("../../icons/right.svg") no-repeat center/contain;
  -webkit-mask: url("../../icons/right.svg") no-repeat center/contain;
}

/* Banner Image */
.banner {
  height: 300px;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.banner .title {
  color: #fff;
  text-transform: uppercase;
}
.banner .right, .banner .left {
  position: absolute;
  width: calc(100% - 460px);
  top: 20px;
  height: calc(100% - 40px);
}
.banner .left {
  left: 20px;
  right: auto;
}
.banner .right {
  right: 20px;
  left: auto;
}
.banner .tabs {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.banner .stats .stat {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
}
.banner .stats .stat h3 {
  color: #fff;
  margin-bottom: 6px;
  font-weight: lighter;
  font-size: 1.4rem;
}
.banner .stats .stat div {
  opacity: 0.5;
}
.banner .status {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 8px 15px;
  border-radius: 4px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
.banner .status.l {
  left: 20px;
  right: auto;
}
.banner .status.r {
  right: 20px;
  left: auto;
}

.banner_wrap .banner_image {
  position: absolute;
  left: 20px;
  top: 20px;
  min-width: 200px;
  width: 100%;
  max-width: 400px;
  height: calc(100% - 40px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-radius: 2px;
  z-index: 2;
  border: 2px solid #fff;
}
.banner_wrap .banner_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  background: linear-gradient(320deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}
.banner_wrap .banner_bg:after {
  content: "";
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}
.banner_wrap .banner_image.l {
  background-position: left center;
}
.banner_wrap .banner_image.r {
  background-position: right center;
}

.banner.s {
  height: 200px;
}

.banner.m {
  height: 300px;
}

.banner.l {
  height: 400px;
}

.banner.xl {
  height: 500px;
}

.banner.f {
  height: 100%;
}

.banner.off {
  height: 80px;
}

/* Buttons */
button.store, .btn.store {
  position: relative;
  padding: 14px 20px;
  border-radius: 8px;
  margin: 15px 6px;
}

button.pop, .btn.pop {
  position: relative;
  padding: 14px 20px 14px 40px;
  border-radius: 8px;
  margin: 15px 6px;
}

button:after, .btn:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  width: 20px;
  height: 20px;
}

.actions.float {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
.actions.float button, .actions.float .btn {
  border-radius: 20px;
  font-size: 1em;
  padding: 12px 15px;
  border: 0;
  color: #fff;
  position: relative;
}
.actions.float button.pop, .actions.float .btn.pop, .actions.float button.trash, .actions.float .btn.trash, .actions.float button.print, .actions.float .btn.print {
  padding: 12px 15px 12px 40px;
}
.actions.float button.pop:after, .actions.float button.trash:after, .actions.float button.print:after {
  background: #fff;
}
.actions.float button.pop:after, .actions.float .btn.pop:after {
  mask: url("../../icons/open.svg") no-repeat center/contain;
  -webkit-mask: url("../../icons/open.svg") no-repeat center/contain;
}
.actions.float button.trash:after, .actions.float .btn.trash:after {
  mask: url("../../icons/trash.svg") no-repeat center/contain;
  -webkit-mask: url("../../icons/trash.svg") no-repeat center/contain;
}
.actions.float button.print:after, .actions.float .btn.print:after {
  mask: url("../../icons/print.svg") no-repeat center/contain;
  -webkit-mask: url("../../icons/print.svg") no-repeat center/contain;
}

/* General */
body {
  background: #f3f3f3;
  margin: 120px 0 90px;
  min-height: calc( 100vh - 210px);
}

.invoice_view {
  margin: 20px auto;
  width: 1024px;
  border: rgba(0, 0, 0, 0.1);
}
.invoice_view .head, .invoice_view thead {
  padding: 20px;
}
.invoice_view tbody {
  padding: 20px;
}
.invoice_view h2 {
  margin: 0 0 20px;
}
.invoice_view .info {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}
.invoice_view .info > div {
  margin: 0 10px 12px;
  border-radius: 12px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(50% - 20px);
}
.invoice_view .info > div span {
  display: block;
  font-size: 0.7em;
  margin-bottom: 6px;
  opacity: 0.3;
}
.invoice_view .loc {
  border-radius: 12px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
}
.invoice_view .loc > div {
  margin-bottom: 6px;
}
.invoice_view .loc span {
  display: block;
  font-size: 0.7em;
  margin-bottom: 6px;
  opacity: 0.3;
}

/* Header */
header {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: #fff;
  background-size: 200% 200%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
header > div {
  max-width: 50vw;
  display: flex;
}

/* BODY */
article {
  transition: 0.4s;
}
article > div {
  transition: 0.6s;
}

article.fade > div {
  opacity: 0.1;
  pointer-events: none;
}

.nav_ico {
  width: 50px;
  height: 100%;
  max-height: 70px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}
.nav_ico .drop {
  position: absolute;
  top: calc(100% - 16px);
  right: 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  max-width: 350px;
  display: none;
  z-index: 99;
  border-radius: 20px 0 20px 20px;
  text-align: center;
  overflow: hidden;
}
.nav_ico .list {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  transition: 0.6s;
}
.nav_ico .list:hover {
  background: rgba(0, 0, 0, 0.1);
}
.nav_ico .list:last-child {
  border: 0;
}
.nav_ico .list.on {
  font-weight: bold;
}

.nav_ico:hover .drop {
  display: block;
}

#menu {
  background: #000;
  mask: url("../../icons/menu.svg") no-repeat center/50%;
  -webkit-mask: url("../../icons/menu.svg") no-repeat center/50%;
}

#menu.on {
  mask: url("../../icons/close.svg") no-repeat center/50%;
  -webkit-mask: url("../../icons/close.svg") no-repeat center/50%;
}

.brand {
  display: block;
  max-height: 70px;
  height: 100%;
  width: 180px;
  background: url("../../images/aio.svg") no-repeat left center/contain;
}

#controls > div {
  display: inline-block;
  vertical-align: top;
}

#finder {
  width: 100%;
  max-width: 280px;
  position: relative;
  height: 50px;
  margin: 12px 0 0;
}
#finder .search_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: #000;
  mask: url("../../icons/search.svg") no-repeat center/45%;
  -webkit-mask: url("../../icons/search.svg") no-repeat center/45%;
  content: "";
}
#finder input {
  border: 0;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  height: 46px;
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.8s;
  color: #000;
  margin: 0;
  padding: 5px 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0) inset;
}
#finder input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#finder input:focus {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

#log_off {
  background: #000;
  mask: url("../../icons/power.svg") no-repeat center/60%;
  -webkit-mask: url("../../icons/power.svg") no-repeat center/60%;
}

#alert {
  background: #000;
  mask: url("../../icons/alert.svg") no-repeat center/70%;
  -webkit-mask: url("../../icons/alert.svg") no-repeat center/70%;
  background-size: 70%;
}

#lang {
  background: #000;
  mask: url("../../icons/lang.svg") no-repeat center/65%;
  -webkit-mask: url("../../icons/lang.svg") no-repeat center/65%;
}

#alert span {
  font-size: 12px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  bottom: 15px;
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 4px;
  box-sizing: content-box;
  line-height: 100%;
  font-weight: bold;
}

#back {
  background: url("../../icons/back.svg") center no-repeat;
  background-size: 50%;
  opacity: 0.5;
  transition: 0.3s;
}

#back:hover {
  opacity: 1;
}

.user_drop {
  width: auto;
  position: relative;
}
.user_drop .user_pic {
  position: absolute;
  top: 20px;
  left: 5px;
  height: 30px;
  width: 30px;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
  border-radius: 50%;
  color: #fff;
  padding: 5px;
  z-index: 101;
  background: var(--primary-color) url("../../images/user.svg") no-repeat center/cover;
}
.user_drop .user_pic.bg {
  color: transparent;
}
.user_drop .user_name {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  margin: 15px 0;
  padding: 8px 35px 8px 45px;
  font-weight: 200;
  font-size: 1.1rem;
  color: #000;
  box-sizing: border-box;
  border-radius: 20px;
  transition: 0.6s;
  background: #fff url("../../icons/select.svg") no-repeat calc(100% - 12px)/18px;
  position: relative;
  white-space: nowrap;
}
.user_drop .user_details {
  width: 350px;
  position: absolute;
  top: calc(100% - 16px);
  right: 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  display: none;
  z-index: 99;
  border-radius: 20px 0 20px 20px;
  padding: 20px;
  text-align: left;
}
.user_drop .user_details .name {
  color: var(--primary-color);
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
}
.user_drop .user_details .role {
  text-align: center;
  opacity: 0.6;
}
.user_drop .user_details .pic {
  position: relative;
  display: block;
  margin: 0 auto 15px;
  width: 80px;
  height: 80px;
  background: url("../../images/user.svg") no-repeat center/cover;
}
.user_drop .user_details .links > a, .user_drop .user_details .links > div {
  display: block;
  opacity: 0.4;
}
.user_drop .user_pic.m, .user_drop .user_pic.l {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  padding: 15px;
}
.user_drop .user_pic.l {
  width: 180px;
  height: 180px;
  z-index: initial;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
}

.user_drop:hover .user_name {
  border: 1px solid #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 20px 20px 0 0;
}
.user_drop:hover .user_details {
  display: block;
}

/* SUB HEADER */
.header {
  position: fixed;
  top: 70px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 13px 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 20;
  height: 50px;
  /* .c {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
  } */
}
.header > div {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  display: flex;
}
.header > div:nth-child(2) {
  align-items: center;
  justify-content: center;
}
.header > div:nth-child(3) {
  align-items: center;
  justify-content: flex-end;
}
.header .tabs {
  display: flex;
}
.header .tabs a, .header .tabs div {
  padding: 15px 10px;
  display: block;
  position: relative;
  opacity: 0.3;
}
.header .tabs a.on, .header .tabs div.on {
  opacity: 1;
}
.header .tabs a.on:after, .header .tabs div.on:after {
  content: "";
  display: block;
  left: 10px;
  bottom: 6px;
  height: 2px;
  background: #000;
  position: absolute;
  width: calc(100% - 20px);
}
.header .title {
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  margin: 0 15px 0 40px;
  letter-spacing: 2px;
  font-weight: lighter;
}
.header .status, .header .high {
  position: absolute;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px 6px;
}
.header .status {
  top: 20px;
  right: 20px;
  left: auto;
  transform: none;
}
.header .status.green {
  color: darkolivegreen;
  border: 1px solid darkolivegreen;
}
.header .status.red {
  color: firebrick;
  border: 1px solid firebrick;
  background: rgba(255, 255, 255, 0.3);
}
.header .sub_title {
  font-size: 11px;
  color: #aaaaaa;
  letter-spacing: 1px;
  margin: 6px 0 0;
}
.header #back {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
}
.header .actions {
  display: flex;
  position: absolute;
  right: 50%;
  top: 0;
  height: 100%;
  transform: translateX(50%);
  padding: 12px;
}
.header .actions a {
  margin: 0 15px;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: lighter;
}
.header .actions {
  right: 0;
  transform: none;
}
.header input[type=text], .header select {
  border: 0;
  border-radius: 0;
  margin: -10px 10px;
  padding: 6px 12px;
}
.header input[type=text]:focus, .header select:focus {
  border: 0;
}
.header select {
  padding: 6px 30px 6px 12px;
}

.header.w {
  color: #fff;
}

.header.m .high {
  top: calc(50% - 24px);
}

.header.w .high {
  border: 1px solid #fff;
}

.header.l {
  display: block;
  padding: 0;
}
.header.l .title {
  margin: 40px 20px 10px;
  font-size: 28px;
}
.header.l .sub_title {
  margin: 0 20px 40px 20px;
  font-size: 20px;
  color: #000;
}
.header.l .image {
  height: 80px;
  width: 200px;
  position: absolute;
  right: 20px;
  top: 50px;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.header.l .image.s {
  height: 50px;
}

.header.w.l .sub_title {
  color: rgba(255, 255, 255, 0.6);
}

.header.l .tabs.material .tab {
  padding: 15px 25px;
}

/* Navigation */
aside {
  width: 420px;
  height: calc(100vh - 70px);
  position: fixed;
  left: -450px;
  top: 70px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  z-index: 95;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.6s;
  overflow-y: auto;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
}
aside .set {
  padding: 12px 0 0;
  border-bottom: 2px solid #efefef;
}
aside .set > .title {
  text-transform: uppercase;
  letter-spacing: 0;
  opacity: 0.3;
  margin-bottom: 12px;
}
aside a {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0;
  padding: 8px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
  transition: 0.8s;
  margin: 0 0 12px;
}
aside a:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
aside a.bg {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
aside [data-vaultp] {
  margin: 0 -8px;
}
aside [data-vaultp] > * {
  padding: 0 6px;
}
aside [data-vaultp] .title {
  font-size: 0.6rem;
  font-weight: bold;
  margin: -2px auto 6px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.4;
}
aside .home_link {
  box-shadow: none !important;
  padding: 0;
  height: 100%;
  margin: 0;
}
aside i.home {
  mask: url("../../icons/home.svg") no-repeat center/60%;
  -webkit-mask: url("../../icons/home.svg") no-repeat center/60%;
}
aside .ico.xl {
  display: block;
  width: 100%;
  margin: 0 0 6px;
}
aside [type=search] {
  margin: 0;
  padding: 12px 15px 12px 40px;
  font-size: 1rem;
  border-radius: 8px;
  background: #eee url("../../icons/search.svg") no-repeat 10px center/24px;
}

aside.on {
  left: 0;
  opacity: 1;
  pointer-events: all;
}

aside::-webkit-scrollbar {
  display: none;
}

/* FILTERS */
.filters_wrap {
  padding: 20px 20px 0 20px;
}

.auto_filters {
  background: #fff;
  border-radius: 6px;
  padding: 10px;
}
.auto_filters label {
  font-weight: bold;
  font-size: 0.6rem;
  display: block;
  margin: 0;
}
.auto_filters input, .auto_filters textarea, .auto_filters select {
  padding: 8px 0 0;
  transition: 0.6s;
  font-size: 0.9rem;
}
.auto_filters input:focus, .auto_filters textarea:focus, .auto_filters select:focus {
  border: 0;
}

.reports_wrap .auto_filters {
  border-radius: 15px;
  padding: 20px;
}
.reports_wrap .auto_filters label {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.reports_wrap .auto_filters input, .reports_wrap .auto_filters textarea, .reports_wrap .auto_filters select {
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 2px solid #eee;
}
.reports_wrap .auto_filters .select2.select2-container.select2-container--default {
  margin-bottom: 20px;
}
.reports_wrap .auto_filters .select2.select2-container.select2-container--default .select2-selection {
  border: 2px solid #eee;
  padding: 12px;
}
.reports_wrap .auto_filters .select2-selection__placeholder, .reports_wrap .auto_filters .select2-selection__rendered {
  font-size: 1.2rem;
}
.reports_wrap .auto_filters .inputs {
  flex: 0 0 100%;
}
.reports_wrap .auto_filters > .row {
  justify-content: center;
}
.reports_wrap .auto_filters .actions {
  text-align: center;
  width: auto;
  flex: 0 0 33.3333%;
}
.reports_wrap .auto_filters .actions .row {
  justify-content: center;
}
.reports_wrap .auto_filters .filter, .reports_wrap .auto_filters .clear {
  font-size: 1.2rem;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 8px;
}
.reports_wrap .auto_filters .filter {
  padding: 20px 20px 20px 40px;
}
.reports_wrap .auto_filters .clear {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.reports_wrap .auto_filters .filter:after {
  mask: url("../../icons/search.svg") no-repeat center/contain;
  -webkit-mask: url("../../icons/search.svg") no-repeat center/contain;
}

/* CONTENT */
.group_details {
  background: #fff;
  padding: 20px 20px 0;
  border-radius: 8px;
  margin-bottom: 20px;
}
.group_details .group_title {
  margin: -20px -20px 20px;
  color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 12px 20px;
  font-weight: lighter;
  font-size: 1.1rem;
  letter-spacing: 2px;
  background: var(--primary-color);
  background: linear-gradient(320deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}
.group_details h2, .group_details h3, .group_details h4 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 1.2rem;
}
.group_details .set {
  margin-bottom: 25px;
}
.group_details .key {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 10px;
  opacity: 0.4;
  font-weight: bold;
}
.group_details .val {
  font-size: 1rem;
  padding: 6px 0;
}
.group_details .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px -6px 0;
  font-size: 1.1rem;
}
.group_details .tags .tag {
  background: #eee;
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 0 6px 6px;
}

.row [class^=col], .row [class*=" col"] {
  position: relative;
}

/* Tabs */
.vertical_tabs {
  padding: 20px 0;
}
.vertical_tabs div {
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid #ccc;
  border-left: 2px solid transparent;
  opacity: 0.5;
}
.vertical_tabs div.on {
  opacity: 1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 0;
}

.vertical_blocks {
  max-height: calc(100vh - 180px);
  padding: 0 20px 20px 0;
  overflow-y: auto;
}

/* REPORT PAGE */
.report_page {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  padding: 20px;
}
.report_page table, .report_page .charts {
  flex: 0 0 100%;
  max-width: 100%;
}
.report_page .charts {
  display: none;
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px;
  margin: 0 -10px 20px;
}
.report_page .charts > div {
  flex: 0 0 20%;
  flex-shrink: 0;
  scroll-snap-align: start;
  cursor: pointer;
  padding: 20px;
  border: 2px solid red;
  margin: 0 10px;
}

/* EMAIL OPTIONS */
.template_preview {
  height: 300px;
  width: 100%;
  transition: 1s;
  margin-bottom: 20px;
}

/* GOOGLE MAP */
.map_wrap input[type=text] {
  margin: 0;
  border: 2px solid #eee;
  border-radius: 8px 8px 0 0;
}

.google_map {
  min-height: 200px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 15px;
}

/* Modal */
.modal {
  border-radius: 10px;
}
.modal .row > div {
  position: relative;
}
.modal .close {
  background: #000;
  mask: url("../../icons/close.svg") no-repeat center/26px;
  -webkit-mask: url("../../icons/close.svg") no-repeat center/26px;
}
.modal .title {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.modal .foot {
  text-align: center;
}
.modal .foot.df {
  justify-content: center;
  align-items: center;
}
.modal .foot.df .l {
  text-align: left;
}
.modal .foot.df .c {
  text-align: center;
}
.modal .foot.df .t {
  text-align: right;
}
.modal button.save {
  border-radius: 10px;
  padding: 15px 20px 15px 40px;
  margin: 0;
  position: relative;
}
.modal button.save:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  width: 20px;
  height: 20px;
  background: #fff;
  mask: url("../../icons/save.svg") no-repeat center/contain;
  -webkit-mask: url("../../icons/save.svg") no-repeat center/contain;
}

/* FOOT */
.credit {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  pointer-events: none;
  opacity: 0.5;
  z-index: -1;
}

p.break {
  text-transform: uppercase;
  letter-spacing: 2px;
  pointer-events: none;
  opacity: 0.5;
  margin-bottom: 20px;
}

/* Fixes */
body .trumbowyg-box, body .trumbowyg-editor {
  margin: 0 0 20px;
  min-height: 160px;
}

.trumbowyg-textarea {
  margin: 0;
}

/* Dark More */
body.d {
  color: #fff;
  /* INPUTS */
  /* Elements */
}
body.d label {
  color: rgba(255, 255, 255, 0.6);
}
body.d [type=text], body.d [type=search], body.d [type=number], body.d [type=email], body.d [type=date], body.d [type=password], body.d [type=file], body.d select, body.d textarea {
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
body.d [type=text]::placeholder, body.d [type=search]::placeholder, body.d [type=number]::placeholder, body.d [type=email]::placeholder, body.d [type=date]::placeholder, body.d [type=password]::placeholder, body.d [type=file]::placeholder, body.d select::placeholder, body.d textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
body.d [type=text]:focus, body.d [type=search]:focus, body.d [type=number]:focus, body.d [type=email]:focus, body.d [type=date]:focus, body.d [type=password]:focus, body.d [type=file]:focus, body.d select:focus, body.d textarea:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
body.d .select2-container--default .select2-selection--single, body.d .select2-container--default .select2-selection--multiple, body.d .select2-container--default .select2-selection--multiple, body.d .select2-container--default.select2-container--focus .select2-selection--single, body.d .select2-container--default.select2-container--focus .select2-selection--multiple, body.d .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 2px solid rgba(255, 255, 255, 0.1);
}
body.d .select2-selection:after {
  background: #fff;
}
body.d .auto_filters input, body.d .auto_filters select, body.d .auto_filters textarea, body.d .auto_filters input:focus, body.d .auto_filters select:focus, body.d .auto_filters textarea:focus {
  border: 0;
}
body.d .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
}
body.d aside [type=search] {
  background-color: rgba(0, 0, 0, 0.1);
}
body.d .aio_upload {
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
body.d .aio_fsp.aio_files {
  background: 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
body.d .aio_upload:after {
  background: #fff;
}
body.d .modal .close, body.d .header .tabs a.on:after, body.d .header .tabs div.on:after {
  background: #fff;
}

/*# sourceMappingURL=portal.css.map */
