/* DEFINE VARS */
:root {
  --input_radius: 0;
  --input_border_top: 0;
  --input_border_right: 0;
  --input_border_bottom: 2px;
  --input_border_left: 0;
}

/* LAYOUT */
article {
  margin: 20px 100px;
  overflow-x: hidden;
  background: #fff;
  padding: 20px;
}

nav {
  width: 80px;
  height: calc(100vh - 40px);
  justify-content: center;
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
nav > div {
  height: 50px;
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}
nav > div .mat-ico {
  font-size: 3rem;
}

/* BASICS */
input[type=text], [type=number] {
  box-shadow: none;
  font-size: 22px;
  padding: 12px 0;
  font-weight: 100;
}

input[type=text]:focus, [type=number]:focus {
  transition: 0.9s;
}

.row > div {
  margin-bottom: 35px;
}

/* button {
  cursor:pointer;
  padding:8px 20px;
  text-transform: uppercase;
  margin:20px 10px;
}

select {
  font-size: 22px;
  border:0;
  border-bottom:1px solid #ddd;
  box-shadow:none;
}
.ico {
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  cursor: pointer;
} */
/* Setup UI */
.setup {
  position: relative;
  opacity: 0;
  height: 0;
  transition: 0.6s;
  pointer-events: none;
  transform: translateY(50px);
  overflow-y: hidden;
}
.setup nav {
  opacity: 0;
  pointer-events: none;
}
.setup .head {
  text-align: center;
  margin-bottom: 25px;
}
.setup label:not(.slide_label) {
  text-transform: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
  position: relative;
  color: #000;
  font-size: 18px;
}
.setup label:not(.slide_label) i.tip {
  position: absolute;
  white-space: normal;
  width: 300px;
  background: rgba(255, 255, 255, 0.92);
  padding: 10px;
  backdrop-filter: blur(10px) saturate(2);
  -webkit-backdrop-filter: blur(10px) saturate(2);
  font-size: 14px;
  line-height: 20px;
  color: #222;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  top: auto;
  bottom: 10px;
  left: 20px;
  word-break: normal;
}
.setup label:not(.slide_label) i.tip.on {
  opacity: 1;
}
.setup i.tip {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
}
.setup i.tip span {
  background: rgba(255, 255, 255, 0.98);
  display: none;
  padding: 20px;
  border-radius: 6px;
  max-width: 40vw;
  min-width: 250px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.setup i.tip:hover span {
  display: block;
  position: absolute;
  left: 75%;
  top: 75%;
}
.setup .foot {
  text-align: center;
  margin-top: 60px;
}

.setup.on {
  opacity: 1;
  height: auto;
  transform: none;
  overflow-y: visible;
  pointer-events: all;
}
.setup.on nav {
  opacity: 1;
  pointer-events: all;
}

.setup.on + .setup .content {
  transform: translate(40px, 0);
}

.select2-container--default .select2-selection--multiple {
  border: 0;
  background: #f1f1f1;
  border-radius: 10px;
  margin-top: 10px;
  min-height: 45px;
}

.select2-dropdown {
  border: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.select2-selection__choice__remove {
  background: none;
}

ul.select2-results__options li {
  display: flex;
  background: #f1f1f1;
  border-radius: 5px;
  margin: 5px;
  padding: 6px 10px;
  border: 0;
  font-size: 13px;
}
ul.select2-results__options li ul {
  display: flex;
}
ul.select2-results__options li .select2-results__group {
  flex: 0 0 15%;
  min-width: 100px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
ul.select2-results__options .select2-results__option--selected {
  border: 1px solid #000;
}

.select2-search__field {
  display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #f1f1f1;
  color: #000;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 0;
}

.aio_dynamics .set:nth-child(4), .aio_dynamics .set:nth-child(5) {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.aio_dynamics .set:nth-child(2) label {
  display: none;
}
.aio_dynamics .url {
  min-height: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 6px;
  padding: 12px;
}
.aio_dynamics [type=checkbox] {
  margin-bottom: 0;
}
.aio_dynamics [type=checkbox] + label {
  vertical-align: bottom;
}

/* RESPONSIVE */
/* DARK */
body.d article {
  border: 0;
}
body.d input, body.d button, body.d textarea {
  border: 0;
  border-bottom: 1px solid #666;
}
body.d .setup label i.tip {
  background-color: black;
  color: white;
}
body.d input[type=text], body.d input[type=number] {
  border-bottom: 1px solid #222;
}
body.d input[type=text]:focus, body.d input[type=number]:focus {
  border-bottom: 1px solid #666;
}
body.d ul.select2-results__options li {
  background: #444;
  border: 1px solid #555;
}
body.d aside > div.on {
  border: 1px solid #444;
}
body.d nav .p {
  background: url("../../icons/w/prev.svg") no-repeat center/contain;
}
body.d nav .n {
  background: url("../../icons/w/next.svg") no-repeat center/contain;
}

/*# sourceMappingURL=builder.css.map */
