.aio_content_builder {
  .add_button {
    margin: 0;
    width: 100%;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    .mico, .mat-ico {
      font-size: 1.6rem;
      margin: 0 10px;
    }
  }
  .add_button:hover {
    box-shadow: none;
    color: var(--primary_color);
  }
}
.aio_cb_widget_picker {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  [data-widget-link] {
    border-radius: var(--input_radius);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,.1);
    transition: .6s;
    flex: 0 0 calc(20% - 20px);
    margin-bottom: 20px;
    i, .widget_icon {
      height: 50px;
      line-height: 50px;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      position: relative;
      display: block;
      margin: 10px auto;
      background: #ccc;
      border-radius: 15px;
    }
    .widget_icon {
      width: 50px;
    }
    .mico, .mat-ico {
      font-size: 2rem;
    }
    .widget_title {
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
  [data-widget-link]:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    //transform: translateY(-2px);
  }
}

// Content Viewer
.row_set {
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  .row_title {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  [data-min], [data-max], [data-del] {
    cursor: pointer;
  }
  [data-drag] {
    cursor: move;
  }
}
