/* Alerts */

.alerts {
  background: #f3f3f3;
  border: 1px solid #fff;
  padding: 4px 0;
  position: relative;
  line-height: 100%;
  max-height:30vh;
  overflow-y:auto;
  min-width: 350px;
}
.alert {
  display: block;
  text-align: left;
  background: rgba(255,255,255,97);
  margin-bottom: 4px;
  position: relative;
  /*border-radius: 8px;*/
  /*box-shadow:0 0 5px rgba(0,0,0,.1)*/
}
.alert:last-child {
  margin: 0;
}
.alert .title {
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 10px 0;
  font-weight: normal;
}
.alert .note {
  padding: 4px 10px 10px;
  font-size: 13px;
}
.alerts+.more {
  padding:10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 100%;
}

/* INPUTS */

.group input {
  border-radius:0;
}
.group input:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.group input:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
input.c {
  text-align: center;
}
input.r {
  text-align: right;
}
input.l {
  text-align: left;
}
input.xxs {
  width:40px;
}
input.xs {
  width:60px;
}
input.s {
  width:100px;
}
body.d .fsp>.f, body.d .fp>.f {
  border:1px solid #232323
}
input[type=checkbox] {
  background:#ddd;
  border:0;
}
input[type=checkbox]:focus {
  border: 0;
}
input[type=checkbox]:checked {
  background:#ddd;
  //box-shadow:0 0 2px 2px #ddd inset;
}
input[type=checkbox]:checked:after {
  content: '';
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 3px;
  top: 3px;
  border-radius: 4px;
}

.no_data {
  padding:100px 0 100px;
  text-align: center;
  font-size: 26px;
  border:1px solid lightgrey;
  border-radius:10px;
}
.d .no_data {
  border:0;
  background:rgb(20,20,20);
  color:#fff;
}

/* IMAGE */

.image {
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}
.image.xxs {
  width:25px;
  height:25px;
}
.image.xs {
  width:50px;
  height:50px;
}
.image.s {
  width:100px;
  height:100px;
}
.image.m {
  width:150px;
  height:150px;
}
.image.l {
  width:200px;
  height:200px;
}
.image.xl {
  width:250px;
  height:250px;
}
.image.c {
  margin:0 auto;
}

/* Simple Colors */

.c_red {
  color:red;
}
.c_fire {
  color:firebrick;
}
.c_green {
  color:green;
}
.c_black {
  color:black;
}

/* Accordion */

.acc {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}
body.d .acc {
  border:1px solid #242424;
}
.acc .head {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  background:url('../../select.svg') no-repeat calc(100% - 6px) / 20px;
}
body.d .acc .head {
  border-bottom: 1px solid #242424;
}
.acc .body {
  padding: 0;
  height:0;
  overflow:hidden;
}
.acc.on .body {
  padding: 20px;
  height:auto;
}

/* Context Menu */

.context-menu {
  position: absolute;
  background:rgba(255,255,255,.98);
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 0 20px rgba(0,0,0,.05);
  display: none;
  z-index:99999;
}
.context-menu>div {
  padding:12px 20px;
  border-bottom: 1px solid rgba(0,0,0,.04);
  min-width:220px;
  cursor: pointer;
  transition:.3s;
}
.context-menu>div:hover {
  background:rgba(0,0,0,.04);
}
.context-menu>div:last-child {
  border:0;
}

/* Others */

.no_access {
  margin: 40px auto;
  width: 400px;
  max-width:30vw;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  border:1px solid firebrick;
  h3 {
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
}

