.set_editor_language {
  .lang_grid {
    display: flex;
    margin: 0 -10px 30px;
  }
  [type=checkbox] {
    display: none;
  }
  [type=checkbox] + label {
    padding: 12px 20px;
    background: #fff; // rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,.15);
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    .ico {
      margin: 0;
      color: #000;
      transform: translateX(6px);
      //line-height: 20px;
    }
  }
}
[data-key=lang_search] {
  border-radius: 30px;
  padding-left: 40px;
}
[data-key=lang_search] + .ico.search {
  position: absolute;
  top: 6px;
  left: 15px;
  font-size: 1.5rem;
}
#aio_translations {
  .page_set {
    .r {
      background:#fff;
      border-bottom: 2px solid #f3f3f3;
      border-radius: 10px;
      display: flex;
      flex-wrap:wrap;
      cursor:pointer;
      > div {
        padding:12px;
        flex:0 0 50%;
        font-size: 15px;
      }
      > div:nth-child(2) {
        flex:0 0 calc(50% - 50px);
      }
      > i:nth-child(3) {
        flex:0 0 50px;
      }
    }
    .b {
      direction: ltr;
      unicode-bidi: embed;
    }
  }
  .page_url {
    margin-bottom: 20px;
  }
  .new_string {
    display: flex;
    flex-wrap:wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px 0;
    gap: 15px;
    > div {
      flex: calc(33.3333% - 15px);
    }
    > div:nth-child(3) {
      max-width: calc(33.3333% - 65px);
    }
    .save {
      flex: 50px;
    }
  }
  .p {
    padding:0 10px 10px;
    font-size: .8rem;
    opacity: .6;
  }
  i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
  }
  i.red {
    color: var(--error_color);
  }
  i.green {
    color: var(--success_color);
  }
}
#aio_translations {
  .new_string {
    margin-top: 20px;
  }
}
/* .aio_fp .aio_upload.upload_btn {
  background: none;
  border: 0;
  color: #000;
  padding: 5px 10px;
  .ico.file_upload {
    right: calc(50% - 17.5px);
  }
} */
#aio_lang_editor {
  position: fixed;
  bottom: -60px;
  left: 15px;
  width:calc(100vw - 30px);
  box-sizing: border-box;
  padding: 20px;
  box-shadow:0 0 60px rgba(0,0,0,.4);
  z-index:1;
  background:rgba(255,255,255,.95);
  transition:.6s;
  opacity:0;
  pointer-events: none;
  border-radius:20px 20px 0 0;
  backdrop-filter: blur(10px) saturate(2);
  -webkit-backdrop-filter: blur(10px) saturate(2);
  textarea {
    margin-bottom: 0;
  }
  .actions {
    text-align: right;
  }
  .close {
    position: absolute;
    right:10px;
    top:5px;
    width:35px;
    height:35px;
    cursor: pointer;
    z-index: 2;
  }
  button:hover {
    opacity:.8;
    transform: none;
  }
  .actions .right button {
    margin:0 0 0 15px;
  }
  button.small {
    font-size: .6rem;
    letter-spacing: 1px;
    background: #ddd;
    //border:1px solid grey;
    padding: 6px 10px;
    color: #000;
    margin:0 0 0 15px;
    border-radius: 15px;
    box-shadow:none;
  }
}
.save_i18ns {
  background: #000;
  color: #fff;
  border-radius: 25px;
  font-size: 1rem;
  padding: 10px 20px;
  margin: 0;
}
#data {
  margin-bottom: 100px;
}
#aio_lang_editor.on {
  bottom:0;
  opacity:1;
  pointer-events: all
}
#string {
  border-bottom-left-radius: 10px;
}
#save {
  padding: 22px 0;
  margin: 0;
  width: 100%;
  background: #000;
  color: #fff;
  cursor: pointer;
  height: 100%;
  box-shadow: none;
}
#aio_lang_editor .actions button, #set_languages {
  margin: 0 0 0 15px;
  background: darkslategrey;
  text-transform: uppercase;
  border-radius:5px;
  padding:10px 25px;
  cursor:pointer;
  transition:.6s;
  color:#fff;
  display: inline-block;
}
#set_languages {
  background:#000;
  width:300px;
  margin: 15px 0 0;
}
#language_selector+span {
  max-width:300px;
}
.ico.trash {
  //background:url('../../../core/components/icons/trash.svg') no-repeat center / 24px;
}

// Select2
#lang_select + .select2-container, #lang_page + .select2-container {
  display: block;
  width: 100%;
  .select2-selection--single {
    border:0;
    background:#ddd;
    border-radius:10px;
    height: auto;
    outline:0;
  }
  .select2-selection__rendered {
    line-height: normal;
  }
  .select2-selection__arrow {
    height: 100%;
  }
}

@media only screen and (max-width:600px) {
  #aio_lang_editor {
    padding: 20px;
  }
  #aio_lang_editor.on {
    top:auto;
    bottom: 0;
  }
  #aio_lang_editor .row {
    flex-wrap:wrap;
  }
  #aio_lang_editor .col, #aio_lang_editor .col:nth-child(3) {
    flex:0 0 100%;
    margin: 0;
    max-width:none;
  }
  #save {
    margin: 15px 0 0;
    padding: 10px 15px;
    width: 100%;
    border-radius:5px;
    text-transform: uppercase;
  }
  #aio_lang_editor textarea {
    border-radius:5px;
  }
  #aio_lang_editor .close {
    top: 10px;
  }
  #aio_translations {
    > div {
      padding: 15px;
      > div {
        flex:0 0 100%;
        padding: 15px 0;
      }
      > div:nth-child(1) {
        border-bottom: 1px solid #ddd;
        padding-top: 0;
      }
      > div:nth-child(3) {
        padding:10px;
        background:#ddd;
        border-radius:5px;
        font-weight: lighter;
      }
    }
  }
  .search input {
    width: 100%;
  }
  #notification {
    min-width:auto;
    max-width:none;
    width:calc(100vw - 30px);
    left:15px;
    transform:none;
  }
}

// RTL
[dir=rtl] {
  .set_editor_language {
    [type=checkbox]+label {
      .ico {
        transform: translateX(-6px) rotateZ(180deg);
      }
    }
  }
  [data-key=lang_search] {
    padding-right: 50px;
    padding-left: var(--input_padding_left);
  }
  [data-key=lang_search]+.ico.search {
    left: auto;
    right: 15px;
  }
  #aio_lang_editor {
    .close {
      right: auto;
      left: 10px;
    }
  }
}
