$ui: #00A99D;
article {
  overflow:hidden;
  padding: 0;
  .events_log {
    padding: 100px 20px 0;
    height: 100%;
    overflow-y:auto;
  }
}

/* FILTERS */

.search_wrap {
  flex-grow:1;
  min-width:40%;
}
.filters {
  margin-right: 20px;
  [data-type] {
    flex-grow:1;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: .7rem;
    text-align: center;
    .mat-ico {
      display: block;
      margin:0 auto 4px;
      pointer-events: none;
    }
  }
  [data-type].on {
    color:$ui;
  }
}
[type=search] {
  margin: 0;
  font-size: 20px;
  width: 100%;
  background: rgba(0,0,0,.05);
}
[type=search]:focus {
  border-bottom: 1px solid #ccc;
}

/* Log */

.b {
  .co {
    top:auto;
    bottom:15px;
  }
  .a>div:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .a>div:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .t {
    background:#000;
  }
  >.l {
    font-family: monospace;
  }
  .ft>div {
    flex:0 0 33.3337%;
    overflow: hidden;
  }
  .c {
    > div {
      width: 40px;
      height: 40px;
      border: 0;
    }
    .co:after {
      content: '\e14d';
      font-size: 2rem;
      font-family: 'MaterialIcons';
    }
    .go, .go:hover {
      background: url('../../images/gs.svg') no-repeat center / 24px;
    }
    .so, .so:hover {
      background: url('../../images/sof.svg') no-repeat center / 24px;
    }
  }
}
.b:hover {
  transform: none;
  .b {
    box-shadow: none;
  }
  .dt {
    background:#aaa;
  }
}
.b.s .s {
  background:forestgreen;
}
.b.d .s, .b.e .s {
  background:firebrick;
}
.b.e {
  border:1px solid firebrick;
}
.b .s {
  background: #5691b0;
}
.b.i .s {
  background: #0086cb;
}
.b.error_log .s {
  background: saddlebrown;
}

/* Others */

#notification {
  position: fixed;
  left:50%;
  top:-30vh;
  min-width:60vw;
  max-width:calc(100vw - 120px);
  box-shadow:0 0 30px rgba(0,0,0,.1);
  transform:translateX(-50%);
  z-index:100;
  border-radius:6px;
  /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
  padding: 40px;
  background:rgba(255,255,255,.97);
  transition:.6s;
  opacity:0;
  div {
    font-size:20px;
  }
}
#notification.on {
  box-shadow:0 0 50px rgba(0,0,0,.2);
  top:20px;
  opacity:1;
}

@media only screen and (max-width:1024px) {
  article {
    height: calc(100vh - 90px);
    .events_log {
      padding: 10px 10px 0;
      height: calc(100% - 116px);
    }
  }
  .controls {
    flex-wrap: wrap;
    position: relative;
    padding-top: 0;
    height: 116px;
    label {
      display: none;
    }
  }
  [type=search] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
  }
  .b {
    padding: 10px;
    .a, .b {
      position: relative;
      top: auto;
      left: auto;
    }
    .l {
      padding: 10px 0;
      pre {
        font-size: .9rem;
      }
    }
    .a {
      margin-bottom: 10px;
      display: inline-block;
      text-align: center;
      >div:first-child {
        border-radius: 6px 6px 0 0;
      }
      >div:last-child {
        border-radius:0 0 6px 6px;
      }
    }
    .ft {
      flex-wrap:wrap;
      border: 1px solid #ddd;
      border-radius:10px;
      > div {
        flex:0 0 100%;
        max-width:100%;
        padding: 5px;
        border: 0;
      }
      .l {
        flex: 0 0 30%;
      }
      .f {
        font-size: .65rem;
        text-align: center;
        border-top: 1px solid #ebebeb;
      }
      .d {
        position: absolute;
        width: 70%;
        top: 0;
        right: 0;
      }
    }
    > .c {
      > div {
        //max-width: 50px;
        padding: 4px;
        font-size: .8rem;
        margin-left: 6px;
      }
    }
  }
  .filters {
    margin: 0;
    flex: 0 0 100%;
    [data-type] {
      padding:10px 5px;
      font-size: .6rem;
    }
  }
}