.refresh {
  margin-right: 15px;
}
.clear {
  background: rgb(153,1,1);
  background: -moz-linear-gradient(45deg, rgba(153,1,1,1) 0%, rgba(169,3,41,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(153,1,1,1) 0%,rgba(169,3,41,1) 100%);
  background: linear-gradient(45deg, rgba(153,1,1,1) 0%,rgba(169,3,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990101', endColorstr='#a90329',GradientType=1 );
  box-shadow:0 0 6px rgba(153,1,1,.2), 0 2px 6px rgba(0,0,0,.2);
}
.clear:hover {
  box-shadow:0 0 6px rgba(153,1,1,.3),0 4px 6px rgba(153,1,1,.3);
}

/* Log */


.b {
  .co {
    top:auto;
    bottom:15px;
  }
  .a>div:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .a>div:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .t {
    background:#000;
  }
  >.l {
    font-family: monospace;
  }
  .ft>div {
    flex:0 0 33.3337%;
  }
}
.b:hover .dt {
  background:#aaa;
}
.b.s .s {
  background:forestgreen;
}
.b.d .s, .b.e .s {
  background:firebrick;
}
.b.e {
  border:1px solid firebrick;
}
.b .s {
  background: darkgoldenrod;
}
.b.i .s {
  background: #0086cb;
}
.b.error_log .s {
  background: saddlebrown;
}

/* Others */

#notification {
  position: fixed;
  left:50%;
  top:-30vh;
  min-width:60vw;
  max-width:calc(100vw - 120px);
  box-shadow:0 0 30px rgba(0,0,0,.1);
  transform:translateX(-50%);
  z-index:100;
  border-radius:6px;
  /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
  padding: 40px;
  background:rgba(255,255,255,.97);
  transition:.6s;
  opacity:0;
  div {
    font-size:20px;
  }
}
#notification.on {
  box-shadow:0 0 50px rgba(0,0,0,.2);
  top:20px;
  opacity:1;
}