article {
  overflow: hidden;
  padding: 0;
}
article .events_log {
  padding: 100px 20px 0;
  height: 100%;
  overflow-y: auto;
}

/* FILTERS */
.search_wrap {
  flex-grow: 1;
  min-width: 40%;
}

.filters {
  margin-right: 20px;
}
.filters [data-type] {
  flex-grow: 1;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7rem;
  text-align: center;
}
.filters [data-type] .mat-ico {
  display: block;
  margin: 0 auto 4px;
  pointer-events: none;
}
.filters [data-type].on {
  color: #00A99D;
}

[type=search] {
  margin: 0;
  font-size: 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
}

[type=search]:focus {
  border-bottom: 1px solid #ccc;
}

/* Log */
.b .co {
  top: auto;
  bottom: 15px;
}
.b .a > div:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.b .a > div:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.b .t {
  background: #000;
}
.b > .l {
  font-family: monospace;
}
.b .ft > div {
  flex: 0 0 33.3337%;
  overflow: hidden;
}
.b .c > div {
  width: 40px;
  height: 40px;
  border: 0;
}
.b .c .co:after {
  content: "\e14d";
  font-size: 2rem;
  font-family: "MaterialIcons";
}
.b .c .go, .b .c .go:hover {
  background: url("../../images/gs.svg") no-repeat center/24px;
}
.b .c .so, .b .c .so:hover {
  background: url("../../images/sof.svg") no-repeat center/24px;
}

.b:hover {
  transform: none;
}
.b:hover .b {
  box-shadow: none;
}
.b:hover .dt {
  background: #aaa;
}

.b.s .s {
  background: forestgreen;
}

.b.d .s, .b.e .s {
  background: firebrick;
}

.b.e {
  border: 1px solid firebrick;
}

.b .s {
  background: #5691b0;
}

.b.i .s {
  background: #0086cb;
}

.b.error_log .s {
  background: saddlebrown;
}

/* Others */
#notification {
  position: fixed;
  left: 50%;
  top: -30vh;
  min-width: 60vw;
  max-width: calc(100vw - 120px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 6px;
  /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
  padding: 40px;
  background: rgba(255, 255, 255, 0.97);
  transition: 0.6s;
  opacity: 0;
}
#notification div {
  font-size: 20px;
}

#notification.on {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  top: 20px;
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  article {
    height: calc(100vh - 90px);
  }
  article .events_log {
    padding: 10px 10px 0;
    height: calc(100% - 116px);
  }
  .controls {
    flex-wrap: wrap;
    position: relative;
    padding-top: 0;
    height: 116px;
  }
  .controls label {
    display: none;
  }
  [type=search] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
  }
  .b {
    padding: 10px;
  }
  .b .a, .b .b {
    position: relative;
    top: auto;
    left: auto;
  }
  .b .l {
    padding: 10px 0;
  }
  .b .l pre {
    font-size: 0.9rem;
  }
  .b .a {
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
  }
  .b .a > div:first-child {
    border-radius: 6px 6px 0 0;
  }
  .b .a > div:last-child {
    border-radius: 0 0 6px 6px;
  }
  .b .ft {
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  .b .ft > div {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 5px;
  }
  .b .ft .l {
    flex: 0 0 30%;
  }
  .b .ft .d {
    position: absolute;
    width: 70%;
    top: 0;
    right: 0;
  }
  .b > .c > div {
    padding: 4px;
    font-size: 0.8rem;
    margin-left: 6px;
  }
  .filters {
    margin: 0;
    flex: 0 0 100%;
  }
  .filters [data-type] {
    padding: 10px 5px;
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=log.css.map */
