$ui: #00A99D;
article {
  overflow:hidden;
  padding: 0;
  .events_log {
    padding: 20px;
    height:calc(100% - 75px);
    overflow-y:auto;
  }
}

/* FILTERS */

.controls {
  padding: 10px 20px;
  display: flex;
  label {
    font-size: 12px;
    text-transform: uppercase;
  }
}
.search_wrap {
  flex-grow:1;
  min-width:40%;
}
.filters {
  margin-right: 20px;
  i {
    flex-grow:1;
    padding: 12px;
    cursor: pointer;
    text-transform: uppercase;
    opacity: .6;
    font-weight: bold;
  }
  i.on {
    color:$ui;
  }
}
[type=search] {
  margin: 0;
  font-size: 20px;
  width: 100%;
}
[type=search]:focus {
  border-bottom: 1px solid #ccc;
}

/* Log */

.b {
  .co {
    top:auto;
    bottom:15px;
  }
  .a>div:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .a>div:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .t {
    background:#000;
  }
  >.l {
    font-family: monospace;
  }
  .ft>div {
    flex:0 0 33.3337%;
    overflow: hidden;
  }
}
.b:hover {
  transform: none;
  .b {
    box-shadow: none;
  }
  .dt {
    background:#aaa;
  }
}
.b.s .s {
  background:forestgreen;
}
.b.d .s, .b.e .s {
  background:firebrick;
}
.b.e {
  border:1px solid firebrick;
}
.b .s {
  background: #5691b0;
}
.b.i .s {
  background: #0086cb;
}
.b.error_log .s {
  background: saddlebrown;
}

/* Others */

#notification {
  position: fixed;
  left:50%;
  top:-30vh;
  min-width:60vw;
  max-width:calc(100vw - 120px);
  box-shadow:0 0 30px rgba(0,0,0,.1);
  transform:translateX(-50%);
  z-index:100;
  border-radius:6px;
  /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
  padding: 40px;
  background:rgba(255,255,255,.97);
  transition:.6s;
  opacity:0;
  div {
    font-size:20px;
  }
}
#notification.on {
  box-shadow:0 0 50px rgba(0,0,0,.2);
  top:20px;
  opacity:1;
}

@media only screen and (max-width:600px) {
  .b {
    padding: 10px;
    .a, .b {
      position: relative;
      top: auto;
      left: auto;
    }
    .l {
      padding: 15px;
    }
    .a {
      margin-bottom: 10px;
    }
    .ft {
      flex-wrap:wrap;
      border: 1px solid #ddd;
      border-radius:15px;
      > div {
        flex:0 0 100%;
        max-width:100%;
        padding: 8px;
        text-align: center !important;
      }
    }
  }
}