/* Element Positions */
.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fxd {
  position: fixed;
}

.abs.l {
  left: 0;
}

.abs.r {
  right: 0;
}

.abs.t {
  top: 0;
}

.t5 {
  top: 5px;
}

.t10 {
  top: 10px;
}

.t15 {
  top: 15px;
}

.t20 {
  top: 20px;
}

.abs.b {
  bottom: 0;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.fn {
  float: none;
}

.dib {
  display: inline-block;
}

.dibi {
  display: inline-block !important;
}

.db {
  display: block;
}

.dbi {
  display: block !important;
}

.dn {
  display: none;
}

.dni {
  display: none !important;
}

.di {
  display: inline;
}

.df {
  display: flex;
}

.df.wr {
  flex-wrap: wrap;
}

.dfi {
  display: flex !important;
}

.df.fg > div {
  flex-grow: 1;
}

.vat {
  vertical-align: top;
}

.val {
  vertical-align: baseline;
}

.vam {
  vertical-align: middle;
}

.vab {
  vertical-align: bottom;
}

.fw, .ww {
  width: 100%;
}

.fv {
  width: 100vw;
  height: 100vh;
}

.wa {
  width: auto;
}

.ol {
  white-space: nowrap;
  overflow: hidden;
}

/* Appearance */
.op0 {
  opacity: 0;
}

.op2 {
  opacity: 0.2;
}

.op3 {
  opacity: 0.3;
}

.op5 {
  opacity: 0.5;
}

.op9 {
  opacity: 0.9;
}

.op1 {
  opacity: 1;
}

.bt1 {
  border-top: 1px solid;
}

.br1 {
  border-right: 1px solid;
}

.bl1 {
  border-left: 1px solid;
}

.bb1 {
  border-bottom: 1px solid;
}

.br2 {
  border-radius: 2px;
}

.br4 {
  border-radius: 4px;
}

.br5 {
  border-radius: 5px;
}

.br6 {
  border-radius: 6px;
}

.br8 {
  border-radius: 8px;
}

.br10 {
  border-radius: 10px;
}

.br12 {
  border-radius: 12px;
}

.br15 {
  border-radius: 15px;
}

.br20 {
  border-radius: 20px;
}

/* Text Positions */
.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.jcs {
  justify-content: flex-start;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: flex-end;
}

.df.l {
  justify-content: flex-start;
}

.df.c {
  justify-content: center;
}

.df.r {
  justify-content: flex-end;
}

select.tar {
  text-align-last: right;
}

.lh1 {
  line-height: 100%;
}

.lh15 {
  line-height: 150%;
}

.lh2 {
  line-height: 200%;
}

.lh20 {
  line-height: 20px;
}

.lh40 {
  line-height: 40px;
}

/* Text Appearance */
.fz20 {
  font-size: 20px;
}

.fz18 {
  font-size: 18px;
}

.fz16 {
  font-size: 16px;
}

.fz15 {
  font-size: 15px;
}

.fz14 {
  font-size: 14px;
}

.fz12 {
  font-size: 12px;
}

.fz10 {
  font-size: 10px;
}

.fz8 {
  font-size: 8px;
}

.fz0 {
  font-size: 0;
}

.fl, .fwl {
  font-weight: lighter;
}

.fb, .fwb {
  font-weight: bold;
}

.fn, .fwn {
  font-weight: normal;
}

.ls0 {
  letter-spacing: 0;
}

.ls1 {
  letter-spacing: 1px;
}

.ls2 {
  letter-spacing: 2px;
}

.ls3 {
  letter-spacing: 3px;
}

.bxs, .bsh {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
}

.bsn {
  box-shadow: none;
}

.ttu, .uc {
  text-transform: uppercase;
}

.ttn, .nc {
  text-transform: none;
}

.tdu {
  text-decoration: underline;
}

.tdl {
  text-decoration: line-through;
}

.tdn {
  text-decoration: none;
}

/* Margins */
.m0, input.m0 {
  margin: 0;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m30 {
  margin: 30px;
}

.m40 {
  margin: 40px;
}

.m50 {
  margin: 50px;
}

.m60 {
  margin: 60px;
}

.m70 {
  margin: 70px;
}

.m80 {
  margin: 80px;
}

.m90 {
  margin: 90px;
}

.m100 {
  margin: 100px;
}

.m120 {
  margin: 120px;
}

.m140 {
  margin: 140px;
}

.mx0, .mh0 {
  margin-left: 0;
  margin-right: 0;
}

.mx10, .mh10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-10, .mh-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.mx20, .mh20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx30, .mh30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx40, .mh40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx50, .mh50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mx60, .mh60 {
  margin-left: 60px;
  margin-right: 60px;
}

.mx70, .mh70 {
  margin-left: 70px;
  margin-right: 70px;
}

.mx80, .mh80 {
  margin-left: 80px;
  margin-right: 80px;
}

.mx90, .mh90 {
  margin-left: 90px;
  margin-right: 90px;
}

.mx100, .mh100 {
  margin-left: 100px;
  margin-right: 100px;
}

.mx120, .mh120 {
  margin-left: 120px;
  margin-right: 130px;
}

.mx140, .mh140 {
  margin-left: 140px;
  margin-right: 140px;
}

.my0, .mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my10, .mv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my20, .mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my30, .mv30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my40, .mv40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my50, .mv50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my60, .mv60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my70, .mv70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my80, .mv80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my90, .mv90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.my100, .mv100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my120, .mv120 {
  margin-top: 120px;
  margin-bottom: 130px;
}

.my140, .mv140 {
  margin-top: 140px;
  margin-bottom: 140px;
}

.mr0 {
  margin-right: 0 !important;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.ml0 {
  margin-left: 0 !important;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.mt80 {
  margin-top: 80px;
}

.mt100 {
  margin-top: 100px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt-20 {
  margin-top: -20px;
}

.ml-10 {
  margin-left: -10px;
}

.mr-10 {
  margin-right: -10px;
}

.mra {
  margin-right: auto;
}

.mla {
  margin-left: auto;
}

.mc, .ma {
  margin-left: auto;
  margin-right: auto;
}

/* Paddings */
.p0 {
  padding: 0 !important;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p30 {
  padding: 30px;
}

.p40 {
  padding: 40px;
}

.p60 {
  padding: 60px;
}

.p80 {
  padding: 80px;
}

.p100 {
  padding: 100px;
}

.pl0 {
  padding-left: 0;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pr0 {
  padding-right: 0;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pb0 {
  padding-bottom: 0;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb100 {
  padding-bottom: 100px;
}

.pt0 {
  padding-top: 0;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt60 {
  padding-top: 60px;
}

.pt80 {
  padding-top: 80px;
}

.pt100 {
  padding-top: 100px;
}

.px0, .ph0 {
  padding-left: 0;
  padding-right: 0;
}

.px10, .ph10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px20, .ph20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px30, .ph30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px40, .ph40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px50, .ph50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px60, .ph60 {
  padding-left: 60px;
  padding-right: 60px;
}

.px70, .ph70 {
  padding-left: 70px;
  padding-right: 70px;
}

.px80, .ph80 {
  padding-left: 80px;
  padding-right: 80px;
}

.px90, .ph90 {
  padding-left: 90px;
  padding-right: 90px;
}

.px100, .ph100 {
  padding-left: 100px;
  padding-right: 100px;
}

.px120, .ph120 {
  padding-left: 120px;
  padding-right: 130px;
}

.px140, .ph140 {
  padding-left: 140px;
  padding-right: 140px;
}

.py0, .pv0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py10, .pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py20, .pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py30, .pv30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py40, .pv40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py50, .pv50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py60, .pv60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py70, .pv70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py80, .pv80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py90, .pv90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.py100, .pv100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py120, .pv120 {
  padding-top: 120px;
  padding-bottom: 130px;
}

.py140, .pv140 {
  padding-top: 140px;
  padding-bottom: 140px;
}

/* Bootstrap Columns */
.row.ng {
  margin-left: 0;
  margin-right: 0;
}

.row.ng > .col, .row.ng > [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

/* Others */
.cp {
  cursor: pointer;
}

[dir=rtl] .tal {
  text-align: right;
}
[dir=rtl] .tar {
  text-align: left;
}
[dir=rtl] .jcs {
  justify-content: flex-end;
}
[dir=rtl] .jce {
  justify-content: flex-start;
}
[dir=rtl] .df.l {
  justify-content: flex-end;
}
[dir=rtl] .df.r {
  justify-content: flex-start;
}
[dir=rtl] select.tar {
  text-align-last: left;
}

/*# sourceMappingURL=micro.css.map */
