/* Resets v1.31 */

html, body, div, span, applet, object, iframe,  p, button, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,  menu, nav, output, ruby, section, summary, time, mark, audio, video, select, input, textarea, text, h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  font-style:normal;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}
pre {
  font-family: 'Courier New',monospace;
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 10px 0;
}
strong, b { font-weight: bold; }
h1 { font-size: 26px }
h2 { font-size: 22px }
h3 { font-size: 18px }
h4 { font-size: 16px }
h5 { font-size: 14px }
h6 { font-size: 14px }
input, button, select, textarea {
  width:100%;
  padding:12px;
  box-sizing: border-box;
  border:0;
  outline:none;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 20px;
  -webkit-appearance: none;
  background: transparent;
  border-radius: 0;
}
input:disabled, button:disabled, select:disabled, textarea:disabled {
  //background:rgba(255,255,255,.2);
  cursor:not-allowed;
  box-shadow:none;
  opacity: .6;
  //border:1px solid #eee;
}
select, button {
  cursor: pointer;
}
select {
  background:url('../../images/select.svg') no-repeat calc(100% - 6px) / 20px;
  padding-right: 30px;
}
button {
  width: auto;
  box-shadow:none;
  border: 0;
}
label {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: bold;
  color: #000;
}
[type=checkbox], [type=radio] {
  width:auto;
  box-shadow:none;
}
[type=radio], [type=checkbox] {
  cursor: pointer;
  margin: 8px 8px 8px 0;
  display: inline-block;
  vertical-align: middle;
}
[type=radio]:checked, [type=checkbox]:checked {
  background:#000;
}
[type=radio]+label, [type=checkbox]+label {
  text-transform: none;
  font-size: 14px;
  letter-spacing: unset;
  cursor:pointer;
  display: inline-block;
  vertical-align: middle;
}
button{
  background: none;
  -webkit-appearance: none;
}
a {
  color:inherit;
  text-decoration: none;
}
small { font-size: 75%; }
fieldset{
  border: 0;
}
.ace_editor div, .ace_editor span { font-family: monospace; }
::-webkit-scrollbar { width:12px; height:12px; }
::-webkit-scrollbar {
  background: rgba(255,255,255,.05);
  display: block;
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  border:2px solid rgba(255,255,255,.05);
  margin-left: 1px;
  border-radius: 2px;
  background: rgba(0,0,0,.1);
}

/* RTL */

[dir=rtl] {
  select {
    background: url(../../images/select.svg) no-repeat 6px / 20px;
    padding-right: 12px;
    padding-left: 30px;
  }
}