/* LAYOUT */

article {
  margin:20px 80px 20px 140px;
  overflow-x:hidden;
}
nav {
  width: 120px;
  height:calc(100vh - 40px);
  justify-content: center;
  position: fixed;
  right:0;
  top:20px;
  display: flex;
  flex-wrap:wrap;
  align-content: center;
  > div {
    height:50px;
    width: 100%;
    margin:20px 0;
    cursor:pointer;
  }
  .p {
    background:url('../../icons/prev.svg') no-repeat center / contain;
  }
  .n {
    background:url('../../icons/next.svg') no-repeat center / contain;
  }
  .f {
    background:url('../../icons/okay.svg') no-repeat center / contain;
  }
}

/* BASICS */

button {
  cursor:pointer;
  padding:8px 20px;
  text-transform: uppercase;
  margin:20px 10px;
}
input[type=text], [type=number] {
  border:0;
  border-bottom:1px solid #ddd;
  box-shadow:none;
}
input.empty {
  border-bottom:1px solid firebrick;
}
input[type=text]:focus, [type=number]:focus {
  transition:.9s;
  border-bottom:1px solid #000;
}
input[data-color-picker] {
  border-radius:10px;
  padding:12px 40px 12px 12px !important;
  text-shadow:1px 1px 1px #fff;
  background-color:#f1f1f1;
  border:0;
}
select {
  border-radius:10px;
  font-size: 18px;
}
.ico {
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  cursor: pointer;
}

/* Setup UI */

.setup {
  position: relative;
  .content {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform:translate(0,0);
    transition:.6s;
    position: absolute;
    max-height:calc(100vh - 40px);
  }
  nav {
    opacity: 0;
    pointer-events: none;
  }
  .data {
    max-height:calc(100vh - 220px);
    overflow-y:auto;
    .scroll-content {
      padding:40px 0;
    }
    .scrollbar-track-y {
      transform:translateX(10px);
    }
  }
  .head {
    text-align: center;
    margin-bottom: 50px;
  }
  label {
    cursor:pointer;
    position: relative;
    color:#000;
    font-weight: 200;
    font-size:18px;
    i.tip {
      position: absolute;
      white-space: normal;
      width:300px;
      background:rgba(255,255,255,.92);
      padding:10px;
      backdrop-filter: blur(10px) saturate(2);
      -webkit-backdrop-filter: blur(10px) saturate(2);
      font-size: 14px;
      line-height:20px;
      color:#222;
      border-radius:10px;
      box-shadow:0 0 20px rgba(0,0,0,.1);
      pointer-events: none;
      opacity: 0;
      top:auto;
      bottom:10px;
      left:20px;
      word-break:normal;
    }
    i.tip.on {
      opacity: 1;
    }
  }
  .q {
    margin-bottom: 40px;
    input[type=radio] + label, input[type=checkbox] + label {
      display: inline-block;
      font-size: 16px;
    }
    > div {
      position: relative;
    }
    input[type=text], input[type=number] {
      margin: 0;
    }
    input[type=text], input[type=number] {
      font-size: 22px;
      padding:12px 0;
      font-weight: 100;
    }
  }
  .q:first-child {
    i.tip {
      bottom: auto;
      top: 250%;
    }
  }
  .q:last-child {
    margin-bottom: 0;
  }
  .row {
    display: flex;
    flex-wrap:wrap;
    //margin-left:-10px;
    //margin-right:-10px;
    > div {
      margin:0 10px;
    }
    > div:nth-child(1) {
      margin-left: 0;
    }
    > div:last-child {
      margin-right: 0;
    }
    .col {
      flex-grow:1;
    }
    .col-6, .col-lg-6 {
      flex:0 0 calc(50% - 20px);
      max-width:calc(50% - 20px);
    }
    .col-3, .col-lg-3 {
      flex:0 0 calc(25% - 20px);
      max-width:calc(25% - 20px);
    }
    .col-4, .col-lg-4 {
      flex:0 0 calc(33.333333% - 20px);
      max-width:calc(33.333333% - 20px);
    }
    .col-6:nth-child(2n + 1), .col-lg-6:nth-child(2n + 1) {
      margin-left: 0;
      flex:0 0 calc(50% - 10px);
      max-width:calc(50% - 10px);
    }
    .col-4:nth-child(3n + 1), .col-lg-4:nth-child(3n + 1) {
      margin-left: 0;
      flex:0 0 calc(33.333333% - 10px);
      max-width:calc(33.333333% - 10px);
    }
    .col-6:nth-child(2n), .col-lg-6:nth-child(2n) {
      margin-right: 0;
      max-width:calc(50% - 10px);
      flex:0 0 calc(50% - 10px);
    }
    .col-4:nth-child(3n), .col-lg-4:nth-child(3n) {
      margin-right: 0;
      max-width:calc(33.333333% - 10px);
      flex:0 0 calc(33.333333% - 10px);
    }
  }
  i.tip {
    position: absolute;
    z-index:999;
    //right: 0;
    top: 50%;
    transform:translateY(-50%);
  }
  i.tip span {
    background:rgba(255,255,255,.98);
    display: none;
    padding: 20px;
    border-radius:6px;
    max-width:40vw;
    min-width:250px;
    box-shadow:0 0 35px rgba(0,0,0,.1);
  }
  i.tip:hover span {
    display: block;
    position: absolute;
    left:75%;
    top:75%;
  }
  .foot {
    text-align: center;
    margin-top: 60px;
  }
}
.setup.on {
  .content {
    opacity: 1;
    pointer-events: all;
    transform:translate(0,0);
  }
  nav {
    opacity: 1;
    pointer-events: all;
  }
}
.setup.on+.setup {
  .content {
    transform:translate(40px,0);
  }
}
.select2-container--default .select2-selection--multiple {
  border:0;
  background:#f1f1f1;
  border-radius:10px;
  margin-top: 10px;
  min-height:45px;
}
.select2-dropdown {
  border:0;
  border-radius:0 0 10px 10px;
  box-shadow:0 0 30px rgba(0,0,0,.1);
  padding: 10px;
}
.select2-selection__choice__remove {
  background:none;
}
ul.select2-results__options {
  display: flex;
  flex-wrap:wrap;
  li {
    background:#f1f1f1;
    border-radius:5px;
    margin:5px;
    padding:6px 15px;
    border:0;
  }
  .select2-results__option--selected {
    border:1px solid #000;
  }
}
.select2-search__field {
  display: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background:#f1f1f1;
  color:#000;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border:0;
}
.aio_dynamics {
  .set:nth-child(4), .set:nth-child(5) {
    display: inline-block;
    vertical-align: top;
    width:50%;
  }
  .set:nth-child(2) label {
    display: none;
  }
  .url {
    min-height:30px;
    border-bottom:1px solid #ddd;
    margin-bottom: 6px;
    padding: 12px;
  }
  [type=checkbox] {
    margin-bottom: 0;
  }
  [type=checkbox] + label {
    vertical-align: bottom;
  }
}

// TODO: Responsive Setup
/* RESPONSIVE */

/* DARK */

body.d {
  input, button, textarea {
    border:0;
    border-bottom:1px solid #666;
  }
  .setup label i.tip {
    background-color:black;
    color:white;
  }
  input[type=text], input[type=number] {
    border-bottom: 1px solid #222;
  }
  input[type=text]:focus, input[type=number]:focus {
    border-bottom: 1px solid #666;
  }
  ul.select2-results__options li {
    background:#444;
    border:1px solid #555;
  }
  aside > div.on {
    border:1px solid #444;
  }
  nav {
    .p {
      background:url("../../icons/w/prev.svg") no-repeat center/contain
    }
    .n {
      background:url("../../icons/w/next.svg") no-repeat center/contain
    }
  }
}