#aio_translations > div {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-bottom: 2px solid #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
}
#aio_translations > div > div {
  padding: 12px;
  flex: 0 0 33.3333%;
  font-size: 15px;
}
#aio_translations > div > div:nth-child(3) {
  flex: 0 0 calc(33.3333% - 50px);
}
#aio_translations > div i {
  width: 42px;
  height: 42px;
}

#aio_lang_editor {
  position: fixed;
  bottom: -60px;
  left: 15px;
  width: calc(100vw - 30px);
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
  transition: 0.6s;
  opacity: 0;
  pointer-events: none;
  border-radius: 20px 20px 0 0;
  backdrop-filter: blur(10px) saturate(2);
  -webkit-backdrop-filter: blur(10px) saturate(2);
}
#aio_lang_editor .actions {
  text-align: right;
}
#aio_lang_editor .close {
  background: url("../../icons/close.svg") no-repeat center/70%;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
}
#aio_lang_editor button:hover {
  opacity: 0.8;
}
#aio_lang_editor .actions .right button {
  margin: 0 0 0 15px;
}
#aio_lang_editor button.small {
  font-size: 10px;
  letter-spacing: 1px;
  background: #fff;
  border: 1px solid grey;
  padding: 4px 8px;
  color: #000;
  margin: 0 0 0 15px;
  border-radius: 0;
  border-bottom: 0;
  box-shadow: none;
}

#data {
  margin-bottom: 100px;
}

#aio_lang_editor.on {
  bottom: 0;
  opacity: 1;
  pointer-events: all;
}

#string {
  border-bottom-left-radius: 10px;
}

#save {
  padding: 22px 0;
  margin: 22px 0 0 0;
  width: 100%;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#aio_lang_editor .actions button, #set_languages {
  margin: 0 0 0 15px;
  background: darkslategrey;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.6s;
  color: #fff;
  display: inline-block;
}

#set_languages {
  background: #000;
  width: 300px;
  margin: 15px 0 0;
}

#language_selector + span {
  max-width: 300px;
}

.ico.trash {
  background: url("../../../core/components/icons/trash.svg") no-repeat center/24px;
}

#lang_select + .select2-container, #lang_page + .select2-container {
  display: block;
  width: 100%;
}
#lang_select + .select2-container .select2-selection--single, #lang_page + .select2-container .select2-selection--single {
  border: 0;
  background: #ddd;
  border-radius: 10px;
  height: auto;
  outline: 0;
}
#lang_select + .select2-container .select2-selection__rendered, #lang_page + .select2-container .select2-selection__rendered {
  line-height: normal;
}
#lang_select + .select2-container .select2-selection__arrow, #lang_page + .select2-container .select2-selection__arrow {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #aio_lang_editor {
    padding: 20px;
  }

  #aio_lang_editor.on {
    top: auto;
    bottom: 0;
  }

  #aio_lang_editor .row {
    flex-wrap: wrap;
  }

  #aio_lang_editor .col, #aio_lang_editor .col:nth-child(3) {
    flex: 0 0 100%;
    margin: 0;
    max-width: none;
  }

  #save {
    margin: 15px 0 0;
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
  }

  #aio_lang_editor textarea {
    border-radius: 5px;
  }

  #aio_lang_editor .close {
    top: 10px;
  }

  #aio_translations > div {
    padding: 15px;
  }
  #aio_translations > div > div {
    flex: 0 0 100%;
    padding: 15px 0;
  }
  #aio_translations > div > div:nth-child(1) {
    border-bottom: 1px solid #ddd;
    padding-top: 0;
  }
  #aio_translations > div > div:nth-child(3) {
    padding: 10px;
    background: #ddd;
    border-radius: 5px;
    font-weight: lighter;
  }

  .search input {
    width: 100%;
  }

  #notification {
    min-width: auto;
    max-width: none;
    width: calc(100vw - 30px);
    left: 15px;
    transform: none;
  }
}

/*# sourceMappingURL=translations.css.map */
