body, div, p, input, select, button {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

body.d {
  background: #0a0a0a;
  color: #fff;
}

article {
  height: calc(100vh - 80px);
  overflow-y: auto;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

/* HEADER */
header {
  position: fixed;
  height: 70px;
  top: 20px;
  left: 20px;
  display: flex;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 99;
  align-items: center;
}
header .logo {
  height: 100%;
  background: url("../../images/aio.svg") no-repeat center/85px;
  width: 200px;
  cursor: pointer;
}
header .logo .drop {
  position: absolute;
  width: 400px;
  top: 200%;
  left: 0;
  border-radius: 0 0 15px 15px;
  background: rgba(255, 255, 255, 0.98);
  padding: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.07);
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
}
header .menu:hover .drop {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}

body.d header {
  background: rgba(20, 20, 20, 0.98);
  border-bottom: 1px solid #282828;
}

#back {
  width: 40px;
  cursor: pointer;
  background: url("../../images/icons/back.svg") no-repeat center;
}

#brand {
  font-size: 28px;
  font-weight: 300;
}

header > div {
  flex-grow: 1;
  display: flex;
}

header > div:first-child {
  max-width: calc(50% - 10px);
}

header > div:last-child {
  justify-content: flex-end;
}

header button {
  margin: 0;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 8px;
  padding: 8px 25px;
  color: #fff;
  transition: 0.6s;
  font-weight: lighter;
  height: 40px;
}

.search, header select {
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  height: 40px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

body.d .search, body.d header select {
  box-shadow: none;
  border: 1px solid #323232;
  color: #fff;
}

header select {
  padding: 6px 12px;
  width: 100px;
  cursor: pointer;
}

.search input {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 20vw;
  margin: 0;
  border: 0;
  box-shadow: none;
  padding: 10px 16px;
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;
  font-weight: lighter;
}

body.d .search input {
  color: #fff;
}

.search button {
  box-shadow: none;
  color: #fff;
  background: #000;
}

button {
  margin: 0;
  border-radius: 4px;
  padding: 10px 20px;
  background: #007dcc;
  background: -moz-linear-gradient(45deg, #007dcc 0%, #00aded 100%);
  background: -webkit-linear-gradient(45deg, #007dcc 0%, #00aded 100%);
  background: linear-gradient(45deg, #007dcc 0%, #00aded 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#007dcc", endColorstr="#00aded",GradientType=1 );
  box-shadow: 0 0 6px rgba(0, 125, 204, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  transition: 0.6s;
  font-weight: lighter;
}

button:hover {
  box-shadow: 0 0 6px rgba(0, 125, 204, 0.3), 0 4px 6px rgba(0, 125, 204, 0.3);
}

/* BLOCKS */
.b {
  background: #fff;
  display: block;
  border-radius: 15px;
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.05);
  margin: 0 0 20px;
  transition: 0.6s;
  position: relative;
  box-sizing: border-box;
}

body.d .b {
  background: #141414;
  border: 1px solid #282828;
}

.b > .l {
  padding: 50px 15px 15px;
  font-size: 16px;
}

.b > .l pre {
  word-break: break-word;
  white-space: pre-wrap;
}

.b .a, .b .b {
  position: absolute;
  top: 15px;
  left: 15px;
  background: none;
  display: flex;
  padding: 0;
}

.b .b {
  left: auto;
  right: 15px;
  border-radius: 0;
  border: 0 !important;
}

.b .a > div {
  padding: 5px 8px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
}

.b .b > div, .b .b > button {
  font-weight: lighter;
  font-size: 13px;
  border-radius: 6px;
  padding: 4px 8px;
  transition: 0.6s;
  cursor: pointer;
  color: #fff;
}

.b .b > div, .b .b > button {
  border: 1px solid #5691b0;
  color: #5691b0;
  margin-left: 15px;
}

.b .b > div:hover, .b .b > button:hover {
  background: #5691b0;
  color: #fff;
}

.b .ft {
  display: flex;
  font-size: 13px;
}

.b .ft > div {
  flex: 0 0 auto;
  max-width: 50%;
  flex-grow: 1;
  padding: 8px 15px 12px;
  box-sizing: border-box;
  font-weight: lighter;
  border-top: 1px solid #ebebeb;
}

body.d .b .ft > div {
  border-top: 1px solid #232323;
}

.b .ft > div:last-child {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  header {
    height: auto;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
  }

  body {
    margin: 0;
  }

  header > div {
    flex: 0 0 100%;
    max-width: none !important;
    flex-wrap: wrap;
  }

  header > div:first-child {
    margin-bottom: 10px;
  }

  article {
    padding: 10px;
  }

  .search, header select {
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }

  .search {
    text-align: left;
  }

  header select:last-child {
    margin: 0;
  }

  header form {
    display: flex;
  }
}

/*# sourceMappingURL=ui.css.map */
