.file_modal, .file_notify {
  position: fixed;
  z-index: 999;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--input_radius);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 32vw;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px) saturate(2);
  -webkit-backdrop-filter: blur(10px) saturate(2);
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
}

.file_modal.on {
  pointer-events: all;
  opacity: 1;
}

body.d .file_modal, body.d .file_notify {
  background: rgba(25, 25, 25, 0.98);
}

.file_notify {
  z-index: 1000;
  padding: 20px 40px;
  text-align: center;
}
.file_notify .ext_wrap {
  display: flex;
  justify-content: center;
}
.file_notify .ext_wrap .ext {
  background: #eee;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 1rem;
  color: #000;
  margin: 10px 6px 0;
  text-transform: uppercase;
}

.file_notify.on {
  opacity: 1;
}

.file_modal.hover {
  opacity: 0.7;
}

.file_modal.hover:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px dashed #000;
  content: "";
  background: rgba(255, 255, 255, 0.75);
}

.file_modal .files_body {
  position: relative;
  min-height: 260px;
}
.file_modal .uploaded_files {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0 5px;
  background: #fff;
  z-index: 2;
}
.file_modal .no_uploaded_files {
  min-height: 260px;
  height: 100%;
  width: 100%;
  text-align: center;
}
.file_modal .no_uploaded_files span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
.file_modal .search_wrap {
  background: #fff;
  z-index: 2;
  position: relative;
  border-bottom: 2px solid #eee;
  padding: 0 5px;
}
.file_modal .search_wrap:after {
  content: "search";
  position: absolute;
  left: 15px;
  top: calc(50% + 5px);
  transform: translateY(-50%);
  font-size: 1.6rem;
}
.file_modal .search {
  box-shadow: none;
  border: 0;
  width: 100%;
  font-size: 1rem;
  padding: 8px 10px 8px 40px;
  border-radius: 5px;
  background: #f1f1f1;
  margin: 5px 0 0;
}
.file_modal .files_head {
  background: var(--primary_color);
  background: linear-gradient(160deg, var(--primary_color) 0%, var(--secondary_color) 100%);
  position: relative;
  color: var(--color);
}
.file_modal .files_head h3 {
  display: block;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: var(--filled_color);
}
.file_modal .files_head input {
  display: none;
}
.file_modal .files_head .acts {
  position: absolute;
  right: 4px;
  top: 4px;
  left: auto;
  z-index: 10;
  cursor: pointer;
  padding: 0;
  display: flex;
  margin: 0;
}
.file_modal .files_head .acts > div {
  width: 40px;
  height: 40px;
  position: relative;
  font-size: 2rem;
  line-height: 40px;
}
.file_modal .files_head .acts > div.bi {
  font-size: 0;
}
.file_modal .files_head .acts > div.bi:before {
  font-size: 1.4rem;
  line-height: 2.3rem;
}
.file_modal .files_head .acts .expand {
  display: block;
}
.file_modal .files_head .acts .contract {
  display: none;
}
.file_modal .files_head .close {
  left: auto;
  top: auto;
  color: var(--filled_color);
}
.file_modal .files_head .info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 -10px;
  padding: 10px 0;
  position: relative;
}
.file_modal .files_head .info div {
  color: var(--filled_color);
}
.file_modal .files_head .info .size, .file_modal .files_head .info .measure {
  display: inline-block;
  font-size: 1rem;
}
.file_modal .files_head .info > div {
  margin: 0 10px;
  padding: 0 10px 0 50px;
  display: flex;
  min-width: calc(33% - 20px);
  flex-grow: 1;
  flex-wrap: wrap;
  position: relative;
  color: var(--filled_color);
}
.file_modal .files_head .info > div .types {
  display: flex;
  margin: 0 -2px;
  flex-wrap: wrap;
}
.file_modal .files_head .info > div .types .type {
  font-size: 0.6rem;
  background: rgba(255, 255, 255, 0.3);
  color: var(--filled_color);
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  text-transform: uppercase;
}
.file_modal .files_head .info .ico {
  position: absolute;
  left: 10px;
  top: 6px;
  margin: 0 5px;
  font-size: 1.6rem;
  color: var(--filled_color);
}
.file_modal .files_head .info .ico.bi {
  font-size: 1.2rem;
}
.file_modal .files_head .info .title {
  flex: 0 0 100%;
  font-size: 0.6rem;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 5px;
  color: var(--filled_color);
}
.file_modal .files_head .info:before {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 1px;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  content: "";
}
.file_modal .drop_files {
  position: absolute;
  left: 5px;
  bottom: 5px;
  top: 5px;
  font-size: 22px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  text-align: center;
  opacity: 0.6;
  pointer-events: none;
  transition: 1s;
  border: 5px dashed #eee;
}
.file_modal .drop_files span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.file_modal .files_body.hover .drop_files {
  opacity: 1;
}

body.d .file_modal .files_head {
  background: rgb(35, 35, 35);
}

/*.files_head .browse_file {
    padding:10px;
    margin: 0;
    display: block;
    position: relative;
    color:#fff;
    text-align: center;
    background:rgba(255,255,255,.05);
    font-size: 16px;
    font-weight: lighter;
    text-transform: none;
    cursor: pointer;
}
.files_head .browse_file i {
    margin-right: 10px;
}*/
#aio_up .fi span:nth-child(3), #aio_up .fi.multiple span:nth-child(2) {
  display: none;
}

#aio_up .fi.multiple span:nth-child(3) {
  display: inline-block;
}

.files_head .i.file.browse {
  background: url("../../images/icons/browse.svg") no-repeat center;
}

.fup_icon.uploaded_files {
  background: url("../../images/icons/uploads.svg") no-repeat center 15px/45px;
}

.fup_icon.camera_upload {
  background: url("../../images/icons/camera.svg") no-repeat center 15px/45px;
}

#aio_up .translations {
  display: none;
}

#aio_up .f, .uploaded_files > .uploading {
  font-size: 12px;
  padding: 50px 10px 15px 10px;
  background-image: url("../../images/icons/file.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 50% 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  flex: 0 0 calc(33.33337% - 10px);
  max-width: calc(33.333337% - 10px);
  height: 86px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  background-color: #fff;
}

#aio_up .f.gif {
  background-image: url("../../images/icons/files/gif.svg");
}

#aio_up .f.txt {
  background-image: url("../../images/icons/files/txt.svg");
}

#aio_up .f.zip, #aio_up .f.rar, #aio_up .f.tar {
  background-image: url("../../images/icons/files/zip.svg");
}

#aio_up .f.xls {
  background-image: url("../../images/icons/files/xls.svg");
}

#aio_up .f.xlsx {
  background-image: url("../../images/icons/files/xlsx.svg");
}

#aio_up .f.doc {
  background-image: url("../../images/icons/files/doc.svg");
}

#aio_up .f.docx {
  background-image: url("../../images/icons/files/docx.svg");
}

#aio_up .f.ppt {
  background-image: url("../../images/icons/files/ppt.svg");
}

#aio_up .f.pdf {
  background-image: url("../../images/icons/files/pdf.svg");
}

#aio_up .f.mp3 {
  background-image: url("../../images/icons/files/mp3.svg");
}

#aio_up .f .name {
  overflow: hidden;
}

#aio_up .f .size, #aio_up .uploading .perc {
  font-size: 10px;
  color: #aaa;
}

#aio_up .f.on {
  border: 1px solid #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#aio_up .f.new {
  background-color: rgba(73, 146, 255, 0.24) !important;
  animation: new_file linear 1s infinite;
  -webkit-animation: new_file linear 1s infinite;
}

@keyframes new_file {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: rgba(73, 146, 255, 0.24);
  }
  50% {
    background-color: rgba(73, 146, 255, 0.24);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes new_file {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: rgba(73, 146, 255, 0.24);
  }
  50% {
    background-color: rgba(73, 146, 255, 0.24);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
#aio_up .f:after {
  content: "";
  position: absolute;
  background: url(../../icons/radio.svg) no-repeat center/contain;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
}

#aio_up .f.on:after {
  background: url(../../icons/checked.svg) no-repeat center/contain;
  opacity: 1;
}

.uploaded_files .uploading .progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid #eee;
  outline-offset: -1px;
  z-index: -1;
}

.uploaded_files .uploading .progress > div {
  height: 100%;
  background: #eee;
  transition: 1s;
  width: 0;
}

.files_actions {
  display: flex;
  border-top: 1px solid #ddd;
}
.files_actions > div, .files_actions > label {
  margin: 0;
  cursor: pointer;
  flex-grow: 1;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  text-transform: none;
  color: #000;
  display: block;
}
.files_actions .disabled {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.files_actions .i {
  color: #878787;
  position: relative;
}
.files_actions i:not(.bi), .files_actions i.bi:before {
  line-height: 50px;
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
}
.files_actions .i.disabled {
  background: none;
  cursor: not-allowed;
}
.files_actions > div:hover, .files_actions > label:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

body.d .files_actions {
  border-top: 1px solid rgb(35, 35, 35);
}
body.d .files_actions div, body.d .files_actions label {
  color: #fff;
}

.aio_fsp {
  /*box-shadow: 0 0 10px rgba(0,0,0,.05) inset;*/
  position: relative;
  min-height: 45px;
  border-top: var(--input_border_top) solid var(--input_border_color);
  border-right: var(--input_border_right) solid var(--input_border_color);
  border-bottom: var(--input_border_bottom) solid var(--input_border_color);
  border-left: var(--input_border_left) solid var(--input_border_color);
  margin-top: var(--input_margin_top);
  margin-right: var(--input_margin_right);
  margin-bottom: var(--input_margin_bottom);
  margin-left: var(--input_margin_left);
  border-radius: var(--input_radius);
  padding: 10px 10px 0 10px;
}
.aio_fsp > .w {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}
.aio_fsp > .w > .f {
  flex: 0 0 calc(100% - 10px);
  max-width: calc(100% - 10px);
  margin: 0 10px 10px 0;
  position: relative;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 4px;
}
.aio_fsp button {
  position: absolute;
  top: -1px;
  right: -1px;
  height: calc(100% + 2px);
  border: 0 !important;
  background: #888;
  color: #fff !important;
  font-size: 24px;
  width: 42px;
  margin: 0;
}
.aio_fsp .i.file {
  margin: 6px auto;
}

[data-col=half] > .w > .f {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
}

[data-col=quarter] > .W > .f {
  flex: 0 0 calc(25% - 10px);
  max-width: calc(25% - 10px);
}

[disabled] + .aio_fsp > .w {
  margin-right: 0;
}
[disabled] + .aio_fsp .trash {
  display: none;
}

.empty + .aio_fsp {
  box-shadow: 0 0 1px 1px firebrick inset;
}

td .aio_fsp {
  margin: 0;
}

/* .aio_fsp>.w>.f:nth-child(4n) {
    margin-right: 0;
} */
.aio_fp {
  width: 100%;
  min-height: 40px;
  margin-bottom: 15px;
  border-radius: 4px;
  position: relative;
}
.aio_fp > .f {
  display: block;
  margin: 0 !important;
  padding: 8px;
}
.aio_fp > button {
  width: 100%;
  min-height: 46px;
}
.aio_fp button.aio_upload {
  margin: 0;
  border-top: var(--input_border_top) solid var(--input_border_color);
  border-right: var(--input_border_right) solid var(--input_border_color);
  border-bottom: var(--input_border_bottom) solid var(--input_border_color);
  border-left: var(--input_border_left) solid var(--input_border_color);
  padding-right: 36px;
  position: relative;
  text-transform: none;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  box-shadow: none;
  text-align: center;
}
.aio_fp button.aio_upload .ico {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 35px;
  height: 35px;
  transform: translateY(-50%);
  display: block;
  color: var(--primary_color);
  overflow: hidden;
}
.aio_fp button.aio_upload .ico.bi:before {
  font-size: 1.2rem;
  line-height: 35px;
}

.aio_files > .f {
  display: flex;
  align-items: center;
  padding: var(--input_padding_top) 35px var(--input_padding_bottom) var(--input_padding_left);
  background-color: var(--input_bg);
  border-top: var(--input_border_top) solid #888;
  border-right: var(--input_border_right) solid #888;
  border-bottom: var(--input_border_bottom) solid #888;
  border-left: var(--input_border_left) solid #888;
  border-radius: var(--input_radius);
  position: relative;
  margin-right: 15px;
  line-height: 1.4rem;
  font-size: 1rem;
  gap: 3px;
}
.aio_files .f > .f {
  font-size: 0.8rem;
  word-break: break-all;
  max-width: 100%;
  /* max-width: calc(100% - 34px); */
  overflow: hidden;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.aio_files .trash {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  color: var(--error_color);
}
.aio_files .ico.file {
  height: 20px;
  width: 20px;
  font-size: 1.2rem;
}

.file_modal.max {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
.file_modal.max .files_body .uploaded_files {
  height: calc(100vh - 165px);
  max-height: none;
}
.file_modal.max .no_uploaded_files {
  min-height: auto;
  height: calc(100vh - 165px);
}
.file_modal.max .drop_files {
  min-height: auto;
  height: calc(100vh - 165px);
}
.file_modal.max .f, .file_modal.max > .uploaded_files > .uploading {
  flex: 0 0 220px !important;
  max-width: 220px !important;
}
.file_modal.max .acts .expand {
  display: none;
}
.file_modal.max .acts .contract {
  display: block;
}

body.d .aio_files .trash {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .file_modal {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    transform: none;
    border-radius: 0;
  }
  .file_modal .files_body .uploaded_files {
    height: 70vh;
    min-height: auto;
    max-height: none;
    padding-bottom: 20vh;
  }
  .file_notify {
    width: 100vw;
  }
  .files_actions {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .files_actions > div, .files_actions > label {
    padding: 20px 10px;
    background: #fff !important;
  }
  #aio_up .f:after {
    left: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
  }
  .aio_fsp > .w {
    margin: 0;
  }
  .aio_fsp > .w > .f {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .aio_fsp > .w > .f .f {
    padding-right: 20px;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
  }
  .aio_fsp .aio_upload {
    position: relative;
    top: auto;
    height: auto;
    left: -1px;
    bottom: -1px;
    margin: 0 -10px;
    width: calc(100% + 22px);
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
}

/*# sourceMappingURL=upload.css.map */
