@charset "UTF-8";
.file_modal, .file_notify {
  position: fixed;
  z-index: 999;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 32vw;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px) saturate(2);
  -webkit-backdrop-filter: blur(10px) saturate(2);
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
}

.file_modal.on {
  pointer-events: all;
  opacity: 1;
}

body.d .file_modal, body.d .file_notify {
  background: rgba(25, 25, 25, 0.98);
}

.file_notify {
  z-index: 1000;
  padding: 20px 40px;
  text-align: center;
}
.file_notify .ext_wrap {
  display: flex;
  justify-content: center;
}
.file_notify .ext_wrap .ext {
  background: #eee;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 1rem;
  color: #000;
  margin: 10px 6px 0;
  text-transform: uppercase;
}

.file_notify.on {
  opacity: 1;
}

.file_modal.hover {
  opacity: 0.7;
}

.file_modal.hover:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px dashed #000;
  content: "";
  background: rgba(255, 255, 255, 0.75);
}

.file_modal .uploaded_files {
  min-height: 260px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0 5px;
}
.file_modal .no_uploaded_files {
  min-height: 260px;
  height: 100%;
  width: 100%;
  text-align: center;
}
.file_modal .no_uploaded_files span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
.file_modal .search {
  box-shadow: none;
  border: 0;
  background: #ddd url(../../icons/search.svg) no-repeat 10px center/20px;
  border-radius: 8px;
  width: calc(100% - 20px);
  font-size: 16px;
  padding: 12px 12px 12px 40px;
  margin: 10px;
  letter-spacing: 1px;
}
.file_modal .files_body {
  position: relative;
}
.file_modal .files_head {
  background: #333;
  position: relative;
  color: #fff;
}
.file_modal .files_head h3 {
  display: block;
  margin: 0;
  padding: 15px;
  text-align: center;
}
.file_modal .files_head input {
  display: none;
}
.file_modal .files_head .acts {
  position: absolute;
  right: 4px;
  top: 4px;
  left: auto;
  z-index: 10;
  cursor: pointer;
  padding: 0;
  display: flex;
}
.file_modal .files_head .acts > div {
  width: 40px;
  height: 40px;
  position: relative;
  font-size: 2rem;
  line-height: 40px;
}
.file_modal .files_head .expand {
  content: "";
}
.file_modal .files_head .close {
  left: auto;
  top: auto;
}
.file_modal .drop_files {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 22px;
  width: calc(100% - 10px);
  height: calc(100% - 60px);
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  z-index: 999;
  backdrop-filter: blur(10px) saturate(2);
  -webkit-backdrop-filter: blur(10px) saturate(2);
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}
.file_modal .drop_files span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.file_modal .files_body.hover .drop_files {
  opacity: 1;
}

body.d .file_modal .files_head {
  background: #232323;
}

/*.files_head .browse_file {
    padding:10px;
    margin: 0;
    display: block;
    position: relative;
    color:#fff;
    text-align: center;
    background:rgba(255,255,255,.05);
    font-size: 16px;
    font-weight: lighter;
    text-transform: none;
    cursor: pointer;
}
.files_head .browse_file i {
    margin-right: 10px;
}*/
#aio_up .fi span:nth-child(3), #aio_up .fi.multiple span:nth-child(2) {
  display: none;
}

#aio_up .fi.multiple span:nth-child(3) {
  display: inline-block;
}

.files_head .i.file.browse {
  background: url("../../images/icons/browse.svg") no-repeat center;
}

.fup_icon.uploaded_files {
  background: url("../../images/icons/uploads.svg") no-repeat center 15px/45px;
}

.fup_icon.camera_upload {
  background: url("../../images/icons/camera.svg") no-repeat center 15px/45px;
}

#aio_up .translations {
  display: none;
}

#aio_up .f, .uploaded_files > .uploading {
  font-size: 12px;
  padding: 50px 10px 15px 10px;
  background-image: url("../../images/icons/file.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 50% 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  flex: 0 0 calc(33.33337% - 10px);
  max-width: calc(33.333337% - 10px);
  height: 86px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  background-color: #fff;
}

#aio_up .f.gif {
  background-image: url("../../images/icons/files/gif.svg");
}

#aio_up .f.txt {
  background-image: url("../../images/icons/files/txt.svg");
}

#aio_up .f.zip, #aio_up .f.rar, #aio_up .f.tar {
  background-image: url("../../images/icons/files/zip.svg");
}

#aio_up .f.xls {
  background-image: url("../../images/icons/files/xls.svg");
}

#aio_up .f.xlsx {
  background-image: url("../../images/icons/files/xlsx.svg");
}

#aio_up .f.doc {
  background-image: url("../../images/icons/files/doc.svg");
}

#aio_up .f.docx {
  background-image: url("../../images/icons/files/docx.svg");
}

#aio_up .f.ppt {
  background-image: url("../../images/icons/files/ppt.svg");
}

#aio_up .f.pdf {
  background-image: url("../../images/icons/files/pdf.svg");
}

#aio_up .f.mp3 {
  background-image: url("../../images/icons/files/mp3.svg");
}

#aio_up .f .name {
  overflow: hidden;
}

#aio_up .f .size, #aio_up .uploading .perc {
  font-size: 10px;
  color: #aaa;
}

#aio_up .f.on {
  border: 1px solid #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#aio_up .f.new {
  background-color: rgba(73, 146, 255, 0.24) !important;
  animation: new_file linear 1s infinite;
  -webkit-animation: new_file linear 1s infinite;
}

@keyframes new_file {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: rgba(73, 146, 255, 0.24);
  }
  50% {
    background-color: rgba(73, 146, 255, 0.24);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes new_file {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  25% {
    background-color: rgba(73, 146, 255, 0.24);
  }
  50% {
    background-color: rgba(73, 146, 255, 0.24);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
#aio_up .f:after {
  content: "";
  position: absolute;
  background: url(../../icons/radio.svg) no-repeat center/contain;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
}

#aio_up .f.on:after {
  background: url(../../icons/checked.svg) no-repeat center/contain;
  opacity: 1;
}

.uploaded_files .uploading .progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid #eee;
  outline-offset: -1px;
  z-index: -1;
}

.uploaded_files .uploading .progress > div {
  height: 100%;
  background: #eee;
  transition: 1s;
  width: 0;
}

.files_actions {
  display: flex;
  border-top: 1px solid #ddd;
}
.files_actions > div, .files_actions > label {
  margin: 0;
  cursor: pointer;
  flex-grow: 1;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  text-transform: none;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: block;
  background: #fff;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #000;
}
.files_actions .disabled {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.files_actions .i {
  color: #878787;
  position: relative;
}
.files_actions .i:after {
  font-family: "MaterialIcons", sans-serif;
  line-height: 50px;
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
}
.files_actions .i.select {
  z-index: 3;
}
.files_actions .i.select:after {
  content: "";
}
.files_actions .i.browse:after {
  content: "";
}
.files_actions .i.trash:after {
  content: "";
}
.files_actions .i.disabled {
  background: none;
  cursor: not-allowed;
}
.files_actions > div:hover, .files_actions > label:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

body.d .files_actions {
  border-top: 1px solid #232323;
}
body.d .files_actions div, body.d .files_actions label {
  color: #fff;
}

.aio_fsp {
  /*box-shadow: 0 0 10px rgba(0,0,0,.05) inset;*/
  border-radius: 5px;
  position: relative;
  min-height: 40px;
  margin-bottom: 15px;
  border: 1px solid #888;
  padding: 10px 10px 0 10px;
}
.aio_fsp > .w {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
}
.aio_fsp > .w > .f {
  flex: 0 0 calc(25% - 10px);
  max-width: calc(25% - 10px);
  margin: 0 10px 10px 0;
  position: relative;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 4px;
}
.aio_fsp button {
  position: absolute;
  top: -1px;
  right: -1px;
  height: calc(100% + 2px);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0 !important;
  background: #888;
  color: #fff !important;
  font-size: 24px;
  width: 60px;
  margin: 0;
}
.aio_fsp .i.file {
  margin: 6px auto;
}

[disabled] + .aio_fsp > .w {
  margin-right: 0;
}
[disabled] + .aio_fsp .trash {
  display: none;
}

.empty + .aio_fsp {
  box-shadow: 0 0 1px 1px firebrick inset;
}

td .aio_fsp {
  margin: 0;
}

/* .aio_fsp>.w>.f:nth-child(4n) {
    margin-right: 0;
} */
.aio_fp {
  width: 100%;
  min-height: 40px;
  margin-bottom: 15px;
  border-radius: 4px;
  position: relative;
}
.aio_fp > .f {
  display: block;
  margin: 0 !important;
  padding: 8px;
}
.aio_fp > button {
  width: 100%;
}

.aio_files > .f {
  display: block;
  padding: var(--input-padding-top) var(--input-padding-right) var(--input-padding-bottom) var(--input-padding-left);
  background-color: var(--input-bg-light);
  border-top: var(--input-border-top) solid #888;
  border-right: var(--input-border-right) solid #888;
  border-bottom: var(--input-border-bottom) solid #888;
  border-left: var(--input-border-left) solid #888;
  border-radius: var(--input-radius);
  position: relative;
  margin-right: 15px;
  line-height: 1.4rem;
  font-size: 1rem;
}
.aio_files .f > .f {
  font-size: 12px;
  max-width: calc(100% - 34px);
  overflow: hidden;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.aio_files .trash {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 30px;
  height: 30px;
}
.aio_files .i.file {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../images/icons/file.svg") no-repeat center/contain;
}

.file_modal.max {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
.file_modal.max .files_body .uploaded_files {
  height: calc(100vh - 165px);
  max-height: none;
}
.file_modal.max .no_uploaded_files {
  min-height: auto;
  height: calc(100vh - 165px);
}
.file_modal.max .drop_files {
  min-height: auto;
  height: calc(100vh - 165px);
}
.file_modal.max .f, .file_modal.max > .uploaded_files > .uploading {
  flex: 0 0 220px !important;
  max-width: 220px !important;
}

.aio_df {
  display: block;
  padding: 10px 40px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
  background: url("../../icons/uploader/download.svg") no-repeat calc(100% - 6px) center/30px;
  margin-bottom: 10px;
}
.aio_df .name {
  overflow: hidden;
  font-size: 14px;
}
.aio_df .size {
  color: #aaa;
  font-size: 12px;
}
.aio_df i {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 6px;
  background: url("../../icons/uploader/file.svg") no-repeat center/contain;
}
.aio_df i span {
  background: #aaa;
  color: #fff;
  padding: 2px;
  font-size: 6px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.aio_df:last-child {
  margin: 0;
}

body.d .aio_files .trash {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .file_modal {
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    transform: none;
    border-radius: 0;
  }
  .file_modal .files_body .uploaded_files {
    height: 70vh;
    min-height: auto;
    max-height: none;
    padding-bottom: 20vh;
  }

  .file_notify {
    width: 100vw;
  }

  .files_actions {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .files_actions > div, .files_actions > label {
    padding: 20px 10px;
    background: #fff !important;
  }

  #aio_up .f:after {
    left: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
  }

  .aio_fsp > .w {
    margin: 0;
  }
  .aio_fsp > .w > .f {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .aio_fsp > .w > .f .f {
    padding-right: 20px;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
  }
  .aio_fsp button {
    position: relative;
    top: auto;
    height: auto;
    left: -1px;
    bottom: -1px;
    margin: 0 -10px;
    width: calc(100% + 22px);
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
}

/*# sourceMappingURL=upload.css.map */
