:root {
  --input_bg: rgba(255,255,255,.2);
  --input_border_color: rgba(255,255,255,.2);
  --input_border_color_active: rgba(255,255,255,.6);
  --input_border_bottom: 1px;
  --progress_color: var(--primary_color)
}
$w1: rgba(255,255,255,.1);
$w2: rgba(255,255,255,.2);
$w4: rgba(255,255,255,.4);
$w5: rgba(255,255,255,.5);
$w6: rgba(255,255,255,.6);
// Generic
body {
  background: url('../../../images/tahoe.png') no-repeat center / cover fixed;
  color: #fff;
}
html, body, div, span, applet, object, iframe, p, button, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, select, input, textarea, text, h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Pro', 'Lato', sans-serif;
}

// Header
header {
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  border-radius: 20px 20px 0 0;
  background: none;
  color: #000;
  border: 1px solid $w4;
  .page_load_progress .page_progress_bar_shadow {
    display: none;
    //background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), transparent);
  }
}
header:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $w2;
  backdrop-filter: blur(10px) saturate(1.5);
  z-index: -1;
  border-top: 1px solid $w4;
  border-radius: 20px 20px 0 0;
}
.header {
  top: 80px;
  left: 10px;
  width: calc(100vw - 20px);
  border-radius: 0 0 20px 20px;
  background: none;
  border: 1px solid $w4;
  //backdrop-filter: blur(10px) saturate(1.5);
  .tabs {
    .tab_heads, .views {
      gap: 15px;
      > a, > div {
        border-radius: 20px;
        opacity: .6;
      }
      > a.on, > div.on {
        background: var(--primary_color);
        color: var(--filled_color)
      }
      > a.on:after, > div.on:after {
        display: none;
      }
    }
  }
}
.header:after {
  background: $w2;
  backdrop-filter: blur(10px) saturate(1.5);
  border-radius: 0 0 20px 20px;
  border: 0;
}
.auto_filters {
  background: $w2;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid $w4;
  backdrop-filter: blur(10px);
  .filter, .clear {
    border-radius: 30px;
  }
  .clear {
    background: $w2;
    color: #fff;
    border: 1px solid $w4;
    border-bottom: 0;
    outline: 0;
  }
}
.user_drop {
  .user_name {
    border: 1px solid $w4;
    border-bottom: 0;
    background: $w2;
    transition: .2s;
  }
  .user_name:hover {

  }
  .user_details {
    background: none;
    top: calc(100% - 13px);
    tbody {
      backdrop-filter: none;
      background: none;
      tr {
        border-color: $w2;
      }
    }
  }
  .user_details:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 2px);
    height: 100%;
    background: $w2;
    backdrop-filter: blur(10px) saturate(1.5);
    z-index: -1;
    border-radius: 20px 0 20px 20px;
    border: 1px solid $w4;
    border-top: 0;
  }
  .actions {
    .act, .btn, button {
      border-radius: 20px;
    }
  }
}
.user_drop:hover .user_name {
  border: 1px solid $w4;
  border-bottom: 0;
}
.nav_ico {
  width: 50px;
  > div, > span, > i, > a {
    background: $w2;
    height: 40px;
    margin: 15px 5px;
    line-height: 40px;
    border-radius: 25px;
    font-size: 1.3rem;
    width: 40px;
    border: 1px solid $w2;
    border-bottom: 0;
  }
}
#alert span {
  right: -5px;
  top: -5px;
}

// Aside
aside {
  top: 80px;
  height: calc(100vh - 90px);
  border-radius: 0 0 20px 20px;
  left: 10px;
  color: #000;
  background: $w2;
  backdrop-filter: blur(10px) saturate(1.2);
  -webkit-backdrop-filter: blur(10px) saturate(1.2);
  a {
    border-radius: 25px;
    background-color: $w2;
    border: 1px solid $w6;
    border-bottom: 0;
    height: 80px;
    width: 80px;
    margin: 0 auto 40px;
    .mico.l {
      font-size: 2.5rem;
      line-height: 3rem;
      margin: 8px auto;
      width: 60px;
      height: 60px;
    }
    .title {
      position: absolute;
      //transform: translateY(0);
      left: 0;
      right: 0;
    }
  }
  .col-3 {
    a {
      height: auto;
      width: 100%;
    }
  }
  .menu_sets {
    height: calc(100vh - 168px);
  }
  .set:not(:last-child) {
    border-bottom: 2px solid $w1;
  }
  .nav_head {
    .menu_search_wrap {
      outline: 2px solid $w2
    }
    > .row > .col-3 > a > .mico {
      font-size: 2rem;
    }
  }
}
aside.on {
  left: 10px;
}

// Buttons
button {
  border-radius: 30px !important;
}
button.store, button.save, button.grad, .btn.grad {
  background: $w1;
  border: 1px solid $w4;
  border-bottom: 0;
  backdrop-filter: blur(5px);
  padding: 8px 15px;
}
.aio_upload {
  padding: 10px;
  width: 100%;
}

// Modals
.modal {
  background: $w2;
  backdrop-filter: blur(30px) saturate(1.5);
  border-radius: 30px;
  border: 2px solid $w4;
  border-bottom: 0;
  color: #000;
  .title {
    font-weight: normal;
    margin: 0 80px;
    text-align: center;
  }
  .modal_controls {
    right: auto;
    left: 10px;
    flex-direction: row-reverse;
    .close {
      color: transparent;
      position: relative;
    }
    .close:after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: #FF605C;
      border-radius: 8px;
      left: calc(50% - 8px);
      top: calc(50% - 8px);
      //border: 1px solid $w6;
      //border-bottom: 0;
    }
    .ai_fill {
      background: $w2;
      border-radius: 15px;
    }
    .ai_fill:before {
      border-radius: 15px;
    }
    .ai_fill:hover, .ai_fill.load {
      background: #fff;
    }
  }
}
body.modal_open {
  article>div:not(.header,.actions), article>table, .actions.float {
    opacity: 1;
    //filter: grayscale(1);
  }
}

.color_picker_wrap {
  background: $w2;
  input {
    background: $w1;
    border: 1px solid $w4 !important;
    border-bottom: 1px solid $w2 !important;
  }
}

// Content
.no_content, .no_access {
  background: $w6;
  border-radius: 30px;
  border: 1px solid $w6;
  border-bottom: 0;
  color: #000;
}

// Table
table {
  tbody {
    background: $w1;
    backdrop-filter: blur(20px);
    tr {
      border-top: 1px solid $w4;
    }
  }
  .data_lay {
    background: none;
  }
  .status_dot {
    border: 2px solid $w5;
  }
  .acts {
    > div, > a {
      outline: 1px solid $w2;
      border-radius: 25px;
    }
    i {
      font-size: 1.4rem;
    }
  }
}
table.r {
  thead {
    tr:first-child {
      border-radius: 15px 15px 0 0;
      td:first-child, th:first-child {
        border-top-left-radius: 15px;
      }
      td:last-child, th:last-child {
        border-top-right-radius: 15px;
      }
    }
  }
  thead tr {
    border:0;
  }
}

// Tabs
.tab_data_box, .tab {
  background: $w4;
  color: #000;
  backdrop-filter: blur(10px) saturate(1.5);
}
.tabs.side , .tabs.vertical {
  .tab {
    opacity: 1;
  }
  .tab.on {
    background: $w2;
    border: 1px solid $w4;
    border-right: 0;
    color: #fff;
    border-radius: 10px 0 0 10px;
  }
}

// Alerts
[data-alerts] {
  .alert {
    border-radius: 20px;
    .data {
      border-radius: 20px;
      backdrop-filter: blur(20px) saturate(1.5);
      border: 1px solid $w4;
      border-bottom: 0;
      .message {
        color: #000;
        max-width: calc(100% - 110px);
      }
    }
    .time {
      //left: 70px;

    }
    .close {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: $w2;
      border-radius: 15px;
      top: calc(50% - 20px);
      right: 10px;
    }
  }
}

// Form and Inputs
[type=checkbox].switch:before, [type=radio].switch:before, [type=checkbox].slide:before, [type=radio].slide:before {
  left: 1px;
}
[type=checkbox].slide, [type=checkbox].slide:active, [type=checkbox].slide:checked, [type=radio].slide, [type=radio].slide:active, [type=radio].slide:checked, [type=checkbox].switch, [type=checkbox].switch:active, [type=checkbox].switch:checked, [type=radio].switch, [type=radio].switch:active, [type=radio].switch:checked {
  background: $w2;
  box-shadow: none;
}
[type=checkbox].switch:before, [type=radio].switch:before, [type=checkbox].slide:before, [type=radio].slide:before {
  height: 18px;
}
[type=checkbox].switch:checked:before, [type=radio].switch:checked:before, [type=checkbox].slide:checked:before, [type=radio].slide:checked:before {
  left: 38%;
}
.select2-dropdown {
  background: $w2;
  backdrop-filter: blur(10px) saturate(1.5);
  color: #000;
}