body, div, p, input, select, button {
    font-family: 'Lato', sans-serif;
}
body {
    margin:80px 0 0;
    background:#f3f3f3;
}
article {
    height:calc(100vh - 80px);
    overflow-y:auto;
    width:100vw;
    padding: 20px;
    box-sizing: border-box;
}

/* HEADER */

header {
    position: fixed;
    width:100vw;
    height:80px;
    top:0;
    left: 0;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    padding: 20px;
    box-sizing: border-box;
    background:rgba(255,255,255,.98);
    z-index: 10;
}
#back {
    width:40px;
    cursor:pointer;
    background:url('../images/icons/back.svg') no-repeat center;
}
#brand {
    font-size: 28px;
    font-weight: 300;
}
header>div {
    flex-grow:1;
    //max-width:calc(50% - 10px);
    display: flex;
}
header>div:first-child {
    max-width:calc(50% - 10px);
}
header>div:last-child {
    justify-content: flex-end;
}
header button {
    margin: 0;
    cursor: pointer;
    box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
    border-radius:8px;
    padding: 8px 25px;
    color:#fff;
    transition:.6s;
    font-weight: lighter;
    height:40px;
}
.search, header select {
    border-radius:8px;
    display: inline-block;
    vertical-align: top;
    box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
    margin-right: 15px;
    height:40px;
}
header select {
    padding:6px 12px;
    width:100px;
    cursor: pointer;
}
.search input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width:20vw;
    margin: 0;
    border:0;
    box-shadow:none;
    padding:10px 16px;
    font-size: 16px;
    height: 40px;
    box-sizing: border-box;
    font-weight: lighter;
}
.search button {
    box-shadow:none;
    color:#fff;
    background:#000;
}
button {
    margin: 0;
    border-radius:4px;
    padding:10px 20px;
    background: rgb(0,125,204);
    background: -moz-linear-gradient(45deg, rgb(0,125,204) 0%, rgb(0,173,237) 100%);
    background: -webkit-linear-gradient(45deg, rgb(0,125,204) 0%,rgb(0,173,237) 100%);
    background: linear-gradient(45deg, rgb(0,125,204) 0%,rgb(0,173,237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dcc', endColorstr='#00aded',GradientType=1 );
    box-shadow:0 0 6px rgba(0,125,204,.2), 0 2px 6px rgba(0,0,0,.2);
    cursor: pointer;
    color:#fff;
    transition:.6s;
    font-weight: lighter;
}
button:hover {
    box-shadow:0 0 6px rgba(0,125,204,.3), 0 4px 6px rgba(0,125,204,.3);
}

/* BLOCKS */

.b {
    background:#fff;
    display: block;
    border-radius:15px;
    box-shadow:5px 5px 60px rgba(0,0,0,.05);
    margin: 0 0 20px;
    transition:.6s;
    position: relative;
    box-sizing: border-box;
}
.b>.l {
    padding: 50px 15px 15px;
    font-size: 16px;
}
.b .a, .b .b {
    position: absolute;
    top:15px;
    left: 15px;
    background: none;
    display: flex;
    padding: 0;
}
.b .b {
    left:auto;
    right: 15px;
}
.b .a>div {
    padding:5px 8px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#fff;
    font-weight: lighter;
}

.b .b>div, .b .b>button {
    font-weight: lighter;
    font-size: 13px;
    border-radius:6px;
    padding:4px 8px;
    transition:.6s;
    cursor: pointer;
    color:#fff;
}
.b .b>div, .b .b>button {
    border:1px solid #5691b0;
    color:#5691b0;
    margin-left: 15px;
}
.b .b>div:hover, .b .b>button:hover {
    background:#5691b0;
    color:#fff;
}
.b .ft {
    display: flex;
    font-size: 13px;
}
.b .ft>div {
    flex:0 0 auto;
    max-width:50%;
    flex-grow:1;
    padding: 8px 15px 12px;
    box-sizing:border-box;
    font-weight: lighter;
    border-top: 1px solid #ebebeb;
}
.b .ft>div:last-child {
    text-align: right;
}