/* Element Positions */

.rel { position: relative }
.abs { position: absolute }
.fxd { position: fixed }

.lt { left:0 }
.rt { right:0 }
.tp { top:0 }
.bt { bottom:0 }

.fr { float: right }
.fl { float: left }
.fn { float: none }

.dib { display: inline-block }
.db { display: block }
.dn { display: none }
.di { display: inline }
.df { display: flex }
.df.fg>div { flex-grow: 1 }

.vat { vertical-align: top }
.vabl { vertical-align: baseline }
.vam { vertical-align: middle }
.vab { vertical-align: bottom }

/* Text Positions */

.tal { text-align:left }
.tac { text-align:center }
.tar { text-align:right }

.lh1 { line-height:100% }
.lh15 { line-height:150% }
.lh2 { line-height:200% }
.lh20{ line-height: 20px }
.lh40{ line-height: 40px }

/* Appearance */

.op0{ opacity: 0 }
.op5{ opacity: .5 }
.op1{ opacity: 1 }

.bt1 { border-top:1px solid }
.br1 { border-right:1px solid }
.bl1 { border-left:1px solid }
.bb1 { border-bottom:1px solid }

/* Text Appearance */

.fz0 { font-size: 0; }
.fz20 {  font-size: 20px }
.fz15 {  font-size: 15px }

.fwl { font-weight: lighter }
.fwb { font-weight: bold }
.fwn { font-weight: normal }

.ls0{ letter-spacing: 0 }
.ls1{ letter-spacing: 1px }
.ls2{ letter-spacing: 2px }
.ls3{ letter-spacing: 3px }

/* Margin */

.m0{ margin:0 } .m5 { margin: 5px; } .m10 { margin: 10px; } .m15 { margin:15px } .m20 { margin:20px }
.mr0 { margin-right: 0 !important; } .mr5 { margin-right: 5px; } .mr10 { margin-right: 10px; } .mr15 { margin-right: 15px; } .mr20 { margin-right: 20px; }
.ml0 { margin-left: 0 !important; } .ml5 { margin-left: 5px; } .ml10 { margin-left: 10px; } .ml15 { margin-left: 15px; } .ml20 { margin-left: 20px; } .ml30{ margin-left: 30px;}
.mt0 { margin-top: 0 !important; } .mt5 { margin-top: 5px; } .mt10 { margin-top: 10px; } .mt15 { margin-top: 15px; } .mt20 { margin-top: 20px; }
.mb0 { margin-bottom: 0 !important; } .mb5 { margin-bottom: 5px; } .mb10 { margin-bottom: 10px; } .mb15 { margin-bottom: 15px; } .mb20 { margin-bottom: 20px; }
.mt-20{  margin-top: -20px;}
.ml-10{  margin-left: -10px;} .mr-10{margin-right: -10px; }

/* Padding */

p {
    padding: attr(p);
    padding-top: attr(pt);
    padding-right: attr(pr);
    padding-bottom: attr(pb);
    padding-left: attr(pl);
}

.p0 { padding: 0; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.pcont{ padding: 10px 20px;}
.p30 { padding: 30px; }
.p40 { padding: 40px; }
.pl0 { padding-left: 0; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pr0 { padding-right: 0; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pb0 { padding-bottom: 0; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pt0 { padding-top: 0; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }