/* Notify */

#notification {
    position: fixed;
    left:50%;
    top:-30vh;
    min-width:60vw;
    max-width:calc(100vw - 120px);
    box-shadow:0 0 30px rgba(0,0,0,.1);
    transform:translateX(-50%);
    z-index:100;
    border-radius:6px;
    /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
    padding: 40px;
    background:rgba(255,255,255,.97);
    transition:.6s;
    opacity:0;
}
#notification div {
    font-size:20px;
}
#notification.on {
    box-shadow:0 0 50px rgba(0,0,0,.2);
    top:20px;
    opacity:1;
}

/* Modal */

.modal {
    position: fixed;
    left:50%;
    top: calc(50% + 10vh);
    transform: translate(-50%,calc(-50% - 5vh));
    background: rgba(255,255,255,.98);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    padding: 20px;
    /* display: none;
    z-index: 8; */
    width:auto;
    height:auto;
    border-radius:10px;
    pointer-events: none;
    opacity:0;
    z-index:-1;
    margin-top: 20px;
    transition:.6s;
}
.modal .t {
    margin-top: 0;
    letter-spacing: 1px;
}
.modal.on {
    /*display: block;*/
    pointer-events:auto;
    opacity:1;
    z-index:10;
    margin-top: 0;
}
.modal .modal {
    z-index:15;
}
.modal.m {
    min-width:60vw;
}
.modal.sm {
    min-width:40vw;
}
.modal.l {
    min-width:80vw;
}
.modal.f {
    width: calc(100vw - 60px);
}
.modal .close, #notification .close, .alert .close {
    background:url('../images/close.svg') no-repeat center / 70%;
    position: absolute;
    right:10px;
    top:10px;
    width:40px;
    height:40px;
    cursor: pointer;
}
.alert .close {
    width:20px;
    height:20px;
}

/* Alerts */

.alerts {
    background: #f3f3f3;
    border: 1px solid #fff;
    padding: 4px 0;
    position: relative;
    line-height: 100%;
    max-height:30vh;
    overflow-y:auto;
    min-width: 350px;
}
.alert {
    display: block;
    text-align: left;
    background: rgba(255,255,255,97);
    margin-bottom: 4px;
    position: relative;
    /*border-radius: 8px;*/
    /*box-shadow:0 0 5px rgba(0,0,0,.1)*/
}
.alert:last-child {
    margin: 0;
}
.alert .title {
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 10px 0;
    font-weight: normal;
}
.alert .note {
    padding: 4px 10px 10px;
    font-size: 13px;
}
.alerts+.more {
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100%;
}

/* Table */

table {
    width:100%;
    border-collapse: collapse;
    box-shadow:0 0 10px rgba(0,0,0,.08);
}
table thead tr {
    background:#fff;
    z-index:10;
    box-shadow:0 0 25px rgba(0,0,0,.05);
}
table thead th {
    padding:12px 8px;
    font-weight: normal;
}
table tbody {
    background:#fff;
}
table tr {
    //margin-top: -1px;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
table td {
    padding:10px;
    position: relative;
}
table td.p0 {
    padding: 0 !important;
}
table.m td {
    padding:10px;
    font-size: 15px;
}
table.l tr {
    position: relative;
    border:0;
}
table.l tr:after {
    content: '';
    width: calc(100% - 80px);
    left: 20px;
    height: 1px;
    background: rgba(0,0,0,.1);
    display: block;
    position: absolute;
}
table.l td {
    padding:20px 40px;
    font-size: 16px;
}
table td.l, table th.l, table td.l input {
    text-align: left;
}
table td.c, table th.c, table td.c input {
    text-align: center;
}
table td.r, table th.r, table td.r input {
    text-align: right;
}
table.xls thead tr {
    box-shadow:none;
}
table.xls td {
    padding:8px 10px;
    border:1px solid rgba(0,0,0,.1);
    min-height:40px;
    cursor: pointer;
}
table.xls tbody td {
    padding: 0;
}
table.xls td input {
    margin:0;
    border-radius:0;
    box-shadow:none;
    border:0;
}
table td input, table td textarea {
    margin: 0;
    width:auto;
}
table.plain {
    background:none;
    border-collapse:collapse;
    border-radius:0;
}
table.plain thead, table.plain tbody, table.plain tfoot, table.plain tr, table.plain td, table.plain th {
    box-shadow:none;
    background:#fff;
    color:#000;
}
table.plain tr:after {
    display: none;
}

/* INPUTS */

.group input {
    border-radius:0;
}
.group input:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.group input:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input.c {
    text-align: center;
}
input.r {
    text-align: right;
}
input.l {
    text-align: left;
}
input.xxs {
    width:40px;
}
input.xs {
    width:60px;
}
input.s {
    width:100px;
}

/* FILES */

.files_preview {
    background:#eee;
    /*box-shadow: 0 0 10px rgba(0,0,0,.05) inset;*/
    border-radius: 4px;
    padding:8px 50px 8px 8px;
    position:relative;
    min-height:60px;
    margin-bottom: 15px;
}
.files_preview>.file {
    background:#fff;
    display:inline-block;
    padding:4px 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 4px;
    position: relative;
    margin-right: 15px;
    text-align: center;
}
.files_preview>.file:last-child {
    margin: 0;
}
.files_preview>.file>div.file {
    font-size: 12px;
}
.files_preview .ico.file {
    margin:6px auto;
}
.files_preview .trash {
    position:absolute;
    top:5px;
    right: 5px;
    width: 15px;
    height: 15px;
}

/* ICONS */

.ico {
    display: inline-block;
    vertical-align: top;
    width:22px;
    height:22px;
    background-repeat:no-repeat !important;
    background-position:center !important;
    background-size:cover !important;
    cursor: pointer;
}
.ico.c {
    display: block;
    margin:auto;
}
.tac .ico.dib {
    display: inline-block;
}
.ico.md, .ico.m {
    width:32px;
    height:32px;
}
.ico.lg, .ico.l {
    width:45px;
    height:45px;
}
.ico.xl {
    width:65px;
    height:65px;
}
.ico.xxl {
    width:100px;
    height:100px;
}
.ico.xxxl {
    width:150px;
    height:150px;
}
.ico.f,.ico.a {
    position:absolute;
}
.ico.r {
    right:0;
}
.tip span {
    display: none;
    position: absolute;
    top:60%;
    left:60%;
    background:rgba(0,0,0,.9);
    padding:8px;
    border-radius:4px;
    color:#fff;
    font-size: 15px !important;
    z-index:10;
    width:200px;
    text-transform: none;
    font-weight: lighter;
    letter-spacing: 0;
}
.tip:hover span {
    display: block;
}

/* IMAGE */

.image {
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}
.image.xxs {
    width:25px;
    height:25px;
}
.image.xs {
    width:50px;
    height:50px;
}
.image.s {
    width:100px;
    height:100px;
}
.image.m {
    width:150px;
    height:150px;
}
.image.l {
    width:200px;
    height:200px;
}
.image.xl {
    width:250px;
    height:250px;
}

/* STEPS */

.step_heads, .steps_head {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    font-size: 0;
}
.step {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    padding: 12px 0;
    text-transform: uppercase;
    font-size: 14px;
    background: #eee;
    position: relative;
}
.step:first-child {
    border-top-left-radius: 5px;
}
.step:last-child {
    border-top-right-radius: 5px;
}
.step.on {
    color:#fff;
    background: #111;
    background: -moz-linear-gradient(-45deg, #111 0%, #222 100%);
    background: -webkit-linear-gradient(-45deg, #111 0%,#222 100%);
    background: linear-gradient(135deg, #111 0%,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111', endColorstr='#222',GradientType=1 );
}
.step:after {
    position: absolute;
    right: -9px;
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #eee;
    z-index:1;
}
.step.on:after {
    border-left: 10px solid #222;
}
.step:last-child:after {
    display: none;
}
.step:nth-child(1), .tab:nth-child(1) {
    z-index: 10
}
.step:nth-child(2), .tab:nth-child(2) {
    z-index: 9
}
.step:nth-child(3), .tab:nth-child(3) {
    z-index: 8
}
.step:nth-child(4), .tab:nth-child(4) {
    z-index: 7
}
.step:nth-child(5), .tab:nth-child(5) {
    z-index: 6
}
.step:nth-child(6), .tab:nth-child(6) {
    z-index: 5
}
.step:nth-child(7), .tab:nth-child(7) {
    z-index: 4
}
.step:nth-child(8), .tab:nth-child(8) {
    z-index: 3
}
.step:nth-child(9), .tab:nth-child(9) {
    z-index: 2
}
.step:nth-child(10), .tab:nth-child(10) {
    z-index: 1
}

/* Tabs */

.tabs>div:first-child {
    font-size: 0;
}
.tab {
    display: inline-block;
    vertical-align: top;
    padding: 12px 15px 12px 35px;
    box-shadow: 5px 0 55px rgba(0,0,0,.25);
    background: #fff;
    position: relative;
    font-size: 15px;
    height: 40px;
    cursor: pointer;
    outline: none;
    line-height: 15px;
    width:auto;
    font-family:'Lato',sans-serif;
    box-sizing:border-box;
    text-transform:uppercase;
    transition:.3s;
}
.tabs.material, .tab_heads.material {
    width:100%;
    display: block;
    background:rgba(255,255,255,.65);
}
.tabs.material .tab, .tab_heads.material .tab {
    background:none;
    box-shadow:none;
    padding:10px 20px;
    line-height: normal;
    height:auto;
    color:#000;
}
.tabs.material .tab.on, .tab_heads.material .tab.on {
    color:#000;
}
.tabs.material .tab:after, .tab_heads.material .tab:after {
    border:0;
}
.tabs.material .tab.on:after, .tab_heads.material .tab.on:after {
    height:2px;
    left:20px;
    width:calc(100% - 40px);
    background:#000;
    bottom:0;
}
.tab:first-child {
    padding-left: 25px;
}
.tab:nth-child(1):after {
    right:-19px;
}
.tab:hover {
    color: #111;
}
.tab:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid #fff;
    border-right: 20px solid transparent;
    position: absolute;
    right: -20px;
    bottom: 0;
}
.tab.on {
    background: #111;
    background: -moz-linear-gradient(left, #111 0%, #222 100%);
    background: -webkit-linear-gradient(left, #111 0%,#222 100%);
    background: linear-gradient(to right, #111 0%,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#3366cc',GradientType=1 );
    color: #fff;
    box-shadow: 5px 0 55px rgba(0,0,0,.25), 5px 0 20px rgba(0,0,0,0.2);
}
.tab.on:after {
    border-bottom: 40px solid #222;
}

/* Blocks & Plates */

.blocks>div {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.block, .plate {
    background:#fff;
    border-radius:10px;
    padding: 15px;
    position: relative;
    cursor:pointer;
    box-shadow:0 0 30px rgba(0,0,0,.04);
    transition:1s;
    display: block;
    margin-bottom: 20px;
    overflow:hidden;
}
.plate {
    padding: 0;
}
.plate .head {
    padding:12px 15px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow:0 5px 15px rgba(0,0,0,.02);
    font-size: 15px;
    letter-spacing: 1px;
}
.plate .body {
    padding: 15px;
}
.block:hover {
    box-shadow:0 0 30px rgba(0,0,0,.2), 0 10px 30px rgba(0,0,0,.05);
}
.block .image {
    width: 80px;
    height: 80px;
    margin:10px auto;
    border-radius:25px;
    border:1px solid lightgrey;
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
}
.block .image.bg {
    width: 100%;
    border:0;
    border-radius:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.block .title {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.block .desc>div, .block .desc>p {
    font-size: 14px;
    margin:10px 0;
}
.block .desc>div:last-child {
    margin-bottom: 0;
}
.block .desc .ico {
    margin-right: 5px;
}
.block .actions {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity:.2;
    transition:1s;
}
.block:hover .actions {
    opacity:1;
}
.block .actions>i, .block .actions>div {
    margin:0 5px;
}
.block .status {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 11px;
    border: 1px solid lightgrey;
    padding: 2px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: grey;
}
.block .title.s {
    white-space: nowrap;
    overflow: hidden;
}
.block .status.r {
    left:auto;
    right:10px;
}
.block .status.green {
    color:darkolivegreen;
    border:1px solid darkolivegreen;
}
.block .status.red {
    color:firebrick;
    border:1px solid firebrick
}
.no_data {
    padding:100px 0 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid lightgrey;
    border-radius:10px;
}

/* Paper */

.a4 {
    width:294mm;
    max-width:calc(100vw - 40px);
    /*height:calc( calc(100vw - 40px) * 1.4142 );*/
    margin:0 auto;
}

/* Simple Colors */

.c_red {
    color:red;
}
.c_fire {
    color:firebrick;
}
.c_green {
    color:green;
}
.c_black {
    color:black;
}

/* Context Menu */

.context-menu {
    position: absolute;
    background:rgba(255,255,255,.98);
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 20px rgba(0,0,0,.05);
    display: none;
    z-index:99999;
}
.context-menu>div {
    padding:12px 20px;
    border-bottom: 1px solid rgba(0,0,0,.04);
    min-width:220px;
    cursor: pointer;
    transition:.3s;
}
.context-menu>div:hover {
    background:rgba(0,0,0,.04);
}
.context-menu>div:last-child {
    border:0;
}