body, div, p, input, select {
    font-family: 'Lato', sans-serif;
}
body {
    width:calc(100vw - 60px);
    margin:100px auto 20px;
    background:#f3f3f3;
}

/* HEADER */

header {
    position: fixed;
    width:100vw;
    height:80px;
    top:0;
    left: 0;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    padding: 20px;
    box-sizing: border-box;
    background:rgba(255,255,255,.98);
    z-index: 10;
}
#brand {
    font-size: 34px;
    font-weight: 300;
}
header>div {
    flex:0 0 50%;
    max-width:50%;
}
header button {
    margin: 0;
    cursor: pointer;
    box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
    border-radius:50px;
    padding: 8px 25px;
    color:#fff;
    transition:.6s;
    font-weight: lighter;
}
.search {
    border-radius:50px;
    display: inline-block;
    vertical-align: top;
    box-shadow:0 1px 6px 0 rgba(32,33,36,0.28);
    margin-right: 15px;
}
.search input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width:20vw;
    margin: 0;
    border:0;
    box-shadow:none;
    padding:10px 25px;
}
.search button {
    box-shadow:none;
    color:#000;
}
.refresh {
    margin-right: 15px;
    background: rgb(0,125,204);
    background: -moz-linear-gradient(45deg, rgb(0,125,204) 0%, rgb(0,173,237) 100%);
    background: -webkit-linear-gradient(45deg, rgb(0,125,204) 0%,rgb(0,173,237) 100%);
    background: linear-gradient(45deg, rgb(0,125,204) 0%,rgb(0,173,237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dcc', endColorstr='#00aded',GradientType=1 );
    box-shadow:0 0 6px rgba(0,125,204,.2), 0 2px 6px rgba(0,0,0,.2);
}
.refresh:hover {
    box-shadow:0 0 6px rgba(0,125,204,.3), 0 4px 6px rgba(0,125,204,.3);
}
.clear {
    background: rgb(153,1,1);
    background: -moz-linear-gradient(45deg, rgba(153,1,1,1) 0%, rgba(169,3,41,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(153,1,1,1) 0%,rgba(169,3,41,1) 100%);
    background: linear-gradient(45deg, rgba(153,1,1,1) 0%,rgba(169,3,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990101', endColorstr='#a90329',GradientType=1 );
    box-shadow:0 0 6px rgba(153,1,1,.2), 0 2px 6px rgba(0,0,0,.2);
}
.clear:hover {
    box-shadow:0 0 6px rgba(153,1,1,.3),0 4px 6px rgba(153,1,1,.3);
}

/* Log */

.b {
    background:#fff;
    display: block;
    border-radius:15px;
    box-shadow:5px 5px 60px rgba(0,0,0,.05);
    margin: 20px 0;
    transition:.6s;
    position: relative;
}
.b .dt, .b .a {
    position: absolute;
    top:15px;
    right: 15px;
    font-weight: lighter;
    font-size: 13px;
    background:#ddd;
    color:#fff;
    border-radius:6px;
    padding:4px 8px;
    transition:.6s;
}
.b:hover .dt {
    background:#bbb;
}
.b .a {
    right: auto;
    left: 15px;
    background: none;
    display: flex;
    padding: 0;
}
.b .a>div {
    margin-right: 15px;
    padding:4px 8px;
    border-radius: 6px;
}
.b .t {
    background:#000;
}
.b .f {
    display: flex;
    font-size: 13px;
}
.b .f>div {
    flex:0 0 50%;
    max-width:50%;
    padding: 8px 15px 12px;
    box-sizing:border-box;
    font-weight: lighter;
    border-top: 1px solid #ebebeb;
}
.b .c {
    font-family: monospace;
    padding: 50px 15px 15px;
}
.b.select .s {
    background:forestgreen;
}
.b.delete .s, .b.error .s {
    background:firebrick;
}
.b.error {
    border:1px solid firebrick;
}
.b.update .s {
    background: #ffb605;
}
.b.insert .s {
    background: #0086cb;
}
.b.log .s {
    background: saddlebrown;
}

/* Others */

#notification {
    position: fixed;
    left:50%;
    top:-30vh;
    min-width:60vw;
    max-width:calc(100vw - 120px);
    box-shadow:0 0 30px rgba(0,0,0,.1);
    transform:translateX(-50%);
    z-index:100;
    border-radius:6px;
    /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
    padding: 40px;
    background:rgba(255,255,255,.97);
    transition:.6s;
    opacity:0;
}
#notification div {
    font-size:20px;
}
#notification.on {
    box-shadow:0 0 50px rgba(0,0,0,.2);
    top:20px;
    opacity:1;
}