/* BASICS */

h1 {
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    margin:80px 0 40px;
}
button {
    cursor:pointer;
    border:1px solid #aaa;
    border-radius:8px;
    padding:8px 20px;
    text-transform: uppercase;
    margin:20px 10px;
}
input[type=text], [type=number] {
    border:0;
    border-bottom:1px solid #ddd;
    box-shadow:none;
}
input[type=text]:focus, [type=number]:focus {
    transition:.9s;
    border-bottom:1px solid #000;
}
.ico {
    display: inline-block;
    vertical-align: top;
    width:22px;
    height:22px;
    background-repeat:no-repeat !important;
    background-position:center !important;
    background-size:contain !important;
    cursor: pointer;
}
button.to {
    width:50px;
    height:50px;
    margin:0 30px;
    background:none;
    box-shadow:none;
    border:0;
}
button.to.n {
    background:url('../images/next.svg') no-repeat center / contain;
}
button.to.p {
    background:url('../images/prev.svg') no-repeat center / contain;
}
button.to.f {
    background:url('../images/okay.svg') no-repeat center / contain;
}

/* UI */

.setup {
    width: 60vw;
    text-align: left;
    margin: 0 auto 20px;
}
.setup .head {
    text-align: center;
    margin-bottom: 50px;
}
.setup .q {
    display: flex;
    margin:0 -15px 40px;
    align-items: center;
}
.setup .q>div {
    flex:0 0 calc(50% - 30px);
    max-width:calc(50% - 30px);
    margin:0 15px;
    position: relative;
}
.setup .q>div>input {
    margin: 0;
}
.setup i.tip {
    position: absolute;
    z-index:999;
    right: 0;
    top: 50%;
    transform:translateY(-50%);
}
.setup i.tip span {
    background:rgba(255,255,255,.98);
    display: none;
    padding: 20px;
    border-radius:6px;
    max-width:40vw;
    min-width:250px;
    box-shadow:0 0 35px rgba(0,0,0,.1);
}
.setup i.tip:hover span {
    display: block;
    position: absolute;
    left:75%;
    top:75%;
}
.setup .foot {
    text-align: center;
    margin-top: 60px;
}
.setup .data {
    height:38vh;
    overflow-y:auto;
    overflow-x: hidden;
}
.aio_dynamics .set:nth-child(2), .aio_dynamics .set:nth-child(3) {
    display: inline-block;
    vertical-align: top;
    width:50%;
}
.aio_dynamics .set:nth-child(1) label {
    display: none;
}
.aio_dynamics [type=checkbox] {
    margin-bottom: 0;
}
.aio_dynamics [type=checkbox] + label {
    vertical-align: bottom;
}
