/* Resets v1.2 */

html, body, div, span, applet, object, iframe,  p, button, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,  menu, nav, output, ruby, section, summary, time, mark, audio, video, select, input, textarea, text {
    margin:0;
    padding:0;
    font-style:normal;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    padding: 0;
    margin: 10px 0;
}
strong, b { font-weight: bold; }
h1 { font-size: 26px }
h2 { font-size: 22px }
h3 { font-size: 18px }
h4 { font-size: 16px }
h5 { font-size: 14px }
h6 { font-size: 14px }
input, button, select, textarea {
    width:100%;
    padding:12px;
    box-sizing: border-box;
    border:1px solid #ddd;
    outline:none;
    font-size:14px;
    margin-bottom: 20px;
    box-shadow:0 0 5px rgba(0,0,0,.1);
    -webkit-appearance: none;
    background: transparent;
    border-radius: 0;
}
body.d input, body.d button, body.d select, body.d textarea {
    border:0;
}
input:disabled, button:disabled, select:disabled, textarea:disabled {
    background:#eee;
    cursor:not-allowed;
    box-shadow:none;
    border:1px solid #eee;
}
select {
    background:url('../images/select.svg') no-repeat calc(100% - 6px) / 20px;
    padding-right: 30px;
}
button {
    width: auto;
    box-shadow:none;
    border: 0;
    margin: 20px 0;
}
label {
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
    color: #0d3d63;
}
[type=checkbox], [type=radio] {
    width:auto;
    box-shadow:none;
}
[type=radio], [type=checkbox] {
    cursor: pointer;
    margin: 8px 8px 8px 0;
    display: inline-block;
    vertical-align: middle;
}
[type=radio]:checked, [type=checkbox]:checked {
    background:#000;
}
[type=radio]+label, [type=checkbox]+label {
    text-transform: none;
    font-size: 14px;
    letter-spacing: unset;
    font-weight: lighter;
    cursor:pointer;
}
button{
    background: none;
    -webkit-appearance: none;
}
a {
    color:inherit;
    text-decoration: none;
}
small { font-size: 75%; }
fieldset{
    border: 0;
}
.ace_editor div, .ace_editor span { font-family: monospace; }