table {
    width:100%;
    overflow:hidden;
    border-collapse: collapse;
}
table thead {
    background:#000;
}
table tbody {
    max-height:calc(100% - 40px);
    overflow-y:auto;
    display: block;
}
table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
table td {
    border:1px solid rgba(0,0,0,.1);
    cursor: pointer;
    width:50%;
}
table thead td {
    font-weight: normal;
    letter-spacing: 2px;
    padding:15px 10px;
    color:#fff;
}
table thead td:nth-child(3), table tbody td:nth-child(3) {
    width: 50px;
    text-align: center;
}
table thead select {
    margin: 0;
    border:0;
    color:#fff;
    padding: 0;
}
table tbody td {
    padding: 10px;
}
table tr {
    transition:.6s;
}
table tbody tr:hover, table tbody tr.on {
    background:rgba(0,0,150,.1);
}
table tfoot {
    text-align: center;
}
table tfoot button {
    margin:10px 8px 10px;
}
.row {
    display: flex;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
#data {
    margin-bottom: 100px;
}
#editor {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow:0 0 60px rgba(0,0,0,.2);
    z-index:1;
    background:rgba(255,255,255,.95);
}
label {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color:royalblue;
}
textarea {
    box-shadow:0 0 20px rgba(0,0,0,.1) inset;
    resize:none;
}
#editor .actions {
    text-align: right;
}
#editor textarea {
    margin: 0;
}
#save {
    padding: 24px 0;
    margin: 22px 0 0;
    width: 100%;
}
#editor .col:nth-child(3) {
    flex:0 0 100px;
    max-width:100px;
}
#editor .actions button, #add_lang {
    margin: 0 0 0 15px;
    background: darkslategrey;
    text-transform: uppercase;
    border-radius:5px;
    padding:10px 25px;
    cursor:pointer;
    transition:.6s;
    color:#fff;
    display: inline-block;
}
#editor .actions .right button {
    margin:0 0 0 15px;
}
#editor  button:hover {
    opacity:.8
}
#editor button.small {
    font-size: 10px;
    letter-spacing: 1px;
    background:#fff;
    border:1px solid grey;
    padding: 4px 8px;
    color:#000;
    margin:0 0 0 15px;
    border-radius:0;
    border-bottom:0;
}
#notification {
    position: fixed;
    left:50%;
    top:-30vh;
    min-width:60vw;
    max-width:calc(100vw - 120px);
    box-shadow:0 0 30px rgba(0,0,0,.1);
    transform:translateX(-50%);
    z-index:100;
    border-radius:6px;
    /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
    padding: 40px;
    background:rgba(255,255,255,.97);
    transition:.6s;
    opacity:0;
}
#notification div {
    font-size:20px;
}
#notification.on {
    box-shadow:0 0 50px rgba(0,0,0,.2);
    top:20px;
    opacity:1;
}
.ico {
    width:25px;
    height:25px;
    display: inline-block;
    vertical-align: top;
    margin: 0 !important;
}
.ico.trash {
    background:url('../../core/components/icons/trash.svg') no-repeat center;
}