header select {
  width:180px;
}
select, input, textarea, div {
  font-family:'Lato',sans-serif;
}
#translations > div {
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 18px;
  background:#fff;
  border-bottom: 2px solid #f3f3f3;
  border-radius: 10px;
  > div {
    padding: 15px;
    flex:0 0 33.3333%;
  }
}
.row {
  display: flex;
  width: 100%;
}
.col {
  flex:0 0 auto;
  flex-grow: 1;
}
#editor {
  position: fixed;
  bottom:-60px;
  left:15px;
  width:calc(100vw - 30px);
  box-sizing: border-box;
  padding: 20px;
  box-shadow:0 0 60px rgba(0,0,0,.4);
  z-index:1;
  background:rgba(255,255,255,.95);
  transition:.6s;
  opacity:0;
  pointer-events: none;
  border-radius:20px 20px 0 0;
  backdrop-filter: blur(10px) saturate(2);
  -webkit-backdrop-filter: blur(10px) saturate(2);
  .actions {
    text-align: right;
  }
  .close {
    background:url('../images/close.svg') no-repeat center / 70%;
    position: absolute;
    right:10px;
    top:5px;
    width:35px;
    height:35px;
    cursor: pointer;
  }
  .col:nth-child(3) {
    flex:0 0 100px;
    max-width:100px;
  }
  button:hover {
    opacity:.8
  }
  .actions .right button {
    margin:0 0 0 15px;
  }
  button.small {
    font-size: 10px;
    letter-spacing: 1px;
    background:#fff;
    border:1px solid grey;
    padding: 4px 8px;
    color:#000;
    margin:0 0 0 15px;
    border-radius:0;
    border-bottom:0;
    box-shadow:none;
  }
}
#data {
  margin-bottom: 100px;
}
#editor.on {
  bottom:0;
  opacity:1;
  pointer-events: all
}
#string {
  border-bottom-left-radius: 10px;
}
label {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color:royalblue;
}
textarea {
  box-shadow:0 0 20px rgba(0,0,0,.1) inset;
  resize:none;
  margin: 0;
}
#save {
  padding: 22px 0;
  margin: 22px 0 0 20px;
  width: calc(100% - 20px);
  background: #000;
  color: #fff;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
#editor .actions button, #set_languages {
  margin: 0 0 0 15px;
  background: darkslategrey;
  text-transform: uppercase;
  border-radius:5px;
  padding:10px 25px;
  cursor:pointer;
  transition:.6s;
  color:#fff;
  display: inline-block;
}
#set_languages {
  background:#000;
  width:300px;
  margin: 15px 0 0;
}
#language_selector+span {
  max-width:300px;
}
#notification {
  position: fixed;
  left:50%;
  top:-30vh;
  min-width:60vw;
  max-width:calc(100vw - 120px);
  box-shadow:0 0 30px rgba(0,0,0,.1);
  transform:translateX(-50%);
  z-index:100;
  border-radius:6px;
  /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
  padding: 40px;
  background:rgba(255,255,255,.97);
  transition:.6s;
  opacity:0;
}
#notification div {
  font-size:20px;
}
#notification.on {
  box-shadow:0 0 50px rgba(0,0,0,.2);
  top:20px;
  opacity:1;
}
.ico {
  width:25px;
  height:25px;
  display: inline-block;
  vertical-align: top;
  margin: 0 !important;
}
.ico.trash {
  background:url('../../core/components/icons/trash.svg') no-repeat center;
}

@media only screen and (max-width:600px) {
  #editor {
    padding: 20px;
  }
  #editor.on {
    top:auto;
    bottom: 0;
  }
  #editor .row {
    flex-wrap:wrap;
  }
  #editor .col, #editor .col:nth-child(3) {
    flex:0 0 100%;
    margin: 0;
    max-width:none;
  }
  #save {
    margin: 15px 0 0;
    padding: 10px 15px;
    width: 100%;
    border-radius:5px;
    text-transform: uppercase;
  }
  #editor textarea {
    border-radius:5px;
  }
  #editor .close {
    top: 10px;
  }
  #translations {
    > div {
      padding: 15px;
      > div {
        flex:0 0 100%;
        padding: 15px 0;
      }
      > div:nth-child(1) {
        border-bottom: 1px solid #ddd;
        padding-top: 0;
      }
      > div:nth-child(3) {
        padding:10px;
        background:#ddd;
        border-radius:5px;
        font-weight: lighter;
      }
    }
  }
  .search input {
    width: 100%;
  }
  #notification {
    min-width:auto;
    max-width:none;
    width:calc(100vw - 30px);
    left:15px;
    transform:none;
  }
}