table {
    width:100%;
    overflow:hidden;
    border-collapse: collapse;
}
table thead {
    background:#000;
}
table tbody {
    max-height:calc(100% - 40px);
    overflow-y:auto;
    display: block;
}
table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
table td {
    border:1px solid rgba(0,0,0,.1);
    cursor: pointer;
    width:50%;
}
table thead td {
    font-weight: normal;
    letter-spacing: 2px;
    padding:15px 10px;
    color:#fff;
}
table thead select {
    margin: 0;
    border:0;
    color:#fff;
    padding: 0;
}
table tbody td {
    padding: 10px;
}
table tr {
    transition:.6s;
}
table tbody tr:hover, table tbody tr.on {
    background:rgba(0,0,150,.1);
}
table tfoot td {
    padding:10px;
    text-align: center;
    color:royalblue;
    font-weight: bold;
    letter-spacing: 2px;
}
#data {
    margin-bottom: 360px;
}
#editor {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow:0 0 60px rgba(0,0,0,.2);
    height:360px;
    z-index:1;
    background:rgba(255,255,255,.95);
}
#en_translation {
    margin-bottom: 20px;
}
label {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color:royalblue;
}
textarea {
    box-shadow:0 0 20px rgba(0,0,0,.1) inset;
    resize:none;
}
#editor .actions {
    display: flex;
}
#editor .actions>div {
    flex-grow:1;
    margin:0;
}
#editor .right {
    text-align: right;
}
#editor .actions button, #add_lang {
    margin: 0 15px 0 0;
    background: darkslategrey;
    text-transform: uppercase;
    border-radius:5px;
    padding:10px 25px;
    cursor:pointer;
    transition:.6s;
    color:#fff;
}
#editor .actions .right button {
    margin:0 0 0 15px;
}
#editor .actions button:hover {
    opacity:.8
}
#editor #save {
    background:#0b8793;
}
#editor #build {
    background:#000;
}