header select {
    width:180px;
}
select, input, textarea {
    font-family:'Lato',sans-serif;
}
table {
    width:100%;
    overflow:hidden;
    border-collapse: collapse;
}
table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 18px;
    background:#fff;
    border-bottom: 2px solid #f3f3f3;
    border-radius: 10px;
}
table td {
    border-right:1px solid #f3f3f3;
    cursor: pointer;
    width:50%;
    font-weight: lighter;
    padding: 15px;
    position: relative;
}
table td:nth-child(3) {
    width:12vw;
    word-break: break-word;
}
table td:nth-child(4) {
    width: 50px;
    text-align: center;
}
table td span {
    position: absolute;
    right: 15px;
}
table tbody tr.on {
    background:rgba(0,0,0,.2);
}
table tbody tr:hover {
    background:rgba(0,0,150,.2);
}
table tfoot {
    text-align: center;
}
table tfoot button {
    margin:10px 8px 10px;
}
.row {
    display: flex;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
#data {
    margin-bottom: 100px;
}
#editor {
    position: fixed;
    top:-60px;
    left:3%;
    width:93%;
    box-sizing: border-box;
    padding: 40px 20px 20px;
    box-shadow:0 0 60px rgba(0,0,0,.2);
    z-index:1;
    background:rgba(255,255,255,.95);
    transition:.6s;
    opacity:0;
    pointer-events: none;
    border-radius:20px;
}
#editor.on {
    top:60px;
    opacity:1;
    pointer-events: all
}
#string {
    border-bottom-left-radius: 10px;
}
label {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color:royalblue;
}
textarea {
    box-shadow:0 0 20px rgba(0,0,0,.1) inset;
    resize:none;
    margin: 0;
}
#editor .actions {
    text-align: right;
}
#editor .close {
    background:url('../images/close.svg') no-repeat center / 70%;
    position: absolute;
    right:10px;
    top:25px;
    width:35px;
    height:35px;
    cursor: pointer;
}
#save {
    padding: 22px 0;
    margin: 22px 0 0 20px;
    width: calc(100% - 20px);
    background: #000;
    color: #fff;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
#editor .col:nth-child(3) {
    flex:0 0 100px;
    max-width:100px;
}
#editor .actions button, #set_languages {
    margin: 0 0 0 15px;
    background: darkslategrey;
    text-transform: uppercase;
    border-radius:5px;
    padding:10px 25px;
    cursor:pointer;
    transition:.6s;
    color:#fff;
    display: inline-block;
}
#set_languages {
    background:#000;
    width:300px;
    margin: 15px 0 0;
}
#language_selector+span {
    max-width:300px;
}
#editor .actions .right button {
    margin:0 0 0 15px;
}
#editor  button:hover {
    opacity:.8
}
#editor button.small {
    font-size: 10px;
    letter-spacing: 1px;
    background:#fff;
    border:1px solid grey;
    padding: 4px 8px;
    color:#000;
    margin:0 0 0 15px;
    border-radius:0;
    border-bottom:0;
    box-shadow:none;
}
#notification {
    position: fixed;
    left:50%;
    top:-30vh;
    min-width:60vw;
    max-width:calc(100vw - 120px);
    box-shadow:0 0 30px rgba(0,0,0,.1);
    transform:translateX(-50%);
    z-index:100;
    border-radius:6px;
    /*box-shadow:0 0 0 rgba(0,0,0,.1);*/
    padding: 40px;
    background:rgba(255,255,255,.97);
    transition:.6s;
    opacity:0;
}
#notification div {
    font-size:20px;
}
#notification.on {
    box-shadow:0 0 50px rgba(0,0,0,.2);
    top:20px;
    opacity:1;
}
.ico {
    width:25px;
    height:25px;
    display: inline-block;
    vertical-align: top;
    margin: 0 !important;
}
.ico.trash {
    background:url('../../core/components/icons/trash.svg') no-repeat center;
}

@media only screen and (max-width:600px) {
    #editor {
        padding: 20px;
    }
    #editor.on {
        top:auto;
        bottom: 0;
    }
    #editor .row {
        flex-wrap:wrap;
    }
    #editor .col, #editor .col:nth-child(3) {
        flex:0 0 100%;
        margin: 0;
        max-width:none;
    }
    #save {
        margin: 15px 0 0;
        padding: 10px 15px;
        width: 100%;
        border-radius:5px;
        text-transform: uppercase;
    }
    #editor textarea {
        border-radius:5px;
    }
    #editor .close {
        top: 10px;
    }
}