.file_modal, .file_notify {
    position:fixed;
    z-index:999;
    box-shadow:0 0 40px rgba(0,0,0,.2);
    border-radius:4px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    width:32vw;
    background:rgba(255,255,255,.95);
    display: none;
    min-width:360px;
}
.file_notify {
    z-index: 1000;
    padding: 20px 40px;
}
.file_notify.on {
    display: block;
}
.file_modal.hover {
    opacity:.7;
}
.file_modal.hover:after {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border:2px dashed #000;
    content:'';
    background:rgba(255,255,255,.75);
}
.file_modal .no_uploaded_files {
    padding: 80px 20px;
    text-align: center;
    letter-spacing: 2px;
    outline: 1px dashed #aaa;
    outline-offset: -25px;
}
.file_modal.hover:before {
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    font-size:22px;
    content:"Drop File to Upload";
    width:100%;
    text-align: center;
    z-index:999;
}
.file_modal .files_head {
    background:#333;
    position: relative;
    color:#fff;
}
.file_modal .files_head h3 {
    display: block;
    margin: 0;
    padding: 15px;
    text-align: center;
}
.files_head input {
    display: none;
}
.files_head .browse_file {
    padding:10px;
    margin: 0;
    display: block;
    position: relative;
    color:#fff;
    text-align: center;
    background:rgba(255,255,255,.05);
    font-size: 16px;
    font-weight: lighter;
    text-transform: none;
    cursor: pointer;
}
.files_head .browse_file i {
    margin-right: 10px;
}
.files_head>.close {
    background:url('../images/icons/close.svg') no-repeat center / 40%;
    position: absolute;
    right:4px;
    top:4px;
    width:40px;
    height:40px;
    cursor: pointer;
    padding: 0;
    z-index:10;
}
.files_insert span:nth-child(3), .files_insert.multiple span:nth-child(2) {
    display: none;
}
.files_insert.multiple span:nth-child(3) {
    display: inline-block;
}
.files_head .ico.file.browse {
    background:url('../images/icons/browse.svg') no-repeat center;
}
.fup_icon.uploaded_files {
    background:url('../images/icons/uploads.svg') no-repeat center 15px / 45px;
}
.fup_icon.camera_upload {
    background:url('../images/icons/camera.svg') no-repeat center 15px / 45px;
}
.file_modal .files_body {
    max-height:50vh;
    overflow-y:auto;
}
.file_modal .uploaded_files {
    min-height:260px;
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;
}
.fup_file, .uploaded_files>.uploading {
    font-size:12px;
    padding:50px 10px 15px 10px;
    background-image:url('../images/icons/file.svg');
    background-repeat: no-repeat;
    background-size:40px;
    background-position:50% 5px;
    cursor: pointer;
    white-space: nowrap;
    overflow:hidden;
    position: relative;
    flex:0 0 33.3337%;
    max-width:33.3337%;
    height:86px;
    text-align: center;
}
.fup_file.gif {
    background-image:url('../images/icons/files/gif.svg');
}
.fup_file.txt {
    background-image:url('../images/icons/files/txt.svg');
}
.fup_file.zip, .fup_file.rar, .fup_file.tar {
    background-image:url('../images/icons/files/zip.svg');
}
.fup_file.xls {
    background-image:url('../images/icons/files/xls.svg');
}
.fup_file.xlsx {
    background-image:url('../images/icons/files/xlsx.svg');
}
.fup_file.doc {
    background-image:url('../images/icons/files/doc.svg');
}
.fup_file.docx {
    background-image:url('../images/icons/files/docx.svg');
}
.fup_file.ppt {
    background-image:url('../images/icons/files/ppt.svg');
}
.fup_file.pdf {
    background-image:url('../images/icons/files/pdf.svg');
}
.fup_file.mp3 {
    background-image:url('../images/icons/files/mp3.svg');
}
.fup_file .name {
    overflow:hidden;
}
.fup_file .size, .uploading .perc {
    font-size: 10px;
    color:#aaa;
}
.fup_file.on {
    background-color:rgba(0,0,0,.1) !important;
}
.fup_file.new {
    background-color:rgba(73, 146, 255, 0.24) !important;
    animation:new_file linear 1s infinite;
    -webkit-animation:new_file linear 1s infinite;
}
@keyframes new_file {
    0% {background-color:rgba(0, 0, 0, 0)}
    25% {background-color:rgba(73, 146, 255, 0.24)}
    50% {background-color:rgba(73, 146, 255, 0.24)}
    100% {background-color:rgba(0, 0, 0, 0)}
}
@-webkit-keyframes new_file {
    0% {background-color:rgba(0, 0, 0, 0)}
    25% {background-color:rgba(73, 146, 255, 0.24)}
    50% {background-color:rgba(73, 146, 255, 0.24)}
    100% {background-color:rgba(0, 0, 0, 0)}
}
.fup_file:after {
    content: '';
    position: absolute;
    background: url(../images/icons/uncheck.svg) no-repeat center;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
}
.fup_file.on:after {
    background: url(../images/icons/check.svg) no-repeat center;
}
.uploaded_files .uploading .progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline:1px solid #eee;
    outline-offset: -1px;
    z-index: -1;
}
.uploaded_files .uploading .progress>div {
    height:100%;
    background: #eee;
    transition:1s;
    width:0;
}
.files_actions {
    display: flex;
    border-top:1px solid #eee;
}
.files_actions>div {
    height:45px;
    margin:0 auto;
    cursor: pointer;
    flex-grow:1;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
.files_actions>div:hover {
    background:rgba(0,0,0,.05)
}
.files_actions .files_delete.disabled {
    opacity:.3;
    pointer-events: none;
}
.files_actions .ico {
    display: inline-block;
    width:22px;
    height:22px;
    margin: 0 6px 0 0;
}
.files_actions .ico.file.select {
    background:url('../images/icons/select.svg') no-repeat center;
}
.files_actions .ico.file.trash {
    background:url('../images/icons/delete.svg') no-repeat center;
}