// Project Overview
#project_overview {
  h1 {
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 40px;
  }
  .project_info_set {
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,.05);
    margin-bottom: 20px;
  }
  .top .l {
    text-transform: uppercase;
  }
  .progress {
    border-radius: 4px;
    width: 100%;
    background: #ccc;
    margin: 10px 0 0;
    overflow: hidden;
    > div {
      height: 10px;
    }
    .g, .green {
      background: forestgreen;
    }
    .r, .red {
      background: firebrick;
    }
    .o, .orange {
      background: darkorange;
    }
    .bu, .blue {
      background: cornflowerblue;
    }
  }
  .base {
    margin-top: 10px;
    font-size: .8rem;
  }
}
// Project Features
.project_features {
  h3 {
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 1rem;
  }
  .feature_set {
    gap: 10px;
    .icon {
      flex: 0 0 40px;
      height: 40px;
      border-radius: 25px;
      text-align: center;
      box-shadow: 0 0 5px rgba(0,0,0,.1);
      color: #fff;
      i {
        line-height: 40px;
        width: 100%;
        height: 100%;
      }
    }
    .details {
      flex-grow: 1;
      h4 {
        margin: 0 0 4px;
        text-transform: uppercase;
      }
      h5 {
        margin: 0;
        opacity: .6;
        font-size: .8rem;
      }
    }
  }
}
.project_user_set {
  gap: 10px;
  .pic {
    width: 50px;
    height: 50px;
  }
  .details {
    flex-grow: 1;
    > div {
      text-align: left;
    }
    .name {
      font-weight: 500;
      margin: 0 0 6px;
    }
    .title {
      font-size: .8rem;
      opacity: .6;
      margin: 0;
    }
  }
}

// Project Scope
.project_scope {
  .scope_set {
    margin-bottom: 20px;
    h2 {
      font-size: 1.2rem;
      margin: 0 0 15px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0;
    }
  }
  td:nth-child(3) {
    text-align: left;
  }
}

// Generic

table {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border: 0;
  border-collapse: collapse;
  thead {
    th, td {
      padding: 15px 5px;
      font-weight: 500;
      font-size: .9rem;
      text-transform: uppercase;
      border: 0;
    }
  }
  tbody {
    td {
      border: 0;
      padding: 10px 5px;
      font-size: .8rem;
      text-align: center;
    }
    .name {
      font-size: 1rem;
      margin-bottom: 5px;
    }
    .desc {
      opacity: .8;
    }
  }
  tbody:nth-child(even) {
    background: rgba(0,0,0,.02);
  }
  tbody:nth-child(odd) {
    background: rgba(0,0,0,.06);
  }
  tfoot {
    td {
      padding: 10px 5px;
      font-size: .8rem;
      opacity: .3;
      text-align: center;
      font-weight: 500;
    }
  }
  .status {
    font-size: .7rem;
    line-height: .7rem;
    padding: 4px 15px;
    border-radius: 15px;
    background: #ddd;
    display: inline-block;
  }
  .status.g, .status.green, .status.done {
    background: forestgreen;
    color: #fff;
  }
  .status.o, .status.orange, .status.pending {
    background: darkorange;
    color: #fff;
  }
  .status.r, .status.red {
    background: firebrick;
    color: #fff;
  }
  .view {

  }
  .edit {
    display: none;
  }
}